=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class AlertRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an alert rule
    # Creates a metric-threshold alert rule. `name`, `metricId`, `comparator`, and `threshold` are required; `windowHours` defaults to `24`, `severity` to `warn`, and `enabled` to `true`.  Returns `404` if `metricId` does not resolve, and `400` for a metric with no scalar form over a window (e.g. retention metrics) — the cron can't evaluate those.  **Use cases**  - **Threshold alert** — warn when an error/latency metric crosses a value over a rolling window. - **Routed alert** — set `notify` to page a specific Slack channel or on-call email instead of the project default.
    # @param create_alert_rule_request [CreateAlertRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateAlertRuleResponse]
    def create_alert_rule(create_alert_rule_request, opts = {})
      data, _status_code, _headers = create_alert_rule_with_http_info(create_alert_rule_request, opts)
      data
    end

    # Create an alert rule
    # Creates a metric-threshold alert rule. &#x60;name&#x60;, &#x60;metricId&#x60;, &#x60;comparator&#x60;, and &#x60;threshold&#x60; are required; &#x60;windowHours&#x60; defaults to &#x60;24&#x60;, &#x60;severity&#x60; to &#x60;warn&#x60;, and &#x60;enabled&#x60; to &#x60;true&#x60;.  Returns &#x60;404&#x60; if &#x60;metricId&#x60; does not resolve, and &#x60;400&#x60; for a metric with no scalar form over a window (e.g. retention metrics) — the cron can&#39;t evaluate those.  **Use cases**  - **Threshold alert** — warn when an error/latency metric crosses a value over a rolling window. - **Routed alert** — set &#x60;notify&#x60; to page a specific Slack channel or on-call email instead of the project default.
    # @param create_alert_rule_request [CreateAlertRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateAlertRuleResponse, Integer, Hash)>] CreateAlertRuleResponse data, response status code and response headers
    def create_alert_rule_with_http_info(create_alert_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRulesApi.create_alert_rule ...'
      end
      # verify the required parameter 'create_alert_rule_request' is set
      if @api_client.config.client_side_validation && create_alert_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_alert_rule_request' when calling AlertRulesApi.create_alert_rule"
      end
      # resource path
      local_var_path = '/api/admin/alert-rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_alert_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAlertRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AlertRulesApi.create_alert_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRulesApi#create_alert_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an alert rule
    # Deletes the alert rule. The cron stops evaluating it immediately. Use this (then create a new rule) to repoint alerting at a different metric, since `metricId` is immutable.  **Use case:** Remove an alert rule that is no longer needed, or as the first half of repointing a rule at a different metric.
    # @param id [String] Stable opaque alert-rule id (&#x60;ar_…&#x60;) or the rule&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteAlertRuleResponse]
    def delete_alert_rule(id, opts = {})
      data, _status_code, _headers = delete_alert_rule_with_http_info(id, opts)
      data
    end

    # Delete an alert rule
    # Deletes the alert rule. The cron stops evaluating it immediately. Use this (then create a new rule) to repoint alerting at a different metric, since &#x60;metricId&#x60; is immutable.  **Use case:** Remove an alert rule that is no longer needed, or as the first half of repointing a rule at a different metric.
    # @param id [String] Stable opaque alert-rule id (&#x60;ar_…&#x60;) or the rule&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteAlertRuleResponse, Integer, Hash)>] DeleteAlertRuleResponse data, response status code and response headers
    def delete_alert_rule_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRulesApi.delete_alert_rule ...'
      end
      # resource path
      local_var_path = '/api/admin/alert-rules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAlertRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AlertRulesApi.delete_alert_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRulesApi#delete_alert_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List alert rules
    # Returns every alert rule in the project (not paginated). Each rule carries its bound `metricId`, the denormalised `metricName` (or `null` if the metric was removed), the comparator/threshold/window, severity, enabled flag, and delivery target.  **Use case:** Audit which metrics have alerting configured — for example to confirm an on-call threshold is set before a launch.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<ListAlertRulesResponseInner>]
    def list_alert_rules(opts = {})
      data, _status_code, _headers = list_alert_rules_with_http_info(opts)
      data
    end

    # List alert rules
    # Returns every alert rule in the project (not paginated). Each rule carries its bound &#x60;metricId&#x60;, the denormalised &#x60;metricName&#x60; (or &#x60;null&#x60; if the metric was removed), the comparator/threshold/window, severity, enabled flag, and delivery target.  **Use case:** Audit which metrics have alerting configured — for example to confirm an on-call threshold is set before a launch.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(Array<ListAlertRulesResponseInner>, Integer, Hash)>] Array<ListAlertRulesResponseInner> data, response status code and response headers
    def list_alert_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRulesApi.list_alert_rules ...'
      end
      # resource path
      local_var_path = '/api/admin/alert-rules'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListAlertRulesResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AlertRulesApi.list_alert_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRulesApi#list_alert_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an alert rule
    # Partial update of a rule's tunable knobs. `metricId` is immutable — it is rejected by the schema (the metric also pins the aggregation), so delete + recreate to repoint a rule.  Pass `\"notify\": null` to revert the rule's delivery target back to the project default.  **Use cases**  - **Tune sensitivity** — change `threshold`/`comparator`/`windowHours` as the metric's baseline shifts. - **Pause without losing config** — `{ \"enabled\": false }` instead of deleting the rule.
    # @param id [String] Stable opaque alert-rule id (&#x60;ar_…&#x60;) or the rule&#39;s &#x60;name&#x60;.
    # @param update_alert_rule_request [UpdateAlertRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateAlertRuleResponse]
    def update_alert_rule(id, update_alert_rule_request, opts = {})
      data, _status_code, _headers = update_alert_rule_with_http_info(id, update_alert_rule_request, opts)
      data
    end

    # Update an alert rule
    # Partial update of a rule&#39;s tunable knobs. &#x60;metricId&#x60; is immutable — it is rejected by the schema (the metric also pins the aggregation), so delete + recreate to repoint a rule.  Pass &#x60;\&quot;notify\&quot;: null&#x60; to revert the rule&#39;s delivery target back to the project default.  **Use cases**  - **Tune sensitivity** — change &#x60;threshold&#x60;/&#x60;comparator&#x60;/&#x60;windowHours&#x60; as the metric&#39;s baseline shifts. - **Pause without losing config** — &#x60;{ \&quot;enabled\&quot;: false }&#x60; instead of deleting the rule.
    # @param id [String] Stable opaque alert-rule id (&#x60;ar_…&#x60;) or the rule&#39;s &#x60;name&#x60;.
    # @param update_alert_rule_request [UpdateAlertRuleRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateAlertRuleResponse, Integer, Hash)>] UpdateAlertRuleResponse data, response status code and response headers
    def update_alert_rule_with_http_info(id, update_alert_rule_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AlertRulesApi.update_alert_rule ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AlertRulesApi.update_alert_rule"
      end
      # verify the required parameter 'update_alert_rule_request' is set
      if @api_client.config.client_side_validation && update_alert_rule_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_alert_rule_request' when calling AlertRulesApi.update_alert_rule"
      end
      # resource path
      local_var_path = '/api/admin/alert-rules/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_alert_rule_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAlertRuleResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AlertRulesApi.update_alert_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AlertRulesApi#update_alert_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
