=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class APIKeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an API key
    # Mints a new API key and returns the plaintext token **once** — it is stored hashed and can never be retrieved again, so capture it on creation.  Only `type` is required. `env` is **required** for `server` and `client` keys (the key is bound to one environment, which is the read-env isolation boundary); for `admin` and `ops` keys `env` is ignored and the key is pinned to `prod`. Expiry is fixed for some types: `admin` keys always get a 90-day expiry and `ops` keys a short sliding window, regardless of `expiresInDays`. Only `server`/`client` keys count toward the plan key limit.  **Use cases**  - **Back-end key** — `{ \"type\": \"server\", \"env\": \"prod\" }` for the production server SDK. - **Public browser key** — `{ \"type\": \"client\", \"env\": \"prod\", \"name\": \"marketing site\" }` to embed in the browser SDK. - **Scoped, expiring key** — `{ \"type\": \"server\", \"env\": \"staging\", \"scopes\": [\"gates:evaluate\"], \"expiresInDays\": 30 }` for a time-boxed integration.
    # @param create_key_request [CreateKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateKeyResponse]
    def create_key(create_key_request, opts = {})
      data, _status_code, _headers = create_key_with_http_info(create_key_request, opts)
      data
    end

    # Create an API key
    # Mints a new API key and returns the plaintext token **once** — it is stored hashed and can never be retrieved again, so capture it on creation.  Only &#x60;type&#x60; is required. &#x60;env&#x60; is **required** for &#x60;server&#x60; and &#x60;client&#x60; keys (the key is bound to one environment, which is the read-env isolation boundary); for &#x60;admin&#x60; and &#x60;ops&#x60; keys &#x60;env&#x60; is ignored and the key is pinned to &#x60;prod&#x60;. Expiry is fixed for some types: &#x60;admin&#x60; keys always get a 90-day expiry and &#x60;ops&#x60; keys a short sliding window, regardless of &#x60;expiresInDays&#x60;. Only &#x60;server&#x60;/&#x60;client&#x60; keys count toward the plan key limit.  **Use cases**  - **Back-end key** — &#x60;{ \&quot;type\&quot;: \&quot;server\&quot;, \&quot;env\&quot;: \&quot;prod\&quot; }&#x60; for the production server SDK. - **Public browser key** — &#x60;{ \&quot;type\&quot;: \&quot;client\&quot;, \&quot;env\&quot;: \&quot;prod\&quot;, \&quot;name\&quot;: \&quot;marketing site\&quot; }&#x60; to embed in the browser SDK. - **Scoped, expiring key** — &#x60;{ \&quot;type\&quot;: \&quot;server\&quot;, \&quot;env\&quot;: \&quot;staging\&quot;, \&quot;scopes\&quot;: [\&quot;gates:evaluate\&quot;], \&quot;expiresInDays\&quot;: 30 }&#x60; for a time-boxed integration.
    # @param create_key_request [CreateKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateKeyResponse, Integer, Hash)>] CreateKeyResponse data, response status code and response headers
    def create_key_with_http_info(create_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.create_key ...'
      end
      # verify the required parameter 'create_key_request' is set
      if @api_client.config.client_side_validation && create_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_key_request' when calling APIKeysApi.create_key"
      end
      # resource path
      local_var_path = '/api/admin/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"APIKeysApi.create_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#create_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List API keys
    # Returns a single page of the project's API keys ordered by `created_at desc, id desc`, in the standard `{ data, next_cursor }` envelope. Use the `cursor` query parameter to paginate.  Response fields are **snake_case** (`created_at`, `revoked_at`, `created_by_email`, `last4`). The raw token is never returned — only its `last4` tail, so a held key can be matched against the masked row. Revoked keys are included (with a non-null `revoked_at`).  **Use case:** Audit which keys exist for a project — surface stale or never-expiring keys, or drive a CI check that asserts no `client` key is still active in `prod` after a rotation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [ListKeysResponse]
    def list_keys(opts = {})
      data, _status_code, _headers = list_keys_with_http_info(opts)
      data
    end

    # List API keys
    # Returns a single page of the project&#39;s API keys ordered by &#x60;created_at desc, id desc&#x60;, in the standard &#x60;{ data, next_cursor }&#x60; envelope. Use the &#x60;cursor&#x60; query parameter to paginate.  Response fields are **snake_case** (&#x60;created_at&#x60;, &#x60;revoked_at&#x60;, &#x60;created_by_email&#x60;, &#x60;last4&#x60;). The raw token is never returned — only its &#x60;last4&#x60; tail, so a held key can be matched against the masked row. Revoked keys are included (with a non-null &#x60;revoked_at&#x60;).  **Use case:** Audit which keys exist for a project — surface stale or never-expiring keys, or drive a CI check that asserts no &#x60;client&#x60; key is still active in &#x60;prod&#x60; after a rotation.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [Array<(ListKeysResponse, Integer, Hash)>] ListKeysResponse data, response status code and response headers
    def list_keys_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.list_keys ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling APIKeysApi.list_keys, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling APIKeysApi.list_keys, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/keys'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListKeysResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"APIKeysApi.list_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#list_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Revoke an API key
    # Revokes a key by id — stamps its `revoked_at` and deletes the hot-path KV entry so the token stops authenticating immediately. Takes no body.  Idempotent: revoking an already-revoked key is a no-op and returns the same `{ id, revoked: true }`. Returns `404` if no such key exists in the project.  **Use case:** Rotate a leaked or stale credential — mint the replacement, then revoke the old key.
    # @param id [String] Stable opaque key id (UUID) returned by &#x60;create&#x60; / &#x60;list&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [RevokeKeyResponse]
    def revoke_key(id, opts = {})
      data, _status_code, _headers = revoke_key_with_http_info(id, opts)
      data
    end

    # Revoke an API key
    # Revokes a key by id — stamps its &#x60;revoked_at&#x60; and deletes the hot-path KV entry so the token stops authenticating immediately. Takes no body.  Idempotent: revoking an already-revoked key is a no-op and returns the same &#x60;{ id, revoked: true }&#x60;. Returns &#x60;404&#x60; if no such key exists in the project.  **Use case:** Rotate a leaked or stale credential — mint the replacement, then revoke the old key.
    # @param id [String] Stable opaque key id (UUID) returned by &#x60;create&#x60; / &#x60;list&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(RevokeKeyResponse, Integer, Hash)>] RevokeKeyResponse data, response status code and response headers
    def revoke_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: APIKeysApi.revoke_key ...'
      end
      # resource path
      local_var_path = '/api/admin/keys/{id}/revoke'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RevokeKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"APIKeysApi.revoke_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: APIKeysApi#revoke_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
