=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class AttributesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Declare a targeting attribute
    # Declare a targeting attribute the SDK reports and gates/experiments can target. `type: enum` requires `enum_values`.  **Use case:** Register a `plan` or `country` attribute so targeting rules can reference it.
    # @param create_attribute_request [CreateAttributeRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateAttributeResponse]
    def create_attribute(create_attribute_request, opts = {})
      data, _status_code, _headers = create_attribute_with_http_info(create_attribute_request, opts)
      data
    end

    # Declare a targeting attribute
    # Declare a targeting attribute the SDK reports and gates/experiments can target. &#x60;type: enum&#x60; requires &#x60;enum_values&#x60;.  **Use case:** Register a &#x60;plan&#x60; or &#x60;country&#x60; attribute so targeting rules can reference it.
    # @param create_attribute_request [CreateAttributeRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateAttributeResponse, Integer, Hash)>] CreateAttributeResponse data, response status code and response headers
    def create_attribute_with_http_info(create_attribute_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributesApi.create_attribute ...'
      end
      # verify the required parameter 'create_attribute_request' is set
      if @api_client.config.client_side_validation && create_attribute_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_attribute_request' when calling AttributesApi.create_attribute"
      end
      # resource path
      local_var_path = '/api/admin/attributes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_attribute_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAttributeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AttributesApi.create_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributesApi#create_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive a targeting attribute
    # Soft-deletes (archives) a targeting attribute.  **Use case:** Retire an attribute no targeting rule references anymore (the user-facing verb is `archive`).
    # @param id [String] The attribute id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteAttributeResponse]
    def delete_attribute(id, opts = {})
      data, _status_code, _headers = delete_attribute_with_http_info(id, opts)
      data
    end

    # Archive a targeting attribute
    # Soft-deletes (archives) a targeting attribute.  **Use case:** Retire an attribute no targeting rule references anymore (the user-facing verb is &#x60;archive&#x60;).
    # @param id [String] The attribute id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteAttributeResponse, Integer, Hash)>] DeleteAttributeResponse data, response status code and response headers
    def delete_attribute_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributesApi.delete_attribute ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttributesApi.delete_attribute"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling AttributesApi.delete_attribute, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling AttributesApi.delete_attribute, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/attributes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteAttributeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AttributesApi.delete_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributesApi#delete_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a targeting attribute
    # Fetch one targeting attribute by id.  **Use case:** Inspect an attribute's declared type + allowed values before editing it.
    # @param id [String] The attribute id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetAttributeResponse]
    def get_attribute(id, opts = {})
      data, _status_code, _headers = get_attribute_with_http_info(id, opts)
      data
    end

    # Get a targeting attribute
    # Fetch one targeting attribute by id.  **Use case:** Inspect an attribute&#39;s declared type + allowed values before editing it.
    # @param id [String] The attribute id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetAttributeResponse, Integer, Hash)>] GetAttributeResponse data, response status code and response headers
    def get_attribute_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributesApi.get_attribute ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttributesApi.get_attribute"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling AttributesApi.get_attribute, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling AttributesApi.get_attribute, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/attributes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAttributeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AttributesApi.get_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributesApi#get_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List targeting attributes
    # Returns every auto-inferred targeting attribute in the project — the `name` and (when known) the value `type` — for building gate/experiment targeting rules.  **Use case:** Discover which user-context keys are available before authoring a targeting rule, instead of guessing attribute names.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @return [Array<ListAttributesResponseInner>]
    def list_attributes(opts = {})
      data, _status_code, _headers = list_attributes_with_http_info(opts)
      data
    end

    # List targeting attributes
    # Returns every auto-inferred targeting attribute in the project — the &#x60;name&#x60; and (when known) the value &#x60;type&#x60; — for building gate/experiment targeting rules.  **Use case:** Discover which user-context keys are available before authoring a targeting rule, instead of guessing attribute names.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @return [Array<(Array<ListAttributesResponseInner>, Integer, Hash)>] Array<ListAttributesResponseInner> data, response status code and response headers
    def list_attributes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributesApi.list_attributes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling AttributesApi.list_attributes, the character length must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/api/admin/attributes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListAttributesResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AttributesApi.list_attributes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributesApi#list_attributes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a targeting attribute
    # Update a targeting attribute's type, allowed values, required flag, description, or SDK path. `name` is immutable.  **Use case:** Add an allowed value to an `enum` attribute, or flip its required flag.
    # @param id [String] The attribute id.
    # @param update_attribute_request [UpdateAttributeRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateAttributeResponse]
    def update_attribute(id, update_attribute_request, opts = {})
      data, _status_code, _headers = update_attribute_with_http_info(id, update_attribute_request, opts)
      data
    end

    # Update a targeting attribute
    # Update a targeting attribute&#39;s type, allowed values, required flag, description, or SDK path. &#x60;name&#x60; is immutable.  **Use case:** Add an allowed value to an &#x60;enum&#x60; attribute, or flip its required flag.
    # @param id [String] The attribute id.
    # @param update_attribute_request [UpdateAttributeRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateAttributeResponse, Integer, Hash)>] UpdateAttributeResponse data, response status code and response headers
    def update_attribute_with_http_info(id, update_attribute_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AttributesApi.update_attribute ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AttributesApi.update_attribute"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling AttributesApi.update_attribute, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling AttributesApi.update_attribute, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_attribute_request' is set
      if @api_client.config.client_side_validation && update_attribute_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_attribute_request' when calling AttributesApi.update_attribute"
      end
      # resource path
      local_var_path = '/api/admin/attributes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_attribute_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateAttributeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"AttributesApi.update_attribute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AttributesApi#update_attribute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
