=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class CommentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Comment on an item
    # Append a comment to a queue item's thread. The body is markdown (mentions like `@teammate` notify that person; `@shipeasy` asks Jarvis, the AI agent, to reply). Pass `parentId` to reply under an existing top-level comment (one level of threading — a reply to a reply attaches to the same parent).  Create-only and append-only, so it is safe for restricted ops keys — the same channel the ops loop and Jarvis use to leave a note on an item.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param create_ops_comment_request [CreateOpsCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateOpsCommentResponse]
    def create_ops_comment(handle, create_ops_comment_request, opts = {})
      data, _status_code, _headers = create_ops_comment_with_http_info(handle, create_ops_comment_request, opts)
      data
    end

    # Comment on an item
    # Append a comment to a queue item&#39;s thread. The body is markdown (mentions like &#x60;@teammate&#x60; notify that person; &#x60;@shipeasy&#x60; asks Jarvis, the AI agent, to reply). Pass &#x60;parentId&#x60; to reply under an existing top-level comment (one level of threading — a reply to a reply attaches to the same parent).  Create-only and append-only, so it is safe for restricted ops keys — the same channel the ops loop and Jarvis use to leave a note on an item.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param create_ops_comment_request [CreateOpsCommentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateOpsCommentResponse, Integer, Hash)>] CreateOpsCommentResponse data, response status code and response headers
    def create_ops_comment_with_http_info(handle, create_ops_comment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.create_ops_comment ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling CommentsApi.create_ops_comment"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling CommentsApi.create_ops_comment, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling CommentsApi.create_ops_comment, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'create_ops_comment_request' is set
      if @api_client.config.client_side_validation && create_ops_comment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ops_comment_request' when calling CommentsApi.create_ops_comment"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}/comments'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ops_comment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOpsCommentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"CommentsApi.create_ops_comment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#create_ops_comment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List an item's comments
    # List the comment thread on a queue item, oldest first. Each comment carries its author (a teammate email, or `system` for a comment authored by Jarvis — the AI agent), its markdown body, and `parentId` for the single level of threaded replies. Removed comments are omitted.  **Use case:** Read the discussion on an item before replying or acting on it.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ListOpsCommentsResponse]
    def list_ops_comments(handle, opts = {})
      data, _status_code, _headers = list_ops_comments_with_http_info(handle, opts)
      data
    end

    # List an item&#39;s comments
    # List the comment thread on a queue item, oldest first. Each comment carries its author (a teammate email, or &#x60;system&#x60; for a comment authored by Jarvis — the AI agent), its markdown body, and &#x60;parentId&#x60; for the single level of threaded replies. Removed comments are omitted.  **Use case:** Read the discussion on an item before replying or acting on it.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ListOpsCommentsResponse, Integer, Hash)>] ListOpsCommentsResponse data, response status code and response headers
    def list_ops_comments_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CommentsApi.list_ops_comments ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling CommentsApi.list_ops_comments"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling CommentsApi.list_ops_comments, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling CommentsApi.list_ops_comments, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops/{handle}/comments'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOpsCommentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"CommentsApi.list_ops_comments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CommentsApi#list_ops_comments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
