=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class ConfigsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a dynamic config
    # Creates a new config with the given `schema`. The initial `value` (or an empty object) is published as version 1 on **every** env.  Returns `409` if `name` already exists in the project, `400` if `value` doesn't validate against `schema`.  **Use cases**  - **Minimal create** — `name` + `schema`. Initial value defaults to `{}`. - **Seeded create** — supply a flat `value` to publish the same object on every env. - **Per-env seed** — supply a `{ env: value }` map for different per-env starting values.
    # @param create_config_request [CreateConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateConfigResponse]
    def create_config(create_config_request, opts = {})
      data, _status_code, _headers = create_config_with_http_info(create_config_request, opts)
      data
    end

    # Create a dynamic config
    # Creates a new config with the given &#x60;schema&#x60;. The initial &#x60;value&#x60; (or an empty object) is published as version 1 on **every** env.  Returns &#x60;409&#x60; if &#x60;name&#x60; already exists in the project, &#x60;400&#x60; if &#x60;value&#x60; doesn&#39;t validate against &#x60;schema&#x60;.  **Use cases**  - **Minimal create** — &#x60;name&#x60; + &#x60;schema&#x60;. Initial value defaults to &#x60;{}&#x60;. - **Seeded create** — supply a flat &#x60;value&#x60; to publish the same object on every env. - **Per-env seed** — supply a &#x60;{ env: value }&#x60; map for different per-env starting values.
    # @param create_config_request [CreateConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateConfigResponse, Integer, Hash)>] CreateConfigResponse data, response status code and response headers
    def create_config_with_http_info(create_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.create_config ...'
      end
      # verify the required parameter 'create_config_request' is set
      if @api_client.config.client_side_validation && create_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_config_request' when calling ConfigsApi.create_config"
      end
      # resource path
      local_var_path = '/api/admin/configs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.create_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#create_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a dynamic config
    # Soft-deletes the config and rebuilds the project's flags KV blob.  **Use case:** Tear down a config after its consumers have stopped reading it.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteConfigResponse]
    def delete_config(id, opts = {})
      data, _status_code, _headers = delete_config_with_http_info(id, opts)
      data
    end

    # Delete a dynamic config
    # Soft-deletes the config and rebuilds the project&#39;s flags KV blob.  **Use case:** Tear down a config after its consumers have stopped reading it.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteConfigResponse, Integer, Hash)>] DeleteConfigResponse data, response status code and response headers
    def delete_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.delete_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.delete_config"
      end
      # resource path
      local_var_path = '/api/admin/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.delete_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#delete_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Discard a draft
    # Drops the in-flight draft on one env. Published values are unaffected.  **Use case:** Abandon an in-progress draft after deciding not to ship it.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param discard_config_draft_request [DiscardConfigDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DiscardConfigDraftResponse]
    def discard_config_draft(id, discard_config_draft_request, opts = {})
      data, _status_code, _headers = discard_config_draft_with_http_info(id, discard_config_draft_request, opts)
      data
    end

    # Discard a draft
    # Drops the in-flight draft on one env. Published values are unaffected.  **Use case:** Abandon an in-progress draft after deciding not to ship it.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param discard_config_draft_request [DiscardConfigDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DiscardConfigDraftResponse, Integer, Hash)>] DiscardConfigDraftResponse data, response status code and response headers
    def discard_config_draft_with_http_info(id, discard_config_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.discard_config_draft ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.discard_config_draft"
      end
      # verify the required parameter 'discard_config_draft_request' is set
      if @api_client.config.client_side_validation && discard_config_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'discard_config_draft_request' when calling ConfigsApi.discard_config_draft"
      end
      # resource path
      local_var_path = '/api/admin/configs/{id}/drafts'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(discard_config_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DiscardConfigDraftResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.discard_config_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#discard_config_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one config
    # Returns config metadata plus the latest published values per env and any active draft values. Use this to fetch the JSON the editor renders.  **Use case:** Fetch one config's current published values and any in-flight drafts.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetConfigResponse]
    def get_config(id, opts = {})
      data, _status_code, _headers = get_config_with_http_info(id, opts)
      data
    end

    # Get one config
    # Returns config metadata plus the latest published values per env and any active draft values. Use this to fetch the JSON the editor renders.  **Use case:** Fetch one config&#39;s current published values and any in-flight drafts.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetConfigResponse, Integer, Hash)>] GetConfigResponse data, response status code and response headers
    def get_config_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.get_config ...'
      end
      # resource path
      local_var_path = '/api/admin/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.get_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#get_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List config activity
    # Returns recent audit rows for one config (create, update, draft.save, publish, delete) ordered newest first. Use the `limit` query parameter to cap the result (1–100, default 20).  **Use case:** Render the activity panel in the config editor or drive a slack notification on publish events.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Max rows to return (1–100). Defaults to 20. (default to 20)
    # @return [Array<ListConfigActivityResponseInner>]
    def list_config_activity(id, opts = {})
      data, _status_code, _headers = list_config_activity_with_http_info(id, opts)
      data
    end

    # List config activity
    # Returns recent audit rows for one config (create, update, draft.save, publish, delete) ordered newest first. Use the &#x60;limit&#x60; query parameter to cap the result (1–100, default 20).  **Use case:** Render the activity panel in the config editor or drive a slack notification on publish events.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Max rows to return (1–100). Defaults to 20. (default to 20)
    # @return [Array<(Array<ListConfigActivityResponseInner>, Integer, Hash)>] Array<ListConfigActivityResponseInner> data, response status code and response headers
    def list_config_activity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.list_config_activity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.list_config_activity"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConfigsApi.list_config_activity, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConfigsApi.list_config_activity, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/configs/{id}/activity'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListConfigActivityResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.list_config_activity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#list_config_activity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List dynamic configs
    # Returns a single page of configs ordered by `updated_at desc, id desc`. Each row includes the latest published `version` per env and any active drafts.  **Use case:** Snapshot every config in the project — e.g. CI check that asserts no env is stuck on a stale default or that every config has a published value on prod.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [ListConfigsResponse]
    def list_configs(opts = {})
      data, _status_code, _headers = list_configs_with_http_info(opts)
      data
    end

    # List dynamic configs
    # Returns a single page of configs ordered by &#x60;updated_at desc, id desc&#x60;. Each row includes the latest published &#x60;version&#x60; per env and any active drafts.  **Use case:** Snapshot every config in the project — e.g. CI check that asserts no env is stuck on a stale default or that every config has a published value on prod.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [Array<(ListConfigsResponse, Integer, Hash)>] ListConfigsResponse data, response status code and response headers
    def list_configs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.list_configs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConfigsApi.list_configs, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ConfigsApi.list_configs, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/configs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListConfigsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.list_configs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#list_configs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish a draft
    # Promotes the staged draft on one env to a new published version. The draft must still validate against the current schema.  Returns `404` if there is no draft for the given env.  **Use case:** Ship a staged change once you've validated it on a lower env.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param publish_config_draft_request [PublishConfigDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [PublishConfigDraftResponse]
    def publish_config_draft(id, publish_config_draft_request, opts = {})
      data, _status_code, _headers = publish_config_draft_with_http_info(id, publish_config_draft_request, opts)
      data
    end

    # Publish a draft
    # Promotes the staged draft on one env to a new published version. The draft must still validate against the current schema.  Returns &#x60;404&#x60; if there is no draft for the given env.  **Use case:** Ship a staged change once you&#39;ve validated it on a lower env.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param publish_config_draft_request [PublishConfigDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(PublishConfigDraftResponse, Integer, Hash)>] PublishConfigDraftResponse data, response status code and response headers
    def publish_config_draft_with_http_info(id, publish_config_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.publish_config_draft ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.publish_config_draft"
      end
      # verify the required parameter 'publish_config_draft_request' is set
      if @api_client.config.client_side_validation && publish_config_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'publish_config_draft_request' when calling ConfigsApi.publish_config_draft"
      end
      # resource path
      local_var_path = '/api/admin/configs/{id}/publish'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(publish_config_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PublishConfigDraftResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.publish_config_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#publish_config_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save a draft value
    # Stages a value for one env without publishing. The draft is validated against the config's current schema and stored alongside the `baseVersion` it was forked from.  Saving over an existing draft overwrites it. Use `POST /{id}/publish` to promote it to a new published version.  **Use case:** Iterate on a config value on dev without affecting prod — preview in staging, then publish.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param save_config_draft_request [SaveConfigDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [SaveConfigDraftResponse]
    def save_config_draft(id, save_config_draft_request, opts = {})
      data, _status_code, _headers = save_config_draft_with_http_info(id, save_config_draft_request, opts)
      data
    end

    # Save a draft value
    # Stages a value for one env without publishing. The draft is validated against the config&#39;s current schema and stored alongside the &#x60;baseVersion&#x60; it was forked from.  Saving over an existing draft overwrites it. Use &#x60;POST /{id}/publish&#x60; to promote it to a new published version.  **Use case:** Iterate on a config value on dev without affecting prod — preview in staging, then publish.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param save_config_draft_request [SaveConfigDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(SaveConfigDraftResponse, Integer, Hash)>] SaveConfigDraftResponse data, response status code and response headers
    def save_config_draft_with_http_info(id, save_config_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.save_config_draft ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.save_config_draft"
      end
      # verify the required parameter 'save_config_draft_request' is set
      if @api_client.config.client_side_validation && save_config_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'save_config_draft_request' when calling ConfigsApi.save_config_draft"
      end
      # resource path
      local_var_path = '/api/admin/configs/{id}/drafts'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(save_config_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SaveConfigDraftResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.save_config_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#save_config_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a dynamic config
    # Partial update. When `value` is supplied it is **republished on every env** (new version per env). When `schema` is supplied it replaces the current schema; every existing value is re-validated.  For env-scoped edits, use the draft/publish flow (`PUT /{id}/drafts` then `POST /{id}/publish`) instead.  **Use cases**  - **Republish flat value** — `{ \"value\": {…} }` sets the same value on every env. - **Schema migration** — `{ \"schema\": {…} }` replaces the schema; existing values are re-validated. - **Env-scoped edits** — use `PUT /{id}/drafts` + `POST /{id}/publish` instead of PATCH.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param update_config_request [UpdateConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateConfigResponse]
    def update_config(id, update_config_request, opts = {})
      data, _status_code, _headers = update_config_with_http_info(id, update_config_request, opts)
      data
    end

    # Update a dynamic config
    # Partial update. When &#x60;value&#x60; is supplied it is **republished on every env** (new version per env). When &#x60;schema&#x60; is supplied it replaces the current schema; every existing value is re-validated.  For env-scoped edits, use the draft/publish flow (&#x60;PUT /{id}/drafts&#x60; then &#x60;POST /{id}/publish&#x60;) instead.  **Use cases**  - **Republish flat value** — &#x60;{ \&quot;value\&quot;: {…} }&#x60; sets the same value on every env. - **Schema migration** — &#x60;{ \&quot;schema\&quot;: {…} }&#x60; replaces the schema; existing values are re-validated. - **Env-scoped edits** — use &#x60;PUT /{id}/drafts&#x60; + &#x60;POST /{id}/publish&#x60; instead of PATCH.
    # @param id [String] Stable opaque config id (&#x60;cfg_…&#x60;) or the config&#39;s &#x60;name&#x60;.
    # @param update_config_request [UpdateConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateConfigResponse, Integer, Hash)>] UpdateConfigResponse data, response status code and response headers
    def update_config_with_http_info(id, update_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConfigsApi.update_config ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConfigsApi.update_config"
      end
      # verify the required parameter 'update_config_request' is set
      if @api_client.config.client_side_validation && update_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_config_request' when calling ConfigsApi.update_config"
      end
      # resource path
      local_var_path = '/api/admin/configs/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConfigsApi.update_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConfigsApi#update_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
