=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class ConnectorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a connector
    # Creates a connector. The request body is discriminated on `provider`.  - **OAuth/app providers** (`google_sheets`, `github`, `slack`) — supply `{ provider, name, events }`. The connector is created `enabled: false` with empty `config` and no credentials; the provider's OAuth flow then attaches credentials and enables it. - **Trigger providers** (`claude_trigger`, `cursor_trigger`, `copilot_trigger`, `jules_trigger`) — supply `config` plus the provider's credential field(s) and the connector is fireable immediately. Trigger creates are **idempotent** by their natural key (`config.routineId` / `config.repoUrl` / `config.owner`+`config.repo` / `config.source`): re-creating updates the existing row rather than duplicating it.  **Use cases**  - **File bugs as GitHub Issues** — `{ \"provider\": \"github\", \"name\": \"Bugs → acme/app\", \"events\": [\"bug.created\"] }`, then finish the GitHub App install. - **Nightly ops sweep** — register a `claude_trigger` with its `routineId` and (optionally) a fire `token`; subscribe `events` later to auto-fire on new bugs. - **Cold cloud-agent run** — register a `cursor_trigger`/`jules_trigger` with the repo coordinates plus both keys, or a `copilot_trigger` with the repo + user PAT.
    # @param create_connector_request [CreateConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateConnectorResponse]
    def create_connector(create_connector_request, opts = {})
      data, _status_code, _headers = create_connector_with_http_info(create_connector_request, opts)
      data
    end

    # Create a connector
    # Creates a connector. The request body is discriminated on &#x60;provider&#x60;.  - **OAuth/app providers** (&#x60;google_sheets&#x60;, &#x60;github&#x60;, &#x60;slack&#x60;) — supply &#x60;{ provider, name, events }&#x60;. The connector is created &#x60;enabled: false&#x60; with empty &#x60;config&#x60; and no credentials; the provider&#39;s OAuth flow then attaches credentials and enables it. - **Trigger providers** (&#x60;claude_trigger&#x60;, &#x60;cursor_trigger&#x60;, &#x60;copilot_trigger&#x60;, &#x60;jules_trigger&#x60;) — supply &#x60;config&#x60; plus the provider&#39;s credential field(s) and the connector is fireable immediately. Trigger creates are **idempotent** by their natural key (&#x60;config.routineId&#x60; / &#x60;config.repoUrl&#x60; / &#x60;config.owner&#x60;+&#x60;config.repo&#x60; / &#x60;config.source&#x60;): re-creating updates the existing row rather than duplicating it.  **Use cases**  - **File bugs as GitHub Issues** — &#x60;{ \&quot;provider\&quot;: \&quot;github\&quot;, \&quot;name\&quot;: \&quot;Bugs → acme/app\&quot;, \&quot;events\&quot;: [\&quot;bug.created\&quot;] }&#x60;, then finish the GitHub App install. - **Nightly ops sweep** — register a &#x60;claude_trigger&#x60; with its &#x60;routineId&#x60; and (optionally) a fire &#x60;token&#x60;; subscribe &#x60;events&#x60; later to auto-fire on new bugs. - **Cold cloud-agent run** — register a &#x60;cursor_trigger&#x60;/&#x60;jules_trigger&#x60; with the repo coordinates plus both keys, or a &#x60;copilot_trigger&#x60; with the repo + user PAT.
    # @param create_connector_request [CreateConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateConnectorResponse, Integer, Hash)>] CreateConnectorResponse data, response status code and response headers
    def create_connector_with_http_info(create_connector_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.create_connector ...'
      end
      # verify the required parameter 'create_connector_request' is set
      if @api_client.config.client_side_validation && create_connector_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_connector_request' when calling ConnectorsApi.create_connector"
      end
      # resource path
      local_var_path = '/api/admin/connectors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_connector_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateConnectorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.create_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#create_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a connector
    # Permanently removes the connector and its stored credentials.  **Use case:** Disconnect an integration for good — e.g. tear down a `github` connector after migrating bug routing elsewhere.
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteConnectorResponse]
    def delete_connector(id, opts = {})
      data, _status_code, _headers = delete_connector_with_http_info(id, opts)
      data
    end

    # Delete a connector
    # Permanently removes the connector and its stored credentials.  **Use case:** Disconnect an integration for good — e.g. tear down a &#x60;github&#x60; connector after migrating bug routing elsewhere.
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteConnectorResponse, Integer, Hash)>] DeleteConnectorResponse data, response status code and response headers
    def delete_connector_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.delete_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorsApi.delete_connector"
      end
      # resource path
      local_var_path = '/api/admin/connectors/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteConnectorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.delete_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#delete_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fire a trigger connector
    # Manually kicks a trigger connector's run — Claude (kicks its preconfigured routine) or Cursor / Copilot / Jules (launches a cold cloud-agent run). Firing is event-less: it kicks the run with an optional caller-supplied prompt override rather than dispatching a single lifecycle payload.  Only trigger providers can be fired, and only once authenticated (a tokenless trigger cannot fire). The attempt's outcome is recorded on the connector's `lastAttemptAt` / `lastError` / `lastSuccessAt`.  **Use case:** Kick a one-off ops sweep on demand from the dashboard's \"Fire now\" button, optionally overriding the routine's default prompt.
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [FireConnectorRequest] :fire_connector_request 
    # @return [FireConnectorResponse]
    def fire_connector(id, opts = {})
      data, _status_code, _headers = fire_connector_with_http_info(id, opts)
      data
    end

    # Fire a trigger connector
    # Manually kicks a trigger connector&#39;s run — Claude (kicks its preconfigured routine) or Cursor / Copilot / Jules (launches a cold cloud-agent run). Firing is event-less: it kicks the run with an optional caller-supplied prompt override rather than dispatching a single lifecycle payload.  Only trigger providers can be fired, and only once authenticated (a tokenless trigger cannot fire). The attempt&#39;s outcome is recorded on the connector&#39;s &#x60;lastAttemptAt&#x60; / &#x60;lastError&#x60; / &#x60;lastSuccessAt&#x60;.  **Use case:** Kick a one-off ops sweep on demand from the dashboard&#39;s \&quot;Fire now\&quot; button, optionally overriding the routine&#39;s default prompt.
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [FireConnectorRequest] :fire_connector_request 
    # @return [Array<(FireConnectorResponse, Integer, Hash)>] FireConnectorResponse data, response status code and response headers
    def fire_connector_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.fire_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorsApi.fire_connector"
      end
      # resource path
      local_var_path = '/api/admin/connectors/{id}/fire'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'fire_connector_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FireConnectorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.fire_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#fire_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a connector
    # Returns a single connector by id. The encrypted credentials are never serialised.  **Use case:** Inspect one connector's health — its `enabled` state, subscribed `events`, and last-attempt outcome (`lastError`/`lastSuccessAt`).
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ConnectorRecord]
    def get_connector(id, opts = {})
      data, _status_code, _headers = get_connector_with_http_info(id, opts)
      data
    end

    # Get a connector
    # Returns a single connector by id. The encrypted credentials are never serialised.  **Use case:** Inspect one connector&#39;s health — its &#x60;enabled&#x60; state, subscribed &#x60;events&#x60;, and last-attempt outcome (&#x60;lastError&#x60;/&#x60;lastSuccessAt&#x60;).
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ConnectorRecord, Integer, Hash)>] ConnectorRecord data, response status code and response headers
    def get_connector_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.get_connector ...'
      end
      # resource path
      local_var_path = '/api/admin/connectors/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectorRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.get_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#get_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List connectors
    # Returns every connector in the project as a bare array (no pagination envelope).  The encrypted credentials backing each connector are never serialised — only the connector's non-secret `config`, `accountLabel`, and last-attempt health (`lastError`, `lastAttemptAt`, `lastSuccessAt`) are returned.  **Use case:** Render the integrations/triggers settings page, or drive a CI check that asserts every `github` connector is `enabled` and last dispatched without error.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<ConnectorRecord>]
    def list_connectors(opts = {})
      data, _status_code, _headers = list_connectors_with_http_info(opts)
      data
    end

    # List connectors
    # Returns every connector in the project as a bare array (no pagination envelope).  The encrypted credentials backing each connector are never serialised — only the connector&#39;s non-secret &#x60;config&#x60;, &#x60;accountLabel&#x60;, and last-attempt health (&#x60;lastError&#x60;, &#x60;lastAttemptAt&#x60;, &#x60;lastSuccessAt&#x60;) are returned.  **Use case:** Render the integrations/triggers settings page, or drive a CI check that asserts every &#x60;github&#x60; connector is &#x60;enabled&#x60; and last dispatched without error.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(Array<ConnectorRecord>, Integer, Hash)>] Array<ConnectorRecord> data, response status code and response headers
    def list_connectors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.list_connectors ...'
      end
      # resource path
      local_var_path = '/api/admin/connectors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ConnectorRecord>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.list_connectors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#list_connectors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test a connector
    # Dispatches a single synthetic `bug.created` payload to the connector's destination so you can verify the integration end-to-end. Unlike `fire`, this runs the real dispatch path (posts a Slack message / appends a Sheets row / files a GitHub Issue) with throwaway test content. The attempt's outcome is recorded on the connector's `lastAttemptAt` / `lastError` / `lastSuccessAt`.  When the provider produces a linkable artifact (e.g. a GitHub Issue), its URL is returned as `issueUrl`; otherwise `issueUrl` is `null`.  **Use case:** Click \"Send test\" after wiring up a connector to confirm credentials and config are correct before relying on it for real events.
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [TestConnectorResponse]
    def test_connector(id, opts = {})
      data, _status_code, _headers = test_connector_with_http_info(id, opts)
      data
    end

    # Test a connector
    # Dispatches a single synthetic &#x60;bug.created&#x60; payload to the connector&#39;s destination so you can verify the integration end-to-end. Unlike &#x60;fire&#x60;, this runs the real dispatch path (posts a Slack message / appends a Sheets row / files a GitHub Issue) with throwaway test content. The attempt&#39;s outcome is recorded on the connector&#39;s &#x60;lastAttemptAt&#x60; / &#x60;lastError&#x60; / &#x60;lastSuccessAt&#x60;.  When the provider produces a linkable artifact (e.g. a GitHub Issue), its URL is returned as &#x60;issueUrl&#x60;; otherwise &#x60;issueUrl&#x60; is &#x60;null&#x60;.  **Use case:** Click \&quot;Send test\&quot; after wiring up a connector to confirm credentials and config are correct before relying on it for real events.
    # @param id [String] Stable opaque connector id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(TestConnectorResponse, Integer, Hash)>] TestConnectorResponse data, response status code and response headers
    def test_connector_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.test_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorsApi.test_connector"
      end
      # resource path
      local_var_path = '/api/admin/connectors/{id}/test'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TestConnectorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.test_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#test_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a connector
    # Partial update — only supplied fields change. `events` and `config` **replace** wholesale; there is no merge or append. Secrets cannot be set through this endpoint (credential rotation goes through the provider-specific re-register flow).  The response carries only `{ id }` — re-fetch via `GET /api/admin/connectors/{id}` for the new row.  **Use cases**  - **Pause a connector** — `{ \"enabled\": false }`. Stops all dispatch / auto-fire without deleting it. - **Change subscribed events** — send the full new `events` array. An empty array unsubscribes the connector from every event. - **Rename** — `{ \"name\": \"Bugs → acme/app issues\" }`. - **Retarget** — send a new `config` (e.g. a different Sheets `sheetTitle`); it replaces the stored config wholesale.
    # @param id [String] Stable opaque connector id.
    # @param update_connector_request [UpdateConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateConnectorResponse]
    def update_connector(id, update_connector_request, opts = {})
      data, _status_code, _headers = update_connector_with_http_info(id, update_connector_request, opts)
      data
    end

    # Update a connector
    # Partial update — only supplied fields change. &#x60;events&#x60; and &#x60;config&#x60; **replace** wholesale; there is no merge or append. Secrets cannot be set through this endpoint (credential rotation goes through the provider-specific re-register flow).  The response carries only &#x60;{ id }&#x60; — re-fetch via &#x60;GET /api/admin/connectors/{id}&#x60; for the new row.  **Use cases**  - **Pause a connector** — &#x60;{ \&quot;enabled\&quot;: false }&#x60;. Stops all dispatch / auto-fire without deleting it. - **Change subscribed events** — send the full new &#x60;events&#x60; array. An empty array unsubscribes the connector from every event. - **Rename** — &#x60;{ \&quot;name\&quot;: \&quot;Bugs → acme/app issues\&quot; }&#x60;. - **Retarget** — send a new &#x60;config&#x60; (e.g. a different Sheets &#x60;sheetTitle&#x60;); it replaces the stored config wholesale.
    # @param id [String] Stable opaque connector id.
    # @param update_connector_request [UpdateConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateConnectorResponse, Integer, Hash)>] UpdateConnectorResponse data, response status code and response headers
    def update_connector_with_http_info(id, update_connector_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectorsApi.update_connector ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ConnectorsApi.update_connector"
      end
      # verify the required parameter 'update_connector_request' is set
      if @api_client.config.client_side_validation && update_connector_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_connector_request' when calling ConnectorsApi.update_connector"
      end
      # resource path
      local_var_path = '/api/admin/connectors/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_connector_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateConnectorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ConnectorsApi.update_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectorsApi#update_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
