=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class DraftsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a translation draft
    # Stage a new translation draft against a target profile, optionally seeding its keys from a source profile.  **Use case:** Open a machine-translation draft for review before publishing it to a locale.
    # @param create_i18n_draft_request [CreateI18nDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [I18nDraft]
    def create_i18n_draft(create_i18n_draft_request, opts = {})
      data, _status_code, _headers = create_i18n_draft_with_http_info(create_i18n_draft_request, opts)
      data
    end

    # Create a translation draft
    # Stage a new translation draft against a target profile, optionally seeding its keys from a source profile.  **Use case:** Open a machine-translation draft for review before publishing it to a locale.
    # @param create_i18n_draft_request [CreateI18nDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(I18nDraft, Integer, Hash)>] I18nDraft data, response status code and response headers
    def create_i18n_draft_with_http_info(create_i18n_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.create_i18n_draft ...'
      end
      # verify the required parameter 'create_i18n_draft_request' is set
      if @api_client.config.client_side_validation && create_i18n_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_i18n_draft_request' when calling DraftsApi.create_i18n_draft"
      end
      # resource path
      local_var_path = '/api/admin/i18n/drafts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_i18n_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'I18nDraft'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"DraftsApi.create_i18n_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#create_i18n_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a translation draft
    # Permanently delete a staged translation draft. Its staged keys are removed with it; the target profile's live keys are untouched.  **Use case:** Discard a draft that will never ship instead of leaving it abandoned.
    # @param draft_id [String] The draft id to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [OkResponse]
    def delete_i18n_draft(draft_id, opts = {})
      data, _status_code, _headers = delete_i18n_draft_with_http_info(draft_id, opts)
      data
    end

    # Delete a translation draft
    # Permanently delete a staged translation draft. Its staged keys are removed with it; the target profile&#39;s live keys are untouched.  **Use case:** Discard a draft that will never ship instead of leaving it abandoned.
    # @param draft_id [String] The draft id to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(OkResponse, Integer, Hash)>] OkResponse data, response status code and response headers
    def delete_i18n_draft_with_http_info(draft_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.delete_i18n_draft ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.delete_i18n_draft"
      end
      if @api_client.config.client_side_validation && draft_id.to_s.length > 128
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.delete_i18n_draft, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && draft_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.delete_i18n_draft, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/i18n/drafts/{draftId}'.sub('{draftId}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"DraftsApi.delete_i18n_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#delete_i18n_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List a draft's staged keys
    # Returns every staged key in a translation draft — the values queued to ship when the draft is merged.  **Use case:** Review a machine-translation draft's staged strings before marking it merged.
    # @param draft_id [String] The draft id to list staged keys for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<ListI18nDraftKeysResponseInner>]
    def list_i18n_draft_keys(draft_id, opts = {})
      data, _status_code, _headers = list_i18n_draft_keys_with_http_info(draft_id, opts)
      data
    end

    # List a draft&#39;s staged keys
    # Returns every staged key in a translation draft — the values queued to ship when the draft is merged.  **Use case:** Review a machine-translation draft&#39;s staged strings before marking it merged.
    # @param draft_id [String] The draft id to list staged keys for.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(Array<ListI18nDraftKeysResponseInner>, Integer, Hash)>] Array<ListI18nDraftKeysResponseInner> data, response status code and response headers
    def list_i18n_draft_keys_with_http_info(draft_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.list_i18n_draft_keys ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.list_i18n_draft_keys"
      end
      if @api_client.config.client_side_validation && draft_id.to_s.length > 128
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.list_i18n_draft_keys, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && draft_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.list_i18n_draft_keys, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/i18n/drafts/{draftId}/keys'.sub('{draftId}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListI18nDraftKeysResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"DraftsApi.list_i18n_draft_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#list_i18n_draft_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List translation drafts
    # List staged translation drafts awaiting review/publish.  **Use case:** Review machine-translation drafts before publishing them to a locale.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<I18nDraft>]
    def list_i18n_drafts(opts = {})
      data, _status_code, _headers = list_i18n_drafts_with_http_info(opts)
      data
    end

    # List translation drafts
    # List staged translation drafts awaiting review/publish.  **Use case:** Review machine-translation drafts before publishing them to a locale.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(Array<I18nDraft>, Integer, Hash)>] Array<I18nDraft> data, response status code and response headers
    def list_i18n_drafts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.list_i18n_drafts ...'
      end
      # resource path
      local_var_path = '/api/admin/i18n/drafts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<I18nDraft>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"DraftsApi.list_i18n_drafts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#list_i18n_drafts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a translation draft
    # Transition a draft's lifecycle state (`open` / `merged` / `abandoned`).  **Use case:** Mark a reviewed draft as merged, or abandon one that should not ship.
    # @param draft_id [String] The draft id to update.
    # @param update_i18n_draft_request [UpdateI18nDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [I18nDraft]
    def update_i18n_draft(draft_id, update_i18n_draft_request, opts = {})
      data, _status_code, _headers = update_i18n_draft_with_http_info(draft_id, update_i18n_draft_request, opts)
      data
    end

    # Update a translation draft
    # Transition a draft&#39;s lifecycle state (&#x60;open&#x60; / &#x60;merged&#x60; / &#x60;abandoned&#x60;).  **Use case:** Mark a reviewed draft as merged, or abandon one that should not ship.
    # @param draft_id [String] The draft id to update.
    # @param update_i18n_draft_request [UpdateI18nDraftRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(I18nDraft, Integer, Hash)>] I18nDraft data, response status code and response headers
    def update_i18n_draft_with_http_info(draft_id, update_i18n_draft_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.update_i18n_draft ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.update_i18n_draft"
      end
      if @api_client.config.client_side_validation && draft_id.to_s.length > 128
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.update_i18n_draft, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && draft_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.update_i18n_draft, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_i18n_draft_request' is set
      if @api_client.config.client_side_validation && update_i18n_draft_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_i18n_draft_request' when calling DraftsApi.update_i18n_draft"
      end
      # resource path
      local_var_path = '/api/admin/i18n/drafts/{draftId}'.sub('{draftId}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_i18n_draft_request)

      # return_type
      return_type = opts[:debug_return_type] || 'I18nDraft'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"DraftsApi.update_i18n_draft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#update_i18n_draft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert one staged draft key
    # Upsert a single staged key into an **open** draft — inserted when new, overwritten when it already exists. A draft that is `merged` or `abandoned` rejects the write (400). `{{var}}` placeholder names are auto-derived from the value.  **Use case:** Stage or correct one translation in a draft under review without touching the live profile.
    # @param draft_id [String] The draft id to stage the key into.
    # @param upsert_i18n_draft_key_request [UpsertI18nDraftKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [OkResponse]
    def upsert_i18n_draft_key(draft_id, upsert_i18n_draft_key_request, opts = {})
      data, _status_code, _headers = upsert_i18n_draft_key_with_http_info(draft_id, upsert_i18n_draft_key_request, opts)
      data
    end

    # Upsert one staged draft key
    # Upsert a single staged key into an **open** draft — inserted when new, overwritten when it already exists. A draft that is &#x60;merged&#x60; or &#x60;abandoned&#x60; rejects the write (400). &#x60;{{var}}&#x60; placeholder names are auto-derived from the value.  **Use case:** Stage or correct one translation in a draft under review without touching the live profile.
    # @param draft_id [String] The draft id to stage the key into.
    # @param upsert_i18n_draft_key_request [UpsertI18nDraftKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(OkResponse, Integer, Hash)>] OkResponse data, response status code and response headers
    def upsert_i18n_draft_key_with_http_info(draft_id, upsert_i18n_draft_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DraftsApi.upsert_i18n_draft_key ...'
      end
      # verify the required parameter 'draft_id' is set
      if @api_client.config.client_side_validation && draft_id.nil?
        fail ArgumentError, "Missing the required parameter 'draft_id' when calling DraftsApi.upsert_i18n_draft_key"
      end
      if @api_client.config.client_side_validation && draft_id.to_s.length > 128
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.upsert_i18n_draft_key, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && draft_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "draft_id" when calling DraftsApi.upsert_i18n_draft_key, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'upsert_i18n_draft_key_request' is set
      if @api_client.config.client_side_validation && upsert_i18n_draft_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_i18n_draft_key_request' when calling DraftsApi.upsert_i18n_draft_key"
      end
      # resource path
      local_var_path = '/api/admin/i18n/drafts/{draftId}/keys'.sub('{draftId}', CGI.escape(draft_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_i18n_draft_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"DraftsApi.upsert_i18n_draft_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DraftsApi#upsert_i18n_draft_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
