=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class ErrorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # File a feedback ticket for an error
    # Files a feedback ticket (`type: \"error\"`) for a tracked production error — the \"File an issue\" action on the errors dashboard. The ticket carries the error's fingerprint as its `sourceRef` so it dedupes against, and joins back to, the tracked error. Takes no body.  Idempotent: if an open `error` ticket already tracks this fingerprint (hand- or auto-filed), that existing ticket is returned instead of creating a duplicate. Returns `404` if the error does not exist.  **Use case:** Promote a noisy tracked error into an actionable ticket in the ops queue (the same item the worker auto-files once an error crosses its occurrence threshold), so it can be triaged, assigned, and burned down via `/shipeasy:ops:work`.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [FileErrorTicketResponse]
    def file_error_ticket(id, opts = {})
      data, _status_code, _headers = file_error_ticket_with_http_info(id, opts)
      data
    end

    # File a feedback ticket for an error
    # Files a feedback ticket (&#x60;type: \&quot;error\&quot;&#x60;) for a tracked production error — the \&quot;File an issue\&quot; action on the errors dashboard. The ticket carries the error&#39;s fingerprint as its &#x60;sourceRef&#x60; so it dedupes against, and joins back to, the tracked error. Takes no body.  Idempotent: if an open &#x60;error&#x60; ticket already tracks this fingerprint (hand- or auto-filed), that existing ticket is returned instead of creating a duplicate. Returns &#x60;404&#x60; if the error does not exist.  **Use case:** Promote a noisy tracked error into an actionable ticket in the ops queue (the same item the worker auto-files once an error crosses its occurrence threshold), so it can be triaged, assigned, and burned down via &#x60;/shipeasy:ops:work&#x60;.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(FileErrorTicketResponse, Integer, Hash)>] FileErrorTicketResponse data, response status code and response headers
    def file_error_ticket_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ErrorsApi.file_error_ticket ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ErrorsApi.file_error_ticket"
      end
      # resource path
      local_var_path = '/api/admin/errors/{id}/file'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileErrorTicketResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ErrorsApi.file_error_ticket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ErrorsApi#file_error_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a tracked error
    # Returns a single tracked error by its id, including the latest occurrence's stack, extras, and consequence. Returns `404` if no such error exists in the project.  **Use case:** Drill into one issue — fetch its full stack and `seenUrls` to investigate, or to render the detail panel behind a row in the errors list.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ErrorRecord]
    def get_error(id, opts = {})
      data, _status_code, _headers = get_error_with_http_info(id, opts)
      data
    end

    # Get a tracked error
    # Returns a single tracked error by its id, including the latest occurrence&#39;s stack, extras, and consequence. Returns &#x60;404&#x60; if no such error exists in the project.  **Use case:** Drill into one issue — fetch its full stack and &#x60;seenUrls&#x60; to investigate, or to render the detail panel behind a row in the errors list.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ErrorRecord, Integer, Hash)>] ErrorRecord data, response status code and response headers
    def get_error_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ErrorsApi.get_error ...'
      end
      # resource path
      local_var_path = '/api/admin/errors/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ErrorRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ErrorsApi.get_error",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ErrorsApi#get_error\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an error's occurrence series
    # Returns a bucketed occurrence timeseries for one tracked error (by its fingerprint), read from the `shipeasy_errors` Analytics Engine dataset (near-real-time; ingest lag is seconds). The window bounds are epoch **seconds**; `to` must be strictly greater than `from`. The response echoes the SQL that produced the rows.  **Use case:** Render the trend sparkline / occurrence chart on the error detail panel, or pull the raw bucketed counts to alert when an issue's rate spikes.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param error_series_request [ErrorSeriesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ErrorSeriesResponse]
    def get_error_series(id, error_series_request, opts = {})
      data, _status_code, _headers = get_error_series_with_http_info(id, error_series_request, opts)
      data
    end

    # Get an error&#39;s occurrence series
    # Returns a bucketed occurrence timeseries for one tracked error (by its fingerprint), read from the &#x60;shipeasy_errors&#x60; Analytics Engine dataset (near-real-time; ingest lag is seconds). The window bounds are epoch **seconds**; &#x60;to&#x60; must be strictly greater than &#x60;from&#x60;. The response echoes the SQL that produced the rows.  **Use case:** Render the trend sparkline / occurrence chart on the error detail panel, or pull the raw bucketed counts to alert when an issue&#39;s rate spikes.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param error_series_request [ErrorSeriesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ErrorSeriesResponse, Integer, Hash)>] ErrorSeriesResponse data, response status code and response headers
    def get_error_series_with_http_info(id, error_series_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ErrorsApi.get_error_series ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ErrorsApi.get_error_series"
      end
      # verify the required parameter 'error_series_request' is set
      if @api_client.config.client_side_validation && error_series_request.nil?
        fail ArgumentError, "Missing the required parameter 'error_series_request' when calling ErrorsApi.get_error_series"
      end
      # resource path
      local_var_path = '/api/admin/errors/{id}/series'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(error_series_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ErrorSeriesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ErrorsApi.get_error_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ErrorsApi#get_error_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List tracked errors
    # Returns a single page of tracked production errors as a **bare JSON array** (no pagination envelope), ordered by `lastSeenAt desc`. Filter with `status`, free-text-search with `q`, and cap the page with `limit`.  Tracked errors are never filed by hand — an ingestion path (worker log drain / the `see()` SDK reporter) folds each occurrence into a row keyed by `fingerprint`, bumping `count` and `lastSeenAt`. This surface only reads them and (via PATCH) flips their `status`.  **Use case:** Snapshot the project's open issues for a triage dashboard, or drive a CI gate that fails the build when any `open` error of `kind: uncaught` exists in `prod`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :status Filter by triage state. &#x60;all&#x60; (the default) returns every status. (default to 'all')
    # @option opts [String] :q Case-insensitive substring match against &#x60;message&#x60;, &#x60;errorType&#x60;, and &#x60;subject&#x60;.
    # @option opts [Integer] :limit Maximum number of rows to return (1–500). Defaults to 200. (default to 200)
    # @return [Array<ErrorRecord>]
    def list_errors(opts = {})
      data, _status_code, _headers = list_errors_with_http_info(opts)
      data
    end

    # List tracked errors
    # Returns a single page of tracked production errors as a **bare JSON array** (no pagination envelope), ordered by &#x60;lastSeenAt desc&#x60;. Filter with &#x60;status&#x60;, free-text-search with &#x60;q&#x60;, and cap the page with &#x60;limit&#x60;.  Tracked errors are never filed by hand — an ingestion path (worker log drain / the &#x60;see()&#x60; SDK reporter) folds each occurrence into a row keyed by &#x60;fingerprint&#x60;, bumping &#x60;count&#x60; and &#x60;lastSeenAt&#x60;. This surface only reads them and (via PATCH) flips their &#x60;status&#x60;.  **Use case:** Snapshot the project&#39;s open issues for a triage dashboard, or drive a CI gate that fails the build when any &#x60;open&#x60; error of &#x60;kind: uncaught&#x60; exists in &#x60;prod&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :status Filter by triage state. &#x60;all&#x60; (the default) returns every status. (default to 'all')
    # @option opts [String] :q Case-insensitive substring match against &#x60;message&#x60;, &#x60;errorType&#x60;, and &#x60;subject&#x60;.
    # @option opts [Integer] :limit Maximum number of rows to return (1–500). Defaults to 200. (default to 200)
    # @return [Array<(Array<ErrorRecord>, Integer, Hash)>] Array<ErrorRecord> data, response status code and response headers
    def list_errors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ErrorsApi.list_errors ...'
      end
      allowable_values = ["open", "resolved", "ignored", "all"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length > 200
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling ErrorsApi.list_errors, the character length must be smaller than or equal to 200.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ErrorsApi.list_errors, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ErrorsApi.list_errors, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/errors'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ErrorRecord>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ErrorsApi.list_errors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ErrorsApi#list_errors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a tracked error's status
    # Flips the triage state of one error — the only mutation this surface allows. Valid transitions are between `open`, `resolved`, and `ignored`; the body must carry exactly `{ \"status\": … }`.  A `resolved` error reopens automatically (ingestion-side) if it recurs; `ignored` is sticky until flipped back here. Returns the updated row.  **Use cases**  - **Triage** — `{ \"status\": \"ignored\" }` to suppress a known-benign issue from the open list. - **Close out** — `{ \"status\": \"resolved\" }` once the fix lands; it reopens on its own if the error recurs.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param update_error_status_request [UpdateErrorStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ErrorRecord]
    def update_error_status(id, update_error_status_request, opts = {})
      data, _status_code, _headers = update_error_status_with_http_info(id, update_error_status_request, opts)
      data
    end

    # Update a tracked error&#39;s status
    # Flips the triage state of one error — the only mutation this surface allows. Valid transitions are between &#x60;open&#x60;, &#x60;resolved&#x60;, and &#x60;ignored&#x60;; the body must carry exactly &#x60;{ \&quot;status\&quot;: … }&#x60;.  A &#x60;resolved&#x60; error reopens automatically (ingestion-side) if it recurs; &#x60;ignored&#x60; is sticky until flipped back here. Returns the updated row.  **Use cases**  - **Triage** — &#x60;{ \&quot;status\&quot;: \&quot;ignored\&quot; }&#x60; to suppress a known-benign issue from the open list. - **Close out** — &#x60;{ \&quot;status\&quot;: \&quot;resolved\&quot; }&#x60; once the fix lands; it reopens on its own if the error recurs.
    # @param id [String] Stable opaque error id (&#x60;err_…&#x60;).
    # @param update_error_status_request [UpdateErrorStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ErrorRecord, Integer, Hash)>] ErrorRecord data, response status code and response headers
    def update_error_status_with_http_info(id, update_error_status_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ErrorsApi.update_error_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ErrorsApi.update_error_status"
      end
      # verify the required parameter 'update_error_status_request' is set
      if @api_client.config.client_side_validation && update_error_status_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_error_status_request' when calling ErrorsApi.update_error_status"
      end
      # resource path
      local_var_path = '/api/admin/errors/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_error_status_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ErrorRecord'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ErrorsApi.update_error_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ErrorsApi#update_error_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
