=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class EventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve a pending event
    # Promotes a pending (auto-discovered) event to usable so metrics can query it (`pending` → `0`).  You may optionally declare the event's folder, description, or properties in the same call — the body is the same shape as update, and may be empty.  **Use case:** Clear an auto-discovered event out of the pending queue so metrics defined on it start resolving.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param approve_event_request [ApproveEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ApproveEventResponse]
    def approve_event(id, approve_event_request, opts = {})
      data, _status_code, _headers = approve_event_with_http_info(id, approve_event_request, opts)
      data
    end

    # Approve a pending event
    # Promotes a pending (auto-discovered) event to usable so metrics can query it (&#x60;pending&#x60; → &#x60;0&#x60;).  You may optionally declare the event&#39;s folder, description, or properties in the same call — the body is the same shape as update, and may be empty.  **Use case:** Clear an auto-discovered event out of the pending queue so metrics defined on it start resolving.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param approve_event_request [ApproveEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ApproveEventResponse, Integer, Hash)>] ApproveEventResponse data, response status code and response headers
    def approve_event_with_http_info(id, approve_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.approve_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EventsApi.approve_event"
      end
      # verify the required parameter 'approve_event_request' is set
      if @api_client.config.client_side_validation && approve_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'approve_event_request' when calling EventsApi.approve_event"
      end
      # resource path
      local_var_path = '/api/admin/events/{id}/approve'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(approve_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApproveEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"EventsApi.approve_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#approve_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register an event
    # Registers a new event name and (optionally) its typed properties. Only `name` is required.  If the name matches an existing **pending** (auto-discovered) row, this approves that row instead of returning a conflict. Otherwise an already-registered name returns `409`.  **Use cases**  - **Register a known event** — `{ \"name\": \"checkout_completed\" }` so metrics can reference it. - **Declare typed properties** — supply `properties` to document the event's payload shape.
    # @param create_event_request [CreateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateEventResponse]
    def create_event(create_event_request, opts = {})
      data, _status_code, _headers = create_event_with_http_info(create_event_request, opts)
      data
    end

    # Register an event
    # Registers a new event name and (optionally) its typed properties. Only &#x60;name&#x60; is required.  If the name matches an existing **pending** (auto-discovered) row, this approves that row instead of returning a conflict. Otherwise an already-registered name returns &#x60;409&#x60;.  **Use cases**  - **Register a known event** — &#x60;{ \&quot;name\&quot;: \&quot;checkout_completed\&quot; }&#x60; so metrics can reference it. - **Declare typed properties** — supply &#x60;properties&#x60; to document the event&#39;s payload shape.
    # @param create_event_request [CreateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateEventResponse, Integer, Hash)>] CreateEventResponse data, response status code and response headers
    def create_event_with_http_info(create_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.create_event ...'
      end
      # verify the required parameter 'create_event_request' is set
      if @api_client.config.client_side_validation && create_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_event_request' when calling EventsApi.create_event"
      end
      # resource path
      local_var_path = '/api/admin/events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"EventsApi.create_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#create_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive an event
    # Soft-deletes (archives) the event. Returns `409` if any metric still references it — delete those metrics first.  **Use case:** Retire an event from the catalog once no metric depends on it.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteEventResponse]
    def delete_event(id, opts = {})
      data, _status_code, _headers = delete_event_with_http_info(id, opts)
      data
    end

    # Archive an event
    # Soft-deletes (archives) the event. Returns &#x60;409&#x60; if any metric still references it — delete those metrics first.  **Use case:** Retire an event from the catalog once no metric depends on it.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteEventResponse, Integer, Hash)>] DeleteEventResponse data, response status code and response headers
    def delete_event_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.delete_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EventsApi.delete_event"
      end
      # resource path
      local_var_path = '/api/admin/events/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"EventsApi.delete_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#delete_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an event
    # Returns one event's full detail. Resolves by exact id, unique id-prefix, or exact (unique) name.  **Use case:** Inspect one event's declared properties and pending state by id or name.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetEventResponse]
    def get_event(id, opts = {})
      data, _status_code, _headers = get_event_with_http_info(id, opts)
      data
    end

    # Get an event
    # Returns one event&#39;s full detail. Resolves by exact id, unique id-prefix, or exact (unique) name.  **Use case:** Inspect one event&#39;s declared properties and pending state by id or name.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetEventResponse, Integer, Hash)>] GetEventResponse data, response status code and response headers
    def get_event_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.get_event ...'
      end
      # resource path
      local_var_path = '/api/admin/events/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"EventsApi.get_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#get_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List events
    # Returns every catalogued event in the project, including pending auto-discovered names. Pass `?pending=true` to return only the unapproved queue.  **Use case:** Snapshot the event catalog — for example to review the `pending` auto-discovery queue (`?pending=true`) before approving names, or to confirm which events your metrics can reference.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Boolean] :pending When &#x60;true&#x60;, return only pending (auto-discovered, unapproved) events. Omit to return the full catalog.
    # @return [Array<ListEventsResponseInner>]
    def list_events(opts = {})
      data, _status_code, _headers = list_events_with_http_info(opts)
      data
    end

    # List events
    # Returns every catalogued event in the project, including pending auto-discovered names. Pass &#x60;?pending&#x3D;true&#x60; to return only the unapproved queue.  **Use case:** Snapshot the event catalog — for example to review the &#x60;pending&#x60; auto-discovery queue (&#x60;?pending&#x3D;true&#x60;) before approving names, or to confirm which events your metrics can reference.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Boolean] :pending When &#x60;true&#x60;, return only pending (auto-discovered, unapproved) events. Omit to return the full catalog.
    # @return [Array<(Array<ListEventsResponseInner>, Integer, Hash)>] Array<ListEventsResponseInner> data, response status code and response headers
    def list_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.list_events ...'
      end
      # resource path
      local_var_path = '/api/admin/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'pending'] = opts[:'pending'] if !opts[:'pending'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListEventsResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"EventsApi.list_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#list_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an event
    # Partial update of an event's folder, description, or properties. `name` is immutable.  `properties` replaces the full set (no merge) — omit it to leave properties unchanged.  **Use case:** Refile an event, update its description, or redeclare its typed properties.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param update_event_request [UpdateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateEventResponse]
    def update_event(id, update_event_request, opts = {})
      data, _status_code, _headers = update_event_with_http_info(id, update_event_request, opts)
      data
    end

    # Update an event
    # Partial update of an event&#39;s folder, description, or properties. &#x60;name&#x60; is immutable.  &#x60;properties&#x60; replaces the full set (no merge) — omit it to leave properties unchanged.  **Use case:** Refile an event, update its description, or redeclare its typed properties.
    # @param id [String] Stable opaque event id (&#x60;evt_…&#x60;) or the event&#39;s &#x60;name&#x60;.
    # @param update_event_request [UpdateEventRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateEventResponse, Integer, Hash)>] UpdateEventResponse data, response status code and response headers
    def update_event_with_http_info(id, update_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.update_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EventsApi.update_event"
      end
      # verify the required parameter 'update_event_request' is set
      if @api_client.config.client_side_validation && update_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_event_request' when calling EventsApi.update_event"
      end
      # resource path
      local_var_path = '/api/admin/events/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateEventResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"EventsApi.update_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#update_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
