=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class ExperimentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an experiment
    # Creates a new experiment in `draft` status. `name`, `universe`, and `groups` are required; everything else has sensible defaults.  Returns `409` if `name` already exists, `422` if the named universe doesn't exist, `403` if a plan-gated option is set (`sequential_testing`, custom `significance_threshold`) on a plan that doesn't include it.  **Use cases**  - **Minimal 50/50** — `name` + `universe` + two equal-weight groups. - **Targeted rollout** — supply `targeting_gate` to restrict the eligible audience and `allocation_pct` to enrol a slice of it. - **Multivariant** — three or more groups with weights summing to 10000. - **Sequential testing** — `sequential_testing: true` for Premium plans.
    # @param create_experiment_request [CreateExperimentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateExperimentResponse]
    def create_experiment(create_experiment_request, opts = {})
      data, _status_code, _headers = create_experiment_with_http_info(create_experiment_request, opts)
      data
    end

    # Create an experiment
    # Creates a new experiment in &#x60;draft&#x60; status. &#x60;name&#x60;, &#x60;universe&#x60;, and &#x60;groups&#x60; are required; everything else has sensible defaults.  Returns &#x60;409&#x60; if &#x60;name&#x60; already exists, &#x60;422&#x60; if the named universe doesn&#39;t exist, &#x60;403&#x60; if a plan-gated option is set (&#x60;sequential_testing&#x60;, custom &#x60;significance_threshold&#x60;) on a plan that doesn&#39;t include it.  **Use cases**  - **Minimal 50/50** — &#x60;name&#x60; + &#x60;universe&#x60; + two equal-weight groups. - **Targeted rollout** — supply &#x60;targeting_gate&#x60; to restrict the eligible audience and &#x60;allocation_pct&#x60; to enrol a slice of it. - **Multivariant** — three or more groups with weights summing to 10000. - **Sequential testing** — &#x60;sequential_testing: true&#x60; for Premium plans.
    # @param create_experiment_request [CreateExperimentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateExperimentResponse, Integer, Hash)>] CreateExperimentResponse data, response status code and response headers
    def create_experiment_with_http_info(create_experiment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.create_experiment ...'
      end
      # verify the required parameter 'create_experiment_request' is set
      if @api_client.config.client_side_validation && create_experiment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_experiment_request' when calling ExperimentsApi.create_experiment"
      end
      # resource path
      local_var_path = '/api/admin/experiments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_experiment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateExperimentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.create_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#create_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete an experiment
    # Archives the experiment (soft-delete via status transition). Returns `409` if the experiment is still `running` — stop it first.  **Use case:** Tear down an experiment after the analysis is signed off.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteExperimentResponse]
    def delete_experiment(id, opts = {})
      data, _status_code, _headers = delete_experiment_with_http_info(id, opts)
      data
    end

    # Delete an experiment
    # Archives the experiment (soft-delete via status transition). Returns &#x60;409&#x60; if the experiment is still &#x60;running&#x60; — stop it first.  **Use case:** Tear down an experiment after the analysis is signed off.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteExperimentResponse, Integer, Hash)>] DeleteExperimentResponse data, response status code and response headers
    def delete_experiment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.delete_experiment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExperimentsApi.delete_experiment"
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteExperimentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.delete_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#delete_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one experiment
    # Returns the full experiment row including groups, params, allocation, and lifecycle timestamps.  **Use case:** Fetch one experiment to render the detail page or to inspect its current allocation and group weights.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetExperimentResponse]
    def get_experiment(id, opts = {})
      data, _status_code, _headers = get_experiment_with_http_info(id, opts)
      data
    end

    # Get one experiment
    # Returns the full experiment row including groups, params, allocation, and lifecycle timestamps.  **Use case:** Fetch one experiment to render the detail page or to inspect its current allocation and group weights.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetExperimentResponse, Integer, Hash)>] GetExperimentResponse data, response status code and response headers
    def get_experiment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.get_experiment ...'
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetExperimentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.get_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#get_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get analysis results
    # Returns the latest analysis output for the experiment — one row per metric/group/day, including sample size, mean, % delta vs. control, p-value, and a sample-ratio mismatch flag.  **Use case:** Render the results table on the experiment detail page or drive an automated decision once a `goal` metric reaches significance.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetExperimentResultsResponse]
    def get_experiment_results(id, opts = {})
      data, _status_code, _headers = get_experiment_results_with_http_info(id, opts)
      data
    end

    # Get analysis results
    # Returns the latest analysis output for the experiment — one row per metric/group/day, including sample size, mean, % delta vs. control, p-value, and a sample-ratio mismatch flag.  **Use case:** Render the results table on the experiment detail page or drive an automated decision once a &#x60;goal&#x60; metric reaches significance.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetExperimentResultsResponse, Integer, Hash)>] GetExperimentResultsResponse data, response status code and response headers
    def get_experiment_results_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.get_experiment_results ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExperimentsApi.get_experiment_results"
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}/results'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetExperimentResultsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.get_experiment_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#get_experiment_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get analysis timeseries
    # Same row shape as `/results`, but returns every daily slice rather than the latest. Filter to a single metric with the `metric` query parameter.  **Use case:** Drive a chart of metric movement over the experiment runtime, or sanity-check the lift is monotonic before deciding.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :metric Optional metric name to filter the series.
    # @return [GetExperimentTimeseriesResponse]
    def get_experiment_timeseries(id, opts = {})
      data, _status_code, _headers = get_experiment_timeseries_with_http_info(id, opts)
      data
    end

    # Get analysis timeseries
    # Same row shape as &#x60;/results&#x60;, but returns every daily slice rather than the latest. Filter to a single metric with the &#x60;metric&#x60; query parameter.  **Use case:** Drive a chart of metric movement over the experiment runtime, or sanity-check the lift is monotonic before deciding.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :metric Optional metric name to filter the series.
    # @return [Array<(GetExperimentTimeseriesResponse, Integer, Hash)>] GetExperimentTimeseriesResponse data, response status code and response headers
    def get_experiment_timeseries_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.get_experiment_timeseries ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExperimentsApi.get_experiment_timeseries"
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}/timeseries'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'metric'] = opts[:'metric'] if !opts[:'metric'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetExperimentTimeseriesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.get_experiment_timeseries",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#get_experiment_timeseries\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List experiments
    # Returns a single page of non-archived experiments ordered by `updated_at desc, id desc`. Use the `cursor` query parameter to paginate.  **Use case:** Snapshot every active experiment in the project — e.g. render an overview dashboard or drive a CI check that no experiment has been running past its `min_runtime_days`.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [ListExperimentsResponse]
    def list_experiments(opts = {})
      data, _status_code, _headers = list_experiments_with_http_info(opts)
      data
    end

    # List experiments
    # Returns a single page of non-archived experiments ordered by &#x60;updated_at desc, id desc&#x60;. Use the &#x60;cursor&#x60; query parameter to paginate.  **Use case:** Snapshot every active experiment in the project — e.g. render an overview dashboard or drive a CI check that no experiment has been running past its &#x60;min_runtime_days&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [Array<(ListExperimentsResponse, Integer, Hash)>] ListExperimentsResponse data, response status code and response headers
    def list_experiments_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.list_experiments ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ExperimentsApi.list_experiments, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ExperimentsApi.list_experiments, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/experiments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListExperimentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.list_experiments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#list_experiments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Re-queue analysis
    # Requeues the daily analysis pass for this experiment outside the normal cron cadence. Useful after attaching a new metric or correcting an event taxonomy. The job runs asynchronously.  **Use case:** Force-refresh results after wiring up a new metric without waiting for the next nightly cron tick.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ReanalyzeExperimentResponse]
    def reanalyze_experiment(id, opts = {})
      data, _status_code, _headers = reanalyze_experiment_with_http_info(id, opts)
      data
    end

    # Re-queue analysis
    # Requeues the daily analysis pass for this experiment outside the normal cron cadence. Useful after attaching a new metric or correcting an event taxonomy. The job runs asynchronously.  **Use case:** Force-refresh results after wiring up a new metric without waiting for the next nightly cron tick.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ReanalyzeExperimentResponse, Integer, Hash)>] ReanalyzeExperimentResponse data, response status code and response headers
    def reanalyze_experiment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.reanalyze_experiment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExperimentsApi.reanalyze_experiment"
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}/reanalyze'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReanalyzeExperimentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.reanalyze_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#reanalyze_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Attach metrics
    # Replaces the experiment's metric attachments wholesale. Each entry pairs an existing `metric_id` with a `role` (`goal` / `guardrail` / `secondary`).  Returns `422` if any `metric_id` doesn't exist in the project. Pass `{ metrics: [] }` to detach everything.  **Use cases**  - **Standard setup** — one `goal`, one or two `guardrail`, optional `secondary` metrics for diagnostics. - **Detach all** — send `{ \"metrics\": [] }` before archiving.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param set_experiment_metrics_request [SetExperimentMetricsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [SetExperimentMetricsResponse]
    def set_experiment_metrics(id, set_experiment_metrics_request, opts = {})
      data, _status_code, _headers = set_experiment_metrics_with_http_info(id, set_experiment_metrics_request, opts)
      data
    end

    # Attach metrics
    # Replaces the experiment&#39;s metric attachments wholesale. Each entry pairs an existing &#x60;metric_id&#x60; with a &#x60;role&#x60; (&#x60;goal&#x60; / &#x60;guardrail&#x60; / &#x60;secondary&#x60;).  Returns &#x60;422&#x60; if any &#x60;metric_id&#x60; doesn&#39;t exist in the project. Pass &#x60;{ metrics: [] }&#x60; to detach everything.  **Use cases**  - **Standard setup** — one &#x60;goal&#x60;, one or two &#x60;guardrail&#x60;, optional &#x60;secondary&#x60; metrics for diagnostics. - **Detach all** — send &#x60;{ \&quot;metrics\&quot;: [] }&#x60; before archiving.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param set_experiment_metrics_request [SetExperimentMetricsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(SetExperimentMetricsResponse, Integer, Hash)>] SetExperimentMetricsResponse data, response status code and response headers
    def set_experiment_metrics_with_http_info(id, set_experiment_metrics_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.set_experiment_metrics ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExperimentsApi.set_experiment_metrics"
      end
      # verify the required parameter 'set_experiment_metrics_request' is set
      if @api_client.config.client_side_validation && set_experiment_metrics_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_experiment_metrics_request' when calling ExperimentsApi.set_experiment_metrics"
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}/metrics'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_experiment_metrics_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetExperimentMetricsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.set_experiment_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#set_experiment_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Transition experiment status
    # Drives the experiment lifecycle. Allowed transitions:  - `draft → running` — starts allocation. Bumps the `startedAt` timestamp. - `running → stopped` — halts allocation. Existing exposures stay in the dataset. - `stopped → archived` — soft-delete. - `draft → archived` — discard an unstarted experiment. - `archived → draft` — restore a soft-deleted experiment so it can be re-completed and started. Allowed only if it never started; one that already ran must be cloned instead.  Restarting an `archived` experiment directly is not allowed — restore it to `draft` first. Returns `409` on illegal transitions and `429` if the plan's `experiments_running` limit is exceeded on `→ running`.  **Use cases**  - **Start** — `{ \"status\": \"running\" }` after wiring up the SDK and verifying targeting on staging. - **Stop** — `{ \"status\": \"stopped\" }` once the experiment hits its `min_runtime_days` and conclusive results land. - **Archive** — `{ \"status\": \"archived\" }` to soft-delete after sign-off.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param set_experiment_status_request [SetExperimentStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [SetExperimentStatusResponse]
    def set_experiment_status(id, set_experiment_status_request, opts = {})
      data, _status_code, _headers = set_experiment_status_with_http_info(id, set_experiment_status_request, opts)
      data
    end

    # Transition experiment status
    # Drives the experiment lifecycle. Allowed transitions:  - &#x60;draft → running&#x60; — starts allocation. Bumps the &#x60;startedAt&#x60; timestamp. - &#x60;running → stopped&#x60; — halts allocation. Existing exposures stay in the dataset. - &#x60;stopped → archived&#x60; — soft-delete. - &#x60;draft → archived&#x60; — discard an unstarted experiment. - &#x60;archived → draft&#x60; — restore a soft-deleted experiment so it can be re-completed and started. Allowed only if it never started; one that already ran must be cloned instead.  Restarting an &#x60;archived&#x60; experiment directly is not allowed — restore it to &#x60;draft&#x60; first. Returns &#x60;409&#x60; on illegal transitions and &#x60;429&#x60; if the plan&#39;s &#x60;experiments_running&#x60; limit is exceeded on &#x60;→ running&#x60;.  **Use cases**  - **Start** — &#x60;{ \&quot;status\&quot;: \&quot;running\&quot; }&#x60; after wiring up the SDK and verifying targeting on staging. - **Stop** — &#x60;{ \&quot;status\&quot;: \&quot;stopped\&quot; }&#x60; once the experiment hits its &#x60;min_runtime_days&#x60; and conclusive results land. - **Archive** — &#x60;{ \&quot;status\&quot;: \&quot;archived\&quot; }&#x60; to soft-delete after sign-off.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param set_experiment_status_request [SetExperimentStatusRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(SetExperimentStatusResponse, Integer, Hash)>] SetExperimentStatusResponse data, response status code and response headers
    def set_experiment_status_with_http_info(id, set_experiment_status_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.set_experiment_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExperimentsApi.set_experiment_status"
      end
      # verify the required parameter 'set_experiment_status_request' is set
      if @api_client.config.client_side_validation && set_experiment_status_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_experiment_status_request' when calling ExperimentsApi.set_experiment_status"
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}/status'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_experiment_status_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetExperimentStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.set_experiment_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#set_experiment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an experiment
    # Partial update. `allocation_pct`, `groups`, `salt`, `universe`, `params` are **immutable while running** — returns `409` if you try. Stop the experiment first.  Editing `groups` while in `draft` is fine; weights must still sum to 10000.  **Use cases**  - **Update metadata** — `description`, `tag`, `targeting_gate` editable any time. - **Ramp before launch** — set `allocation_pct` while still in `draft`. - **Tighten significance** — `significance_threshold` (Pro+). - **Rewire groups** — replace `groups` wholesale while in `draft`; immutable once running.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param update_experiment_request [UpdateExperimentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateExperimentResponse]
    def update_experiment(id, update_experiment_request, opts = {})
      data, _status_code, _headers = update_experiment_with_http_info(id, update_experiment_request, opts)
      data
    end

    # Update an experiment
    # Partial update. &#x60;allocation_pct&#x60;, &#x60;groups&#x60;, &#x60;salt&#x60;, &#x60;universe&#x60;, &#x60;params&#x60; are **immutable while running** — returns &#x60;409&#x60; if you try. Stop the experiment first.  Editing &#x60;groups&#x60; while in &#x60;draft&#x60; is fine; weights must still sum to 10000.  **Use cases**  - **Update metadata** — &#x60;description&#x60;, &#x60;tag&#x60;, &#x60;targeting_gate&#x60; editable any time. - **Ramp before launch** — set &#x60;allocation_pct&#x60; while still in &#x60;draft&#x60;. - **Tighten significance** — &#x60;significance_threshold&#x60; (Pro+). - **Rewire groups** — replace &#x60;groups&#x60; wholesale while in &#x60;draft&#x60;; immutable once running.
    # @param id [String] Stable opaque experiment id (&#x60;exp_…&#x60;) or the experiment&#39;s &#x60;name&#x60;.
    # @param update_experiment_request [UpdateExperimentRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateExperimentResponse, Integer, Hash)>] UpdateExperimentResponse data, response status code and response headers
    def update_experiment_with_http_info(id, update_experiment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExperimentsApi.update_experiment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ExperimentsApi.update_experiment"
      end
      # verify the required parameter 'update_experiment_request' is set
      if @api_client.config.client_side_validation && update_experiment_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_experiment_request' when calling ExperimentsApi.update_experiment"
      end
      # resource path
      local_var_path = '/api/admin/experiments/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_experiment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateExperimentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"ExperimentsApi.update_experiment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExperimentsApi#update_experiment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
