=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class FiredAlertsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List fired alerts
    # Returns the project's FIRED alerts as a **bare JSON array** (no pagination envelope), ordered by `createdAt desc`. Defaults to the currently-firing ones (`status=active`); pass a `status` to widen to resolved/dismissed history or `all`.  A fired alert is an **instance** of an alert rule, and an instance IS its ops queue item — the same row `/api/admin/ops` returns with `type: \"alert\"`, viewed through the alert lens. One rule produces many instances over its life and at most one is open at a time: when the condition clears the instance closes, and the next firing is a NEW instance with its own id and history. That is why `severity` reads off the rule (the queue item carries it as `priority`) and why resolving the queue item and clearing the alert are one act, not two rows to keep in step.  Instances are opened only by the platform — the UI's killswitch handlers plus the worker's analysis consumer and alerts cron — never filed by hand, so this surface is list + triage (via PATCH), with no create. The rules that *define* metric-threshold alerts live at `/api/admin/alert-rules`.  **Use case:** Snapshot what is currently firing for an on-call view or the home Alerts block, or pull `status=all` to audit how a noisy rule has behaved over time.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :status Filter by lifecycle state. Defaults to &#x60;active&#x60; (currently firing); &#x60;all&#x60; returns every status. (default to 'active')
    # @return [Array<AlertApiRow>]
    def list_alerts(opts = {})
      data, _status_code, _headers = list_alerts_with_http_info(opts)
      data
    end

    # List fired alerts
    # Returns the project&#39;s FIRED alerts as a **bare JSON array** (no pagination envelope), ordered by &#x60;createdAt desc&#x60;. Defaults to the currently-firing ones (&#x60;status&#x3D;active&#x60;); pass a &#x60;status&#x60; to widen to resolved/dismissed history or &#x60;all&#x60;.  A fired alert is an **instance** of an alert rule, and an instance IS its ops queue item — the same row &#x60;/api/admin/ops&#x60; returns with &#x60;type: \&quot;alert\&quot;&#x60;, viewed through the alert lens. One rule produces many instances over its life and at most one is open at a time: when the condition clears the instance closes, and the next firing is a NEW instance with its own id and history. That is why &#x60;severity&#x60; reads off the rule (the queue item carries it as &#x60;priority&#x60;) and why resolving the queue item and clearing the alert are one act, not two rows to keep in step.  Instances are opened only by the platform — the UI&#39;s killswitch handlers plus the worker&#39;s analysis consumer and alerts cron — never filed by hand, so this surface is list + triage (via PATCH), with no create. The rules that *define* metric-threshold alerts live at &#x60;/api/admin/alert-rules&#x60;.  **Use case:** Snapshot what is currently firing for an on-call view or the home Alerts block, or pull &#x60;status&#x3D;all&#x60; to audit how a noisy rule has behaved over time.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :status Filter by lifecycle state. Defaults to &#x60;active&#x60; (currently firing); &#x60;all&#x60; returns every status. (default to 'active')
    # @return [Array<(Array<AlertApiRow>, Integer, Hash)>] Array<AlertApiRow> data, response status code and response headers
    def list_alerts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiredAlertsApi.list_alerts ...'
      end
      allowable_values = ["active", "resolved", "dismissed", "all"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/admin/alerts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AlertApiRow>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FiredAlertsApi.list_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiredAlertsApi#list_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a fired alert
    # Triage writes on one fired alert — the only mutations this surface allows. All body fields are optional (at least one required); only the fields present are changed.  - **`status`** — flip between `active` / `resolved` / `dismissed`. `resolved` and `dismissed` stamp `resolvedAt` / `dismissedAt`; `active` re-opens and clears both. These write the underlying queue item's own status (`resolved` / `wont_fix` / `open`), so clearing an alert here and resolving it in the ops queue are the same act. A cleared instance is never revived: if the condition fires again it opens a NEW instance with its own id. - **`assigneeId`** — the PERSON owner (a `users.id`), or `null` to unassign. - **`agent`** — the AGENT owner: a connected trigger connector's id, or the built-in `\"jarvis\"` (**Enterprise plan only** — `403` otherwise), or `null` to clear. Person and agent halves are independent.  Returns the updated row; `404` if the alert does not exist in the project.  **Use cases**  - **Wave off a known condition** — `{ \"status\": \"dismissed\" }` on an alert that needs no action. - **Hand it to someone** — `{ \"assigneeId\": \"…\" }` from the ops cockpit's Owner column.
    # @param id [String] Stable opaque instance id — the same id as the &#x60;alert&#x60; ops item this instance is.
    # @param update_alert_request [UpdateAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [AlertApiRow]
    def update_alert(id, update_alert_request, opts = {})
      data, _status_code, _headers = update_alert_with_http_info(id, update_alert_request, opts)
      data
    end

    # Update a fired alert
    # Triage writes on one fired alert — the only mutations this surface allows. All body fields are optional (at least one required); only the fields present are changed.  - **&#x60;status&#x60;** — flip between &#x60;active&#x60; / &#x60;resolved&#x60; / &#x60;dismissed&#x60;. &#x60;resolved&#x60; and &#x60;dismissed&#x60; stamp &#x60;resolvedAt&#x60; / &#x60;dismissedAt&#x60;; &#x60;active&#x60; re-opens and clears both. These write the underlying queue item&#39;s own status (&#x60;resolved&#x60; / &#x60;wont_fix&#x60; / &#x60;open&#x60;), so clearing an alert here and resolving it in the ops queue are the same act. A cleared instance is never revived: if the condition fires again it opens a NEW instance with its own id. - **&#x60;assigneeId&#x60;** — the PERSON owner (a &#x60;users.id&#x60;), or &#x60;null&#x60; to unassign. - **&#x60;agent&#x60;** — the AGENT owner: a connected trigger connector&#39;s id, or the built-in &#x60;\&quot;jarvis\&quot;&#x60; (**Enterprise plan only** — &#x60;403&#x60; otherwise), or &#x60;null&#x60; to clear. Person and agent halves are independent.  Returns the updated row; &#x60;404&#x60; if the alert does not exist in the project.  **Use cases**  - **Wave off a known condition** — &#x60;{ \&quot;status\&quot;: \&quot;dismissed\&quot; }&#x60; on an alert that needs no action. - **Hand it to someone** — &#x60;{ \&quot;assigneeId\&quot;: \&quot;…\&quot; }&#x60; from the ops cockpit&#39;s Owner column.
    # @param id [String] Stable opaque instance id — the same id as the &#x60;alert&#x60; ops item this instance is.
    # @param update_alert_request [UpdateAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(AlertApiRow, Integer, Hash)>] AlertApiRow data, response status code and response headers
    def update_alert_with_http_info(id, update_alert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FiredAlertsApi.update_alert ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FiredAlertsApi.update_alert"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling FiredAlertsApi.update_alert, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling FiredAlertsApi.update_alert, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_alert_request' is set
      if @api_client.config.client_side_validation && update_alert_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_alert_request' when calling FiredAlertsApi.update_alert"
      end
      # resource path
      local_var_path = '/api/admin/alerts/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_alert_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AlertApiRow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FiredAlertsApi.update_alert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FiredAlertsApi#update_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
