=begin
#Shipeasy Admin API (server-SDK surface)

#The slice of the Shipeasy admin API that the published server SDKs expose as their optional `AdminClient`. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Three capabilities, nothing else:  - **File a public ticket** — a bug or a feature request onto the project's ops queue. - **Toggle a kill switch** — flip the switch itself, or one of its named sub-switches, on one environment. - **Manage a flag's whitelist** — read, replace, add to, or remove from the allowlist that admits specific identities ahead of every targeting rule.  Everything else in the admin API is reachable through the Shipeasy CLI and MCP server, which speak the complete contract (`openapi.yaml`).

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class FlagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add entries to a gate's whitelist
    # Adds identities to the gate's whitelist, creating the block if the gate doesn't have one yet. Entries already on the list are skipped, so the call is idempotent and safe to retry.  Adding to a gate that already has a whitelist keyed on the other attribute is rejected (409) rather than silently re-keying the entries already there — use `PUT` to switch `attr` deliberately.  **Use case:** Let one more customer into a private beta without reading the current list first.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param add_to_gate_whitelist_request [AddToGateWhitelistRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GateWhitelist]
    def add_to_gate_whitelist(id, add_to_gate_whitelist_request, opts = {})
      data, _status_code, _headers = add_to_gate_whitelist_with_http_info(id, add_to_gate_whitelist_request, opts)
      data
    end

    # Add entries to a gate&#39;s whitelist
    # Adds identities to the gate&#39;s whitelist, creating the block if the gate doesn&#39;t have one yet. Entries already on the list are skipped, so the call is idempotent and safe to retry.  Adding to a gate that already has a whitelist keyed on the other attribute is rejected (409) rather than silently re-keying the entries already there — use &#x60;PUT&#x60; to switch &#x60;attr&#x60; deliberately.  **Use case:** Let one more customer into a private beta without reading the current list first.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param add_to_gate_whitelist_request [AddToGateWhitelistRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GateWhitelist, Integer, Hash)>] GateWhitelist data, response status code and response headers
    def add_to_gate_whitelist_with_http_info(id, add_to_gate_whitelist_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.add_to_gate_whitelist ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.add_to_gate_whitelist"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.add_to_gate_whitelist, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.add_to_gate_whitelist, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'add_to_gate_whitelist_request' is set
      if @api_client.config.client_side_validation && add_to_gate_whitelist_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_to_gate_whitelist_request' when calling FlagsApi.add_to_gate_whitelist"
      end
      # resource path
      local_var_path = '/api/admin/gates/{id}/whitelist'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_to_gate_whitelist_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GateWhitelist'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FlagsApi.add_to_gate_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#add_to_gate_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a gate's whitelist
    # Returns the gate's whitelist — the always-first allowlist that admits the listed identities before any targeting rule or percentage rollout is evaluated.  A gate with no whitelist returns `entries: []` (and the default `attr`), never a 404 — so a caller can read-then-write without special-casing the empty gate.  **Use case:** Check whether an account is already let through before adding it.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GateWhitelist]
    def get_gate_whitelist(id, opts = {})
      data, _status_code, _headers = get_gate_whitelist_with_http_info(id, opts)
      data
    end

    # Read a gate&#39;s whitelist
    # Returns the gate&#39;s whitelist — the always-first allowlist that admits the listed identities before any targeting rule or percentage rollout is evaluated.  A gate with no whitelist returns &#x60;entries: []&#x60; (and the default &#x60;attr&#x60;), never a 404 — so a caller can read-then-write without special-casing the empty gate.  **Use case:** Check whether an account is already let through before adding it.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GateWhitelist, Integer, Hash)>] GateWhitelist data, response status code and response headers
    def get_gate_whitelist_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.get_gate_whitelist ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.get_gate_whitelist"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.get_gate_whitelist, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.get_gate_whitelist, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/gates/{id}/whitelist'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GateWhitelist'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FlagsApi.get_gate_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#get_gate_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove entries from a gate's whitelist
    # Removes identities from the gate's whitelist. Entries that aren't on the list are skipped, so the call is idempotent.  Removing the last entry leaves an empty whitelist block in place; to drop the block itself use `PUT` with `entries: []`.  **Use case:** Revoke one beta tester's access without touching anyone else's.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param remove_from_gate_whitelist_request [RemoveFromGateWhitelistRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GateWhitelist]
    def remove_from_gate_whitelist(id, remove_from_gate_whitelist_request, opts = {})
      data, _status_code, _headers = remove_from_gate_whitelist_with_http_info(id, remove_from_gate_whitelist_request, opts)
      data
    end

    # Remove entries from a gate&#39;s whitelist
    # Removes identities from the gate&#39;s whitelist. Entries that aren&#39;t on the list are skipped, so the call is idempotent.  Removing the last entry leaves an empty whitelist block in place; to drop the block itself use &#x60;PUT&#x60; with &#x60;entries: []&#x60;.  **Use case:** Revoke one beta tester&#39;s access without touching anyone else&#39;s.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param remove_from_gate_whitelist_request [RemoveFromGateWhitelistRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GateWhitelist, Integer, Hash)>] GateWhitelist data, response status code and response headers
    def remove_from_gate_whitelist_with_http_info(id, remove_from_gate_whitelist_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.remove_from_gate_whitelist ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.remove_from_gate_whitelist"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.remove_from_gate_whitelist, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.remove_from_gate_whitelist, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'remove_from_gate_whitelist_request' is set
      if @api_client.config.client_side_validation && remove_from_gate_whitelist_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_from_gate_whitelist_request' when calling FlagsApi.remove_from_gate_whitelist"
      end
      # resource path
      local_var_path = '/api/admin/gates/{id}/whitelist'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remove_from_gate_whitelist_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GateWhitelist'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FlagsApi.remove_from_gate_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#remove_from_gate_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replace a gate's whitelist
    # Replaces the gate's whole whitelist with `entries`, creating the block if the gate didn't have one. Idempotent — the same call twice leaves the same list.  This is the only whitelist call that can switch `attr` (`email` ⇄ `user_id`) or clear the block: `entries: []` removes the whitelist from the gate entirely.  **Use cases**  - **Pin an exact list** — `{ \"entries\": [\"alice@acme.dev\", \"bob@acme.dev\"] }`. - **Switch to user ids** — `{ \"attr\": \"user_id\", \"entries\": [\"usr_123\"] }`. - **Drop the whitelist** — `{ \"entries\": [] }`.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param set_gate_whitelist_request [SetGateWhitelistRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GateWhitelist]
    def set_gate_whitelist(id, set_gate_whitelist_request, opts = {})
      data, _status_code, _headers = set_gate_whitelist_with_http_info(id, set_gate_whitelist_request, opts)
      data
    end

    # Replace a gate&#39;s whitelist
    # Replaces the gate&#39;s whole whitelist with &#x60;entries&#x60;, creating the block if the gate didn&#39;t have one. Idempotent — the same call twice leaves the same list.  This is the only whitelist call that can switch &#x60;attr&#x60; (&#x60;email&#x60; ⇄ &#x60;user_id&#x60;) or clear the block: &#x60;entries: []&#x60; removes the whitelist from the gate entirely.  **Use cases**  - **Pin an exact list** — &#x60;{ \&quot;entries\&quot;: [\&quot;alice@acme.dev\&quot;, \&quot;bob@acme.dev\&quot;] }&#x60;. - **Switch to user ids** — &#x60;{ \&quot;attr\&quot;: \&quot;user_id\&quot;, \&quot;entries\&quot;: [\&quot;usr_123\&quot;] }&#x60;. - **Drop the whitelist** — &#x60;{ \&quot;entries\&quot;: [] }&#x60;.
    # @param id [String] Stable opaque gate id (&#x60;gate_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param set_gate_whitelist_request [SetGateWhitelistRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GateWhitelist, Integer, Hash)>] GateWhitelist data, response status code and response headers
    def set_gate_whitelist_with_http_info(id, set_gate_whitelist_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.set_gate_whitelist ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.set_gate_whitelist"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.set_gate_whitelist, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.set_gate_whitelist, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'set_gate_whitelist_request' is set
      if @api_client.config.client_side_validation && set_gate_whitelist_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_gate_whitelist_request' when calling FlagsApi.set_gate_whitelist"
      end
      # resource path
      local_var_path = '/api/admin/gates/{id}/whitelist'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_gate_whitelist_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GateWhitelist'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FlagsApi.set_gate_whitelist",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#set_gate_whitelist\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
