=begin
#Shipeasy Admin API (SDK admin subset)

#Lean subset of the Shipeasy admin API vendored into the server SDKs to build the optional AdminClient. Generated by scripts/sdk-spec/prune.mjs from the canonical spec — do not hand-edit. Groups: ops-public-ticket, killswitch-switches, flag-whitelist.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class FlagsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get one gate
    # Returns the full gate row — including the gatekeeper `stack`, resolved creator/last-editor emails, and the edit `version` — for one gate, addressed by id or `name`.  **Use case:** Inspect a single gate's current rollout, rules, and stack before editing it, without paging through the whole list.
    # @param id [String] Stable opaque gate id (&#x60;gat_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GateApiRow]
    def get_gate(id, opts = {})
      data, _status_code, _headers = get_gate_with_http_info(id, opts)
      data
    end

    # Get one gate
    # Returns the full gate row — including the gatekeeper &#x60;stack&#x60;, resolved creator/last-editor emails, and the edit &#x60;version&#x60; — for one gate, addressed by id or &#x60;name&#x60;.  **Use case:** Inspect a single gate&#39;s current rollout, rules, and stack before editing it, without paging through the whole list.
    # @param id [String] Stable opaque gate id (&#x60;gat_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GateApiRow, Integer, Hash)>] GateApiRow data, response status code and response headers
    def get_gate_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.get_gate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.get_gate"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.get_gate, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.get_gate, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/gates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GateApiRow'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FlagsApi.get_gate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#get_gate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List feature gates
    # Returns a single page of gates ordered by `updated_at desc, id desc`. Use the `cursor` query parameter to paginate.  **Use case:** Snapshot every gate in the project — for example to render an admin overview or to drive a CI check that asserts no gate is left at 100% in staging.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @return [ListGatesResponse]
    def list_gates(opts = {})
      data, _status_code, _headers = list_gates_with_http_info(opts)
      data
    end

    # List feature gates
    # Returns a single page of gates ordered by &#x60;updated_at desc, id desc&#x60;. Use the &#x60;cursor&#x60; query parameter to paginate.  **Use case:** Snapshot every gate in the project — for example to render an admin overview or to drive a CI check that asserts no gate is left at 100% in staging.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @return [Array<(ListGatesResponse, Integer, Hash)>] ListGatesResponse data, response status code and response headers
    def list_gates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.list_gates ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FlagsApi.list_gates, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling FlagsApi.list_gates, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling FlagsApi.list_gates, the character length must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/api/admin/gates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListGatesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FlagsApi.list_gates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#list_gates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a feature gate
    # Partial update — only supplied fields change. Array fields (`rules`, `stack`) **replace** wholesale; there is no merge or append.  `name` and the gate id are immutable. The response carries only `{ id }` — re-fetch via `GET /api/admin/gates` for the new row.  **Use cases**  - **Ramp rollout** — `{ \"rollout_pct\": 5000 }` for 50%. Basis points (0–10000); `100` = 1%. - **Kill switch** — `{ \"enabled\": false }`. Forces evaluation to `false` for every caller regardless of rules/rollout. Re-enable with `POST /{id}/enable` or `{ \"enabled\": true }`. - **Modify a rule's `in` set** — send the full new `rules` array. To add `'GB'` to `['US','CA']`: `{ \"rules\": [{ \"attr\": \"country\", \"op\": \"in\", \"value\": [\"US\",\"CA\",\"GB\"] }] }`. No per-rule patch endpoint. - **Add targeting from scratch** — `{ \"rules\": [{ \"attr\": \"email\", \"op\": \"regex\", \"value\": \"@acme\\\\.com$\" }] }`. - **Switch to gatekeeper stack** — send a non-null `stack`. To revert to flat eval, send `{ \"stack\": null }`. - **Update metadata** — any subset of `title`, `description`, `folder`, `group`, `owner_email`.
    # @param id [String] Stable opaque gate id (&#x60;gat_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param update_gate_request [UpdateGateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateGateResponse]
    def update_gate(id, update_gate_request, opts = {})
      data, _status_code, _headers = update_gate_with_http_info(id, update_gate_request, opts)
      data
    end

    # Update a feature gate
    # Partial update — only supplied fields change. Array fields (&#x60;rules&#x60;, &#x60;stack&#x60;) **replace** wholesale; there is no merge or append.  &#x60;name&#x60; and the gate id are immutable. The response carries only &#x60;{ id }&#x60; — re-fetch via &#x60;GET /api/admin/gates&#x60; for the new row.  **Use cases**  - **Ramp rollout** — &#x60;{ \&quot;rollout_pct\&quot;: 5000 }&#x60; for 50%. Basis points (0–10000); &#x60;100&#x60; &#x3D; 1%. - **Kill switch** — &#x60;{ \&quot;enabled\&quot;: false }&#x60;. Forces evaluation to &#x60;false&#x60; for every caller regardless of rules/rollout. Re-enable with &#x60;POST /{id}/enable&#x60; or &#x60;{ \&quot;enabled\&quot;: true }&#x60;. - **Modify a rule&#39;s &#x60;in&#x60; set** — send the full new &#x60;rules&#x60; array. To add &#x60;&#39;GB&#39;&#x60; to &#x60;[&#39;US&#39;,&#39;CA&#39;]&#x60;: &#x60;{ \&quot;rules\&quot;: [{ \&quot;attr\&quot;: \&quot;country\&quot;, \&quot;op\&quot;: \&quot;in\&quot;, \&quot;value\&quot;: [\&quot;US\&quot;,\&quot;CA\&quot;,\&quot;GB\&quot;] }] }&#x60;. No per-rule patch endpoint. - **Add targeting from scratch** — &#x60;{ \&quot;rules\&quot;: [{ \&quot;attr\&quot;: \&quot;email\&quot;, \&quot;op\&quot;: \&quot;regex\&quot;, \&quot;value\&quot;: \&quot;@acme\\\\.com$\&quot; }] }&#x60;. - **Switch to gatekeeper stack** — send a non-null &#x60;stack&#x60;. To revert to flat eval, send &#x60;{ \&quot;stack\&quot;: null }&#x60;. - **Update metadata** — any subset of &#x60;title&#x60;, &#x60;description&#x60;, &#x60;folder&#x60;, &#x60;group&#x60;, &#x60;owner_email&#x60;.
    # @param id [String] Stable opaque gate id (&#x60;gat_…&#x60;) or the gate&#39;s &#x60;name&#x60;.
    # @param update_gate_request [UpdateGateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateGateResponse, Integer, Hash)>] UpdateGateResponse data, response status code and response headers
    def update_gate_with_http_info(id, update_gate_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagsApi.update_gate ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling FlagsApi.update_gate"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.update_gate, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling FlagsApi.update_gate, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_gate_request' is set
      if @api_client.config.client_side_validation && update_gate_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_gate_request' when calling FlagsApi.update_gate"
      end
      # resource path
      local_var_path = '/api/admin/gates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_gate_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"FlagsApi.update_gate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagsApi#update_gate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
