=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class InvestigationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Record an investigation
    # Append one structured investigation record to a queue item — the AI-write seam the cockpit's detail panel renders read-only. Post your findings (`kind: investigated`), a blocking question for the team (`kind: question`), or how to verify the fix (`kind: ready_for_qa` with `qaNotes`). Append-only and create-only, so it is safe for restricted ops keys.  **Use case:** After working an item, leave a findings write-up (summary, markdown findings, sources inspected, confidence) so the team — and the next agent run — sees what you learned.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param create_ops_investigation_request [CreateOpsInvestigationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [OpsInvestigation]
    def create_ops_investigation(handle, create_ops_investigation_request, opts = {})
      data, _status_code, _headers = create_ops_investigation_with_http_info(handle, create_ops_investigation_request, opts)
      data
    end

    # Record an investigation
    # Append one structured investigation record to a queue item — the AI-write seam the cockpit&#39;s detail panel renders read-only. Post your findings (&#x60;kind: investigated&#x60;), a blocking question for the team (&#x60;kind: question&#x60;), or how to verify the fix (&#x60;kind: ready_for_qa&#x60; with &#x60;qaNotes&#x60;). Append-only and create-only, so it is safe for restricted ops keys.  **Use case:** After working an item, leave a findings write-up (summary, markdown findings, sources inspected, confidence) so the team — and the next agent run — sees what you learned.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param create_ops_investigation_request [CreateOpsInvestigationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(OpsInvestigation, Integer, Hash)>] OpsInvestigation data, response status code and response headers
    def create_ops_investigation_with_http_info(handle, create_ops_investigation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestigationsApi.create_ops_investigation ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling InvestigationsApi.create_ops_investigation"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling InvestigationsApi.create_ops_investigation, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling InvestigationsApi.create_ops_investigation, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'create_ops_investigation_request' is set
      if @api_client.config.client_side_validation && create_ops_investigation_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ops_investigation_request' when calling InvestigationsApi.create_ops_investigation"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}/investigation'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ops_investigation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OpsInvestigation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"InvestigationsApi.create_ops_investigation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestigationsApi#create_ops_investigation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List an item's investigation records
    # The structured, read-only investigation records on a queue item — the findings / blocking questions / QA notes an AI agent posted while working it, plus its `working` run rows. Returns `published` records only, newest first (max 50).  **Use case:** Read what a previous agent run already found before starting your own investigation of the item.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<OpsInvestigation>]
    def list_ops_investigations(handle, opts = {})
      data, _status_code, _headers = list_ops_investigations_with_http_info(handle, opts)
      data
    end

    # List an item&#39;s investigation records
    # The structured, read-only investigation records on a queue item — the findings / blocking questions / QA notes an AI agent posted while working it, plus its &#x60;working&#x60; run rows. Returns &#x60;published&#x60; records only, newest first (max 50).  **Use case:** Read what a previous agent run already found before starting your own investigation of the item.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(Array<OpsInvestigation>, Integer, Hash)>] Array<OpsInvestigation> data, response status code and response headers
    def list_ops_investigations_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestigationsApi.list_ops_investigations ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling InvestigationsApi.list_ops_investigations"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling InvestigationsApi.list_ops_investigations, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling InvestigationsApi.list_ops_investigations, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops/{handle}/investigation'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OpsInvestigation>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"InvestigationsApi.list_ops_investigations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestigationsApi#list_ops_investigations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an investigation record
    # Update one existing investigation record in place — the write-back seam for the `working` run record you were handed when a run was launched. Fill in the `summary`/`findings`, attach the fixing PR, record your `confidence` and the `sources` you inspected, or flip its `kind` off `working` once the investigation is done. A partial patch: send only the fields you want to change. Safe for restricted ops keys (it never reads or deletes).  **Use case:** A run started with an empty `working` record; as you work, PATCH it with your findings so the cockpit's detail panel fills in live — no need to append a second record.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param investigation_id [String] The investigation record id (from &#x60;POST&#x60;/&#x60;GET .../investigation&#x60; or the &#x60;runId&#x60; an ack/launch returned).
    # @param update_ops_investigation_request [UpdateOpsInvestigationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [OpsInvestigation]
    def update_ops_investigation(handle, investigation_id, update_ops_investigation_request, opts = {})
      data, _status_code, _headers = update_ops_investigation_with_http_info(handle, investigation_id, update_ops_investigation_request, opts)
      data
    end

    # Update an investigation record
    # Update one existing investigation record in place — the write-back seam for the &#x60;working&#x60; run record you were handed when a run was launched. Fill in the &#x60;summary&#x60;/&#x60;findings&#x60;, attach the fixing PR, record your &#x60;confidence&#x60; and the &#x60;sources&#x60; you inspected, or flip its &#x60;kind&#x60; off &#x60;working&#x60; once the investigation is done. A partial patch: send only the fields you want to change. Safe for restricted ops keys (it never reads or deletes).  **Use case:** A run started with an empty &#x60;working&#x60; record; as you work, PATCH it with your findings so the cockpit&#39;s detail panel fills in live — no need to append a second record.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param investigation_id [String] The investigation record id (from &#x60;POST&#x60;/&#x60;GET .../investigation&#x60; or the &#x60;runId&#x60; an ack/launch returned).
    # @param update_ops_investigation_request [UpdateOpsInvestigationRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(OpsInvestigation, Integer, Hash)>] OpsInvestigation data, response status code and response headers
    def update_ops_investigation_with_http_info(handle, investigation_id, update_ops_investigation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestigationsApi.update_ops_investigation ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling InvestigationsApi.update_ops_investigation"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling InvestigationsApi.update_ops_investigation, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling InvestigationsApi.update_ops_investigation, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'investigation_id' is set
      if @api_client.config.client_side_validation && investigation_id.nil?
        fail ArgumentError, "Missing the required parameter 'investigation_id' when calling InvestigationsApi.update_ops_investigation"
      end
      if @api_client.config.client_side_validation && investigation_id.to_s.length > 128
        fail ArgumentError, 'invalid value for "investigation_id" when calling InvestigationsApi.update_ops_investigation, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && investigation_id.to_s.length < 1
        fail ArgumentError, 'invalid value for "investigation_id" when calling InvestigationsApi.update_ops_investigation, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_ops_investigation_request' is set
      if @api_client.config.client_side_validation && update_ops_investigation_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ops_investigation_request' when calling InvestigationsApi.update_ops_investigation"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}/investigation/{investigationId}'.sub('{handle}', CGI.escape(handle.to_s)).sub('{investigationId}', CGI.escape(investigation_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ops_investigation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OpsInvestigation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"InvestigationsApi.update_ops_investigation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestigationsApi#update_ops_investigation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
