=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class KeysApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List i18n keys
    # List keys for a profile, optionally filtered to a name `prefix`.  **Use case:** Read the current keys (and values) for a profile — e.g. to diff before a push.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :profile_id Profile id to list keys for.
    # @option opts [String] :prefix Only keys whose name starts with this.
    # @option opts [String] :q Free-text search — matches keys whose name OR value contains this substring (case-insensitive). Use it to find the key behind a piece of on-screen copy.
    # @option opts [Integer] :limit Max keys to return (1–500).
    # @return [ListI18nKeysResponse]
    def list_i18n_keys(opts = {})
      data, _status_code, _headers = list_i18n_keys_with_http_info(opts)
      data
    end

    # List i18n keys
    # List keys for a profile, optionally filtered to a name &#x60;prefix&#x60;.  **Use case:** Read the current keys (and values) for a profile — e.g. to diff before a push.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :profile_id Profile id to list keys for.
    # @option opts [String] :prefix Only keys whose name starts with this.
    # @option opts [String] :q Free-text search — matches keys whose name OR value contains this substring (case-insensitive). Use it to find the key behind a piece of on-screen copy.
    # @option opts [Integer] :limit Max keys to return (1–500).
    # @return [Array<(ListI18nKeysResponse, Integer, Hash)>] ListI18nKeysResponse data, response status code and response headers
    def list_i18n_keys_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.list_i18n_keys ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KeysApi.list_i18n_keys, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KeysApi.list_i18n_keys, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/i18n/keys'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'profile_id'] = opts[:'profile_id'] if !opts[:'profile_id'].nil?
      query_params[:'prefix'] = opts[:'prefix'] if !opts[:'prefix'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListI18nKeysResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KeysApi.list_i18n_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#list_i18n_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Push new i18n keys (insert-only)
    # Add NEW keys to a profile. Insert-only — existing keys are left untouched (overwrite one with `updateI18nKey`).  **Use case:** Seed newly-extracted keys without clobbering translations already in the profile.
    # @param push_i18n_keys_request [PushI18nKeysRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [PushI18nKeysResponse]
    def push_i18n_keys(push_i18n_keys_request, opts = {})
      data, _status_code, _headers = push_i18n_keys_with_http_info(push_i18n_keys_request, opts)
      data
    end

    # Push new i18n keys (insert-only)
    # Add NEW keys to a profile. Insert-only — existing keys are left untouched (overwrite one with &#x60;updateI18nKey&#x60;).  **Use case:** Seed newly-extracted keys without clobbering translations already in the profile.
    # @param push_i18n_keys_request [PushI18nKeysRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(PushI18nKeysResponse, Integer, Hash)>] PushI18nKeysResponse data, response status code and response headers
    def push_i18n_keys_with_http_info(push_i18n_keys_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.push_i18n_keys ...'
      end
      # verify the required parameter 'push_i18n_keys_request' is set
      if @api_client.config.client_side_validation && push_i18n_keys_request.nil?
        fail ArgumentError, "Missing the required parameter 'push_i18n_keys_request' when calling KeysApi.push_i18n_keys"
      end
      # resource path
      local_var_path = '/api/admin/i18n/keys'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(push_i18n_keys_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PushI18nKeysResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KeysApi.push_i18n_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#push_i18n_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set a key's value and publish it live
    # Upsert a single key's value into a profile and immediately publish the whole profile (KV rebuild + CDN purge) so the new value is live in one call. The key is inserted when new and overwritten when it already exists. `profile` is a profile name — omit it to target the project's default-marked profile, or pass a name to target another locale.  **Use case:** Correct or replace one live string and ship it without a separate `push` + `publish`.
    # @param set_i18n_label_request [SetI18nLabelRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [SetI18nLabelResponse]
    def set_i18n_label(set_i18n_label_request, opts = {})
      data, _status_code, _headers = set_i18n_label_with_http_info(set_i18n_label_request, opts)
      data
    end

    # Set a key&#39;s value and publish it live
    # Upsert a single key&#39;s value into a profile and immediately publish the whole profile (KV rebuild + CDN purge) so the new value is live in one call. The key is inserted when new and overwritten when it already exists. &#x60;profile&#x60; is a profile name — omit it to target the project&#39;s default-marked profile, or pass a name to target another locale.  **Use case:** Correct or replace one live string and ship it without a separate &#x60;push&#x60; + &#x60;publish&#x60;.
    # @param set_i18n_label_request [SetI18nLabelRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(SetI18nLabelResponse, Integer, Hash)>] SetI18nLabelResponse data, response status code and response headers
    def set_i18n_label_with_http_info(set_i18n_label_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.set_i18n_label ...'
      end
      # verify the required parameter 'set_i18n_label_request' is set
      if @api_client.config.client_side_validation && set_i18n_label_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_i18n_label_request' when calling KeysApi.set_i18n_label"
      end
      # resource path
      local_var_path = '/api/admin/i18n/set'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_i18n_label_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetI18nLabelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KeysApi.set_i18n_label",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#set_i18n_label\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update one i18n key
    # Overwrite a single existing key's value — the only overwrite path.  **Use case:** Correct or re-translate a single string in place.
    # @param id [String] The key&#39;s id.
    # @param update_i18n_key_request [UpdateI18nKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateI18nKeyResponse]
    def update_i18n_key(id, update_i18n_key_request, opts = {})
      data, _status_code, _headers = update_i18n_key_with_http_info(id, update_i18n_key_request, opts)
      data
    end

    # Update one i18n key
    # Overwrite a single existing key&#39;s value — the only overwrite path.  **Use case:** Correct or re-translate a single string in place.
    # @param id [String] The key&#39;s id.
    # @param update_i18n_key_request [UpdateI18nKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateI18nKeyResponse, Integer, Hash)>] UpdateI18nKeyResponse data, response status code and response headers
    def update_i18n_key_with_http_info(id, update_i18n_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KeysApi.update_i18n_key ...'
      end
      # verify the required parameter 'update_i18n_key_request' is set
      if @api_client.config.client_side_validation && update_i18n_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_i18n_key_request' when calling KeysApi.update_i18n_key"
      end
      # resource path
      local_var_path = '/api/admin/i18n/keys/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_i18n_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateI18nKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KeysApi.update_i18n_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KeysApi#update_i18n_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
