=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class KillswitchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a killswitch
    # Creates a new killswitch with `value` (default `false`) applied to **every** env at version 1.  Returns `409` if `name` already exists in the project.  **Use cases**  - **Untripped create** — `{ \"name\": \"payments.checkout\" }`. Provision the kill ahead of an incident. - **Pre-tripped** — `{ \"value\": true }` to ship the killswitch already engaged. - **With switches** — seed `switches` to carve out per-region/per-tenant kills from day one.
    # @param create_killswitch_request [CreateKillswitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateKillswitchResponse]
    def create_killswitch(create_killswitch_request, opts = {})
      data, _status_code, _headers = create_killswitch_with_http_info(create_killswitch_request, opts)
      data
    end

    # Create a killswitch
    # Creates a new killswitch with &#x60;value&#x60; (default &#x60;false&#x60;) applied to **every** env at version 1.  Returns &#x60;409&#x60; if &#x60;name&#x60; already exists in the project.  **Use cases**  - **Untripped create** — &#x60;{ \&quot;name\&quot;: \&quot;payments.checkout\&quot; }&#x60;. Provision the kill ahead of an incident. - **Pre-tripped** — &#x60;{ \&quot;value\&quot;: true }&#x60; to ship the killswitch already engaged. - **With switches** — seed &#x60;switches&#x60; to carve out per-region/per-tenant kills from day one.
    # @param create_killswitch_request [CreateKillswitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateKillswitchResponse, Integer, Hash)>] CreateKillswitchResponse data, response status code and response headers
    def create_killswitch_with_http_info(create_killswitch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.create_killswitch ...'
      end
      # verify the required parameter 'create_killswitch_request' is set
      if @api_client.config.client_side_validation && create_killswitch_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_killswitch_request' when calling KillswitchApi.create_killswitch"
      end
      # resource path
      local_var_path = '/api/admin/killswitches'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_killswitch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateKillswitchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.create_killswitch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#create_killswitch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a killswitch
    # Soft-deletes the killswitch and rebuilds the project's flags KV blob so SDKs stop seeing it.  **Use case:** Tear down a killswitch after the feature it protected has been removed.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteKillswitchResponse]
    def delete_killswitch(id, opts = {})
      data, _status_code, _headers = delete_killswitch_with_http_info(id, opts)
      data
    end

    # Delete a killswitch
    # Soft-deletes the killswitch and rebuilds the project&#39;s flags KV blob so SDKs stop seeing it.  **Use case:** Tear down a killswitch after the feature it protected has been removed.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteKillswitchResponse, Integer, Hash)>] DeleteKillswitchResponse data, response status code and response headers
    def delete_killswitch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.delete_killswitch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KillswitchApi.delete_killswitch"
      end
      # resource path
      local_var_path = '/api/admin/killswitches/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteKillswitchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.delete_killswitch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#delete_killswitch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one killswitch
    # Returns the killswitch metadata plus the latest published `value`/`switches`/`version` per env.  **Use case:** Fetch the current state of one killswitch — e.g. to verify a trip propagated before declaring an incident mitigated.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetKillswitchResponse]
    def get_killswitch(id, opts = {})
      data, _status_code, _headers = get_killswitch_with_http_info(id, opts)
      data
    end

    # Get one killswitch
    # Returns the killswitch metadata plus the latest published &#x60;value&#x60;/&#x60;switches&#x60;/&#x60;version&#x60; per env.  **Use case:** Fetch the current state of one killswitch — e.g. to verify a trip propagated before declaring an incident mitigated.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetKillswitchResponse, Integer, Hash)>] GetKillswitchResponse data, response status code and response headers
    def get_killswitch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.get_killswitch ...'
      end
      # resource path
      local_var_path = '/api/admin/killswitches/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetKillswitchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.get_killswitch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#get_killswitch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List killswitches
    # Returns a single page of killswitches ordered by `updated_at desc, id desc`. Each row includes the latest published `value`/`switches`/`version` per env.  **Use case:** Snapshot every killswitch in the project — e.g. to render an incident-response runbook listing every kill and its current trip state.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [ListKillswitchesResponse]
    def list_killswitches(opts = {})
      data, _status_code, _headers = list_killswitches_with_http_info(opts)
      data
    end

    # List killswitches
    # Returns a single page of killswitches ordered by &#x60;updated_at desc, id desc&#x60;. Each row includes the latest published &#x60;value&#x60;/&#x60;switches&#x60;/&#x60;version&#x60; per env.  **Use case:** Snapshot every killswitch in the project — e.g. to render an incident-response runbook listing every kill and its current trip state.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [Array<(ListKillswitchesResponse, Integer, Hash)>] ListKillswitchesResponse data, response status code and response headers
    def list_killswitches_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.list_killswitches ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KillswitchApi.list_killswitches, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KillswitchApi.list_killswitches, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/killswitches'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListKillswitchesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.list_killswitches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#list_killswitches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set one switch entry
    # Sets or updates a single `switchKey` on a single `env`. Publishes one new version on that env only — other envs untouched.  Use this for surgical per-env, per-key flips during incident response (e.g. trip `eu_region` on prod without touching the flat `value` or other envs).  **Use cases**  - **Trip a region** — `{ \"env\": \"prod\", \"switchKey\": \"eu_region\", \"value\": true }`. - **Untrip without removing** — same payload with `value: false`. To remove the entry entirely use `DELETE /{id}/switch`.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param set_killswitch_switch_request [SetKillswitchSwitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [SetKillswitchSwitchResponse]
    def set_killswitch_switch(id, set_killswitch_switch_request, opts = {})
      data, _status_code, _headers = set_killswitch_switch_with_http_info(id, set_killswitch_switch_request, opts)
      data
    end

    # Set one switch entry
    # Sets or updates a single &#x60;switchKey&#x60; on a single &#x60;env&#x60;. Publishes one new version on that env only — other envs untouched.  Use this for surgical per-env, per-key flips during incident response (e.g. trip &#x60;eu_region&#x60; on prod without touching the flat &#x60;value&#x60; or other envs).  **Use cases**  - **Trip a region** — &#x60;{ \&quot;env\&quot;: \&quot;prod\&quot;, \&quot;switchKey\&quot;: \&quot;eu_region\&quot;, \&quot;value\&quot;: true }&#x60;. - **Untrip without removing** — same payload with &#x60;value: false&#x60;. To remove the entry entirely use &#x60;DELETE /{id}/switch&#x60;.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param set_killswitch_switch_request [SetKillswitchSwitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(SetKillswitchSwitchResponse, Integer, Hash)>] SetKillswitchSwitchResponse data, response status code and response headers
    def set_killswitch_switch_with_http_info(id, set_killswitch_switch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.set_killswitch_switch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KillswitchApi.set_killswitch_switch"
      end
      # verify the required parameter 'set_killswitch_switch_request' is set
      if @api_client.config.client_side_validation && set_killswitch_switch_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_killswitch_switch_request' when calling KillswitchApi.set_killswitch_switch"
      end
      # resource path
      local_var_path = '/api/admin/killswitches/{id}/switch'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_killswitch_switch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetKillswitchSwitchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.set_killswitch_switch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#set_killswitch_switch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the flat value on one env
    # Sets the flat `value` on a single `env`, publishing one new version on that env only. `switches` and other envs are untouched.  Use this to trip (or untrip) a killswitch on one environment without replacing its per-key overrides.  **Use cases**  - **Trip on prod** — `{ \"env\": \"prod\", \"value\": true }`. - **Untrip on prod** — `{ \"env\": \"prod\", \"value\": false }`.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param set_killswitch_value_request [SetKillswitchValueRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [SetKillswitchValueResponse]
    def set_killswitch_value(id, set_killswitch_value_request, opts = {})
      data, _status_code, _headers = set_killswitch_value_with_http_info(id, set_killswitch_value_request, opts)
      data
    end

    # Set the flat value on one env
    # Sets the flat &#x60;value&#x60; on a single &#x60;env&#x60;, publishing one new version on that env only. &#x60;switches&#x60; and other envs are untouched.  Use this to trip (or untrip) a killswitch on one environment without replacing its per-key overrides.  **Use cases**  - **Trip on prod** — &#x60;{ \&quot;env\&quot;: \&quot;prod\&quot;, \&quot;value\&quot;: true }&#x60;. - **Untrip on prod** — &#x60;{ \&quot;env\&quot;: \&quot;prod\&quot;, \&quot;value\&quot;: false }&#x60;.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param set_killswitch_value_request [SetKillswitchValueRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(SetKillswitchValueResponse, Integer, Hash)>] SetKillswitchValueResponse data, response status code and response headers
    def set_killswitch_value_with_http_info(id, set_killswitch_value_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.set_killswitch_value ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KillswitchApi.set_killswitch_value"
      end
      # verify the required parameter 'set_killswitch_value_request' is set
      if @api_client.config.client_side_validation && set_killswitch_value_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_killswitch_value_request' when calling KillswitchApi.set_killswitch_value"
      end
      # resource path
      local_var_path = '/api/admin/killswitches/{id}/value'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_killswitch_value_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetKillswitchValueResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.set_killswitch_value",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#set_killswitch_value\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove one switch entry
    # Removes a single `switchKey` from the `switches` map on a single `env`. Publishes a new version on that env.  Returns `{ removed: false }` if the entry didn't exist (idempotent no-op).  **Use case:** Clean up a per-region override after the incident is resolved so the flat `value` governs again.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param unset_killswitch_switch_request [UnsetKillswitchSwitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UnsetKillswitchSwitchResponse]
    def unset_killswitch_switch(id, unset_killswitch_switch_request, opts = {})
      data, _status_code, _headers = unset_killswitch_switch_with_http_info(id, unset_killswitch_switch_request, opts)
      data
    end

    # Remove one switch entry
    # Removes a single &#x60;switchKey&#x60; from the &#x60;switches&#x60; map on a single &#x60;env&#x60;. Publishes a new version on that env.  Returns &#x60;{ removed: false }&#x60; if the entry didn&#39;t exist (idempotent no-op).  **Use case:** Clean up a per-region override after the incident is resolved so the flat &#x60;value&#x60; governs again.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param unset_killswitch_switch_request [UnsetKillswitchSwitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UnsetKillswitchSwitchResponse, Integer, Hash)>] UnsetKillswitchSwitchResponse data, response status code and response headers
    def unset_killswitch_switch_with_http_info(id, unset_killswitch_switch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.unset_killswitch_switch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KillswitchApi.unset_killswitch_switch"
      end
      # verify the required parameter 'unset_killswitch_switch_request' is set
      if @api_client.config.client_side_validation && unset_killswitch_switch_request.nil?
        fail ArgumentError, "Missing the required parameter 'unset_killswitch_switch_request' when calling KillswitchApi.unset_killswitch_switch"
      end
      # resource path
      local_var_path = '/api/admin/killswitches/{id}/switch'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unset_killswitch_switch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnsetKillswitchSwitchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.unset_killswitch_switch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#unset_killswitch_switch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a killswitch
    # Partial update applied to **every** env. Setting `value`/`switches` publishes a new version per env. Description-only patches don't bump versions.  To change a single switch on a single env, use `PUT /{id}/switch` instead.  **Use cases**  - **Trip everywhere** — `{ \"value\": true }`. Kills the feature across dev/stage/prod in one call. - **Untrip everywhere** — `{ \"value\": false }`. - **Replace switches** — send the full new map; per-key edits use `PUT /{id}/switch`. - **Update description** — metadata-only patches don't bump versions.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param update_killswitch_request [UpdateKillswitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateKillswitchResponse]
    def update_killswitch(id, update_killswitch_request, opts = {})
      data, _status_code, _headers = update_killswitch_with_http_info(id, update_killswitch_request, opts)
      data
    end

    # Update a killswitch
    # Partial update applied to **every** env. Setting &#x60;value&#x60;/&#x60;switches&#x60; publishes a new version per env. Description-only patches don&#39;t bump versions.  To change a single switch on a single env, use &#x60;PUT /{id}/switch&#x60; instead.  **Use cases**  - **Trip everywhere** — &#x60;{ \&quot;value\&quot;: true }&#x60;. Kills the feature across dev/stage/prod in one call. - **Untrip everywhere** — &#x60;{ \&quot;value\&quot;: false }&#x60;. - **Replace switches** — send the full new map; per-key edits use &#x60;PUT /{id}/switch&#x60;. - **Update description** — metadata-only patches don&#39;t bump versions.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param update_killswitch_request [UpdateKillswitchRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateKillswitchResponse, Integer, Hash)>] UpdateKillswitchResponse data, response status code and response headers
    def update_killswitch_with_http_info(id, update_killswitch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.update_killswitch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KillswitchApi.update_killswitch"
      end
      # verify the required parameter 'update_killswitch_request' is set
      if @api_client.config.client_side_validation && update_killswitch_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_killswitch_request' when calling KillswitchApi.update_killswitch"
      end
      # resource path
      local_var_path = '/api/admin/killswitches/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_killswitch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateKillswitchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.update_killswitch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#update_killswitch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
