=begin
#Shipeasy Admin API (server-SDK surface)

#The slice of the Shipeasy admin API that the published server SDKs expose as their optional `AdminClient`. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Three capabilities, nothing else:  - **File a public ticket** — a bug or a feature request onto the project's ops queue. - **Toggle a kill switch** — flip the switch itself, or one of its named sub-switches, on one environment. - **Manage a flag's whitelist** — read, replace, add to, or remove from the allowlist that admits specific identities ahead of every targeting rule.  Everything else in the admin API is reachable through the Shipeasy CLI and MCP server, which speak the complete contract (`openapi.yaml`).

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class KillswitchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Toggle a killswitch or one of its switches
    # Flips a killswitch on one environment and publishes a new version there. This is the one-call incident verb: it reads the current value, flips it, and publishes, so you don't have to fetch the killswitch first.  Every body field is optional, which is what makes the call widen cleanly:  - **Flip the killswitch** — `{}`. Flips the flat `value` on `prod`. - **Flip one sub-switch** — `{ \"switchKey\": \"eu_region\" }`. Flips that entry on `prod`, creating it (from `false`) if it isn't in the map yet. - **Set it idempotently** — `{ \"switchKey\": \"eu_region\", \"value\": true }`. Publishes exactly that value, so a retried call can't undo the first one. A `null` `value` means \"flip\", not \"set to null\". - **Choose the environment** — add `\"env\": \"staging\"`. Omitted, `env` is `prod`.  The response reports both `previous` and `value`, so a caller that asked for a flip can see what it actually changed.  Prefer this over `PUT /{id}/value` and `PUT /{id}/switch` unless you specifically need those endpoints' unconditional set semantics.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [ToggleKillswitchRequest] :toggle_killswitch_request 
    # @return [ToggleKillswitchResponse]
    def toggle_killswitch(id, opts = {})
      data, _status_code, _headers = toggle_killswitch_with_http_info(id, opts)
      data
    end

    # Toggle a killswitch or one of its switches
    # Flips a killswitch on one environment and publishes a new version there. This is the one-call incident verb: it reads the current value, flips it, and publishes, so you don&#39;t have to fetch the killswitch first.  Every body field is optional, which is what makes the call widen cleanly:  - **Flip the killswitch** — &#x60;{}&#x60;. Flips the flat &#x60;value&#x60; on &#x60;prod&#x60;. - **Flip one sub-switch** — &#x60;{ \&quot;switchKey\&quot;: \&quot;eu_region\&quot; }&#x60;. Flips that entry on &#x60;prod&#x60;, creating it (from &#x60;false&#x60;) if it isn&#39;t in the map yet. - **Set it idempotently** — &#x60;{ \&quot;switchKey\&quot;: \&quot;eu_region\&quot;, \&quot;value\&quot;: true }&#x60;. Publishes exactly that value, so a retried call can&#39;t undo the first one. A &#x60;null&#x60; &#x60;value&#x60; means \&quot;flip\&quot;, not \&quot;set to null\&quot;. - **Choose the environment** — add &#x60;\&quot;env\&quot;: \&quot;staging\&quot;&#x60;. Omitted, &#x60;env&#x60; is &#x60;prod&#x60;.  The response reports both &#x60;previous&#x60; and &#x60;value&#x60;, so a caller that asked for a flip can see what it actually changed.  Prefer this over &#x60;PUT /{id}/value&#x60; and &#x60;PUT /{id}/switch&#x60; unless you specifically need those endpoints&#39; unconditional set semantics.
    # @param id [String] Stable opaque killswitch id (&#x60;ksw_…&#x60;) or the killswitch&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [ToggleKillswitchRequest] :toggle_killswitch_request 
    # @return [Array<(ToggleKillswitchResponse, Integer, Hash)>] ToggleKillswitchResponse data, response status code and response headers
    def toggle_killswitch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KillswitchApi.toggle_killswitch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KillswitchApi.toggle_killswitch"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling KillswitchApi.toggle_killswitch, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling KillswitchApi.toggle_killswitch, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/killswitches/{id}/toggle'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'toggle_killswitch_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ToggleKillswitchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"KillswitchApi.toggle_killswitch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KillswitchApi#toggle_killswitch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
