=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class MetricsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a metric
    # Creates an event-backed metric. Pass the query as the DSL string (`query`) **or** the typed IR (`query_ir`) — exactly one. `event_name` must equal the event the query references.  Returns `409` if a metric with the same `name` already exists, and `422` if the query is invalid or references an unregistered event / label.  **Use cases**  - **Track an event** — `count_users(<event>)` for unique-user counts. - **Sum a value** — `sum(<event>, <label>)` for revenue / quantity metrics. - **Experiment success metric** — create the metric, then attach its id to an experiment.
    # @param create_metric_request [CreateMetricRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateMetricResponse]
    def create_metric(create_metric_request, opts = {})
      data, _status_code, _headers = create_metric_with_http_info(create_metric_request, opts)
      data
    end

    # Create a metric
    # Creates an event-backed metric. Pass the query as the DSL string (&#x60;query&#x60;) **or** the typed IR (&#x60;query_ir&#x60;) — exactly one. &#x60;event_name&#x60; must equal the event the query references.  Returns &#x60;409&#x60; if a metric with the same &#x60;name&#x60; already exists, and &#x60;422&#x60; if the query is invalid or references an unregistered event / label.  **Use cases**  - **Track an event** — &#x60;count_users(&lt;event&gt;)&#x60; for unique-user counts. - **Sum a value** — &#x60;sum(&lt;event&gt;, &lt;label&gt;)&#x60; for revenue / quantity metrics. - **Experiment success metric** — create the metric, then attach its id to an experiment.
    # @param create_metric_request [CreateMetricRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateMetricResponse, Integer, Hash)>] CreateMetricResponse data, response status code and response headers
    def create_metric_with_http_info(create_metric_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.create_metric ...'
      end
      # verify the required parameter 'create_metric_request' is set
      if @api_client.config.client_side_validation && create_metric_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_metric_request' when calling MetricsApi.create_metric"
      end
      # resource path
      local_var_path = '/api/admin/metrics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_metric_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateMetricResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.create_metric",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#create_metric\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Archive a metric
    # Soft-deletes (archives) the metric. Returns `409` if it is attached to a running experiment — stop those experiments first.  **Use case:** Retire a metric once no running experiment depends on it (the user-facing verb is `archive`).
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteMetricResponse]
    def delete_metric(id, opts = {})
      data, _status_code, _headers = delete_metric_with_http_info(id, opts)
      data
    end

    # Archive a metric
    # Soft-deletes (archives) the metric. Returns &#x60;409&#x60; if it is attached to a running experiment — stop those experiments first.  **Use case:** Retire a metric once no running experiment depends on it (the user-facing verb is &#x60;archive&#x60;).
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteMetricResponse, Integer, Hash)>] DeleteMetricResponse data, response status code and response headers
    def delete_metric_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.delete_metric ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetricsApi.delete_metric"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.delete_metric, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.delete_metric, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/metrics/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteMetricResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.delete_metric",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#delete_metric\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a metric
    # Fetch one metric by its id or name, including the rendered DSL query and the typed IR.  **Use case:** Inspect a single metric's full definition before reusing it in an experiment or alert rule.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetMetricResponse]
    def get_metric(id, opts = {})
      data, _status_code, _headers = get_metric_with_http_info(id, opts)
      data
    end

    # Get a metric
    # Fetch one metric by its id or name, including the rendered DSL query and the typed IR.  **Use case:** Inspect a single metric&#39;s full definition before reusing it in an experiment or alert rule.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetMetricResponse, Integer, Hash)>] GetMetricResponse data, response status code and response headers
    def get_metric_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.get_metric ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetricsApi.get_metric"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.get_metric, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.get_metric, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/metrics/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMetricResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.get_metric",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#get_metric\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a metric's time series
    # Compiles the metric's typed IR into Analytics Engine SQL and returns the bucketed series over the requested window (near-real-time; ingest lag is seconds). The window bounds are epoch **seconds**; `to` must be strictly greater than `from`. The response echoes the SQL that produced the rows.  Returns `422` when the stored definition can't compile (e.g. a label or event has gone away — re-save the metric), and `502`/`503` when the analytics upstream fails or isn't configured.  **Use case:** Render the metric trend chart / sparkline, or pull raw bucketed values to feed an external dashboard.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;).
    # @param get_metric_series_request [GetMetricSeriesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetMetricSeriesResponse]
    def get_metric_series(id, get_metric_series_request, opts = {})
      data, _status_code, _headers = get_metric_series_with_http_info(id, get_metric_series_request, opts)
      data
    end

    # Get a metric&#39;s time series
    # Compiles the metric&#39;s typed IR into Analytics Engine SQL and returns the bucketed series over the requested window (near-real-time; ingest lag is seconds). The window bounds are epoch **seconds**; &#x60;to&#x60; must be strictly greater than &#x60;from&#x60;. The response echoes the SQL that produced the rows.  Returns &#x60;422&#x60; when the stored definition can&#39;t compile (e.g. a label or event has gone away — re-save the metric), and &#x60;502&#x60;/&#x60;503&#x60; when the analytics upstream fails or isn&#39;t configured.  **Use case:** Render the metric trend chart / sparkline, or pull raw bucketed values to feed an external dashboard.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;).
    # @param get_metric_series_request [GetMetricSeriesRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetMetricSeriesResponse, Integer, Hash)>] GetMetricSeriesResponse data, response status code and response headers
    def get_metric_series_with_http_info(id, get_metric_series_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.get_metric_series ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetricsApi.get_metric_series"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.get_metric_series, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.get_metric_series, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'get_metric_series_request' is set
      if @api_client.config.client_side_validation && get_metric_series_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_metric_series_request' when calling MetricsApi.get_metric_series"
      end
      # resource path
      local_var_path = '/api/admin/metrics/{id}/series'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_metric_series_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetMetricSeriesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.get_metric_series",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#get_metric_series\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List experiments using a metric
    # Returns every experiment that attaches this metric — as `goal`, `guardrail`, or `secondary` — ordered with running experiments first, then by role weight (goal > guardrail > secondary).  **Use case:** See who depends on a metric before editing or archiving it — e.g. the metric detail panel's \"used by\" list.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [ListMetricExperimentsResponse]
    def list_metric_experiments(id, opts = {})
      data, _status_code, _headers = list_metric_experiments_with_http_info(id, opts)
      data
    end

    # List experiments using a metric
    # Returns every experiment that attaches this metric — as &#x60;goal&#x60;, &#x60;guardrail&#x60;, or &#x60;secondary&#x60; — ordered with running experiments first, then by role weight (goal &gt; guardrail &gt; secondary).  **Use case:** See who depends on a metric before editing or archiving it — e.g. the metric detail panel&#39;s \&quot;used by\&quot; list.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(ListMetricExperimentsResponse, Integer, Hash)>] ListMetricExperimentsResponse data, response status code and response headers
    def list_metric_experiments_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.list_metric_experiments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetricsApi.list_metric_experiments"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.list_metric_experiments, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.list_metric_experiments, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/metrics/{id}/experiments'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMetricExperimentsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.list_metric_experiments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#list_metric_experiments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List metrics
    # Returns every metric in the project (not paginated) — name, folder, source event, the typed `queryIr`, and the rendered query.  **Use case:** Audit every metric defined in the project — for example to find the metric id to attach as an experiment's success metric.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @return [Array<ListMetricsResponseInner>]
    def list_metrics(opts = {})
      data, _status_code, _headers = list_metrics_with_http_info(opts)
      data
    end

    # List metrics
    # Returns every metric in the project (not paginated) — name, folder, source event, the typed &#x60;queryIr&#x60;, and the rendered query.  **Use case:** Audit every metric defined in the project — for example to find the metric id to attach as an experiment&#39;s success metric.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @return [Array<(Array<ListMetricsResponseInner>, Integer, Hash)>] Array<ListMetricsResponseInner> data, response status code and response headers
    def list_metrics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.list_metrics ...'
      end
      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling MetricsApi.list_metrics, the character length must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/api/admin/metrics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListMetricsResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.list_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#list_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unarchive a metric
    # Reverses a soft-delete (archive), making the metric live again. Idempotent — unarchiving a metric that is already live succeeds with no effect.  **Use case:** Undo an accidental archive (the metrics list \"Undo\" toast calls this).
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UnarchiveMetricResponse]
    def unarchive_metric(id, opts = {})
      data, _status_code, _headers = unarchive_metric_with_http_info(id, opts)
      data
    end

    # Unarchive a metric
    # Reverses a soft-delete (archive), making the metric live again. Idempotent — unarchiving a metric that is already live succeeds with no effect.  **Use case:** Undo an accidental archive (the metrics list \&quot;Undo\&quot; toast calls this).
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UnarchiveMetricResponse, Integer, Hash)>] UnarchiveMetricResponse data, response status code and response headers
    def unarchive_metric_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.unarchive_metric ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetricsApi.unarchive_metric"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.unarchive_metric, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.unarchive_metric, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/metrics/{id}/unarchive'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnarchiveMetricResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.unarchive_metric",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#unarchive_metric\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a metric
    # Update a metric's definition — folder, source event, query (`query` DSL or typed `query_ir`), winsorisation, minimum detectable effect, or direction. `name` is immutable. Provide at most one of `query` / `query_ir`.  **Use case:** Refine a metric's query or guardrail direction without recreating it.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param update_metric_request [UpdateMetricRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetMetricResponse]
    def update_metric(id, update_metric_request, opts = {})
      data, _status_code, _headers = update_metric_with_http_info(id, update_metric_request, opts)
      data
    end

    # Update a metric
    # Update a metric&#39;s definition — folder, source event, query (&#x60;query&#x60; DSL or typed &#x60;query_ir&#x60;), winsorisation, minimum detectable effect, or direction. &#x60;name&#x60; is immutable. Provide at most one of &#x60;query&#x60; / &#x60;query_ir&#x60;.  **Use case:** Refine a metric&#39;s query or guardrail direction without recreating it.
    # @param id [String] Stable opaque metric id (&#x60;met_…&#x60;) or the metric&#39;s &#x60;name&#x60;.
    # @param update_metric_request [UpdateMetricRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetMetricResponse, Integer, Hash)>] GetMetricResponse data, response status code and response headers
    def update_metric_with_http_info(id, update_metric_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MetricsApi.update_metric ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MetricsApi.update_metric"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.update_metric, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling MetricsApi.update_metric, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_metric_request' is set
      if @api_client.config.client_side_validation && update_metric_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_metric_request' when calling MetricsApi.update_metric"
      end
      # resource path
      local_var_path = '/api/admin/metrics/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_metric_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetMetricResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"MetricsApi.update_metric",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MetricsApi#update_metric\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
