=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class OpsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # File a queue item
    # Files one queue item — a bug report or a feature request — and fires the project's connectors (GitHub issue / Slack). `type` selects which; only the two user-fileable types are accepted (`error`/`alert` tickets are auto-filed by the platform). Returns the new id and per-project number.  **Use cases**  - **File a bug** — `{ \"type\": \"bug\", \"title\": \"Checkout 500s on Safari\", \"stepsToReproduce\": \"…\" }`. - **File a feature request** — `{ \"type\": \"feature_request\", \"title\": \"Dark mode\", \"priority\": \"nice_to_have\" }`.
    # @param create_ops_item_request [CreateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateOpsItemResponse]
    def create_ops_item(create_ops_item_request, opts = {})
      data, _status_code, _headers = create_ops_item_with_http_info(create_ops_item_request, opts)
      data
    end

    # File a queue item
    # Files one queue item — a bug report or a feature request — and fires the project&#39;s connectors (GitHub issue / Slack). &#x60;type&#x60; selects which; only the two user-fileable types are accepted (&#x60;error&#x60;/&#x60;alert&#x60; tickets are auto-filed by the platform). Returns the new id and per-project number.  **Use cases**  - **File a bug** — &#x60;{ \&quot;type\&quot;: \&quot;bug\&quot;, \&quot;title\&quot;: \&quot;Checkout 500s on Safari\&quot;, \&quot;stepsToReproduce\&quot;: \&quot;…\&quot; }&#x60;. - **File a feature request** — &#x60;{ \&quot;type\&quot;: \&quot;feature_request\&quot;, \&quot;title\&quot;: \&quot;Dark mode\&quot;, \&quot;priority\&quot;: \&quot;nice_to_have\&quot; }&#x60;.
    # @param create_ops_item_request [CreateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateOpsItemResponse, Integer, Hash)>] CreateOpsItemResponse data, response status code and response headers
    def create_ops_item_with_http_info(create_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.create_ops_item ...'
      end
      # verify the required parameter 'create_ops_item_request' is set
      if @api_client.config.client_side_validation && create_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ops_item_request' when calling OpsApi.create_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.create_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#create_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one queue item
    # Fetch a single queue item by its per-project `number` or full id.  **Use case:** Inspect one item's full detail before updating its status or linking a PR.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetOpsItemResponse]
    def get_ops_item(handle, opts = {})
      data, _status_code, _headers = get_ops_item_with_http_info(handle, opts)
      data
    end

    # Get one queue item
    # Fetch a single queue item by its per-project &#x60;number&#x60; or full id.  **Use case:** Inspect one item&#39;s full detail before updating its status or linking a PR.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetOpsItemResponse, Integer, Hash)>] GetOpsItemResponse data, response status code and response headers
    def get_ops_item_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.get_ops_item ...'
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.get_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#get_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Link a fixing PR
    # Record the pull request that fixes a queue item (and clears the link with `prNumber: null`).  **Use case:** Tie the fixing PR to the item so closing the PR can flip it to ready_for_qa.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param link_pr_to_ops_item_request [LinkPrToOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [LinkPrToOpsItemResponse]
    def link_pr_to_ops_item(handle, link_pr_to_ops_item_request, opts = {})
      data, _status_code, _headers = link_pr_to_ops_item_with_http_info(handle, link_pr_to_ops_item_request, opts)
      data
    end

    # Link a fixing PR
    # Record the pull request that fixes a queue item (and clears the link with &#x60;prNumber: null&#x60;).  **Use case:** Tie the fixing PR to the item so closing the PR can flip it to ready_for_qa.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param link_pr_to_ops_item_request [LinkPrToOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(LinkPrToOpsItemResponse, Integer, Hash)>] LinkPrToOpsItemResponse data, response status code and response headers
    def link_pr_to_ops_item_with_http_info(handle, link_pr_to_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.link_pr_to_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.link_pr_to_ops_item"
      end
      # verify the required parameter 'link_pr_to_ops_item_request' is set
      if @api_client.config.client_side_validation && link_pr_to_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'link_pr_to_ops_item_request' when calling OpsApi.link_pr_to_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}/link-pr'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(link_pr_to_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LinkPrToOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.link_pr_to_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#link_pr_to_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the operational queue
    # Returns the unified ops queue (bugs, feature requests, errors, alerts), newest first. Filter by `type` and/or `status`, and cap with `limit`.  **Use case:** Pull the open queue to triage — e.g. every `bug` still `open` — before working items down one by one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :type Filter by item type (&#x60;bug&#x60;/&#x60;feature_request&#x60;/&#x60;error&#x60;/&#x60;alert&#x60;), or &#x60;all&#x60;.
    # @option opts [String] :status Filter by lifecycle status, or &#x60;all&#x60;.
    # @option opts [Integer] :limit Max items to return (1–500).
    # @return [Array<ListOpsItemsResponseInner>]
    def list_ops_items(opts = {})
      data, _status_code, _headers = list_ops_items_with_http_info(opts)
      data
    end

    # List the operational queue
    # Returns the unified ops queue (bugs, feature requests, errors, alerts), newest first. Filter by &#x60;type&#x60; and/or &#x60;status&#x60;, and cap with &#x60;limit&#x60;.  **Use case:** Pull the open queue to triage — e.g. every &#x60;bug&#x60; still &#x60;open&#x60; — before working items down one by one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :type Filter by item type (&#x60;bug&#x60;/&#x60;feature_request&#x60;/&#x60;error&#x60;/&#x60;alert&#x60;), or &#x60;all&#x60;.
    # @option opts [String] :status Filter by lifecycle status, or &#x60;all&#x60;.
    # @option opts [Integer] :limit Max items to return (1–500).
    # @return [Array<(Array<ListOpsItemsResponseInner>, Integer, Hash)>] Array<ListOpsItemsResponseInner> data, response status code and response headers
    def list_ops_items_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.list_ops_items ...'
      end
      allowable_values = ["bug", "feature_request", "error", "alert", "all"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      allowable_values = ["open", "triaged", "in_progress", "ready_for_qa", "resolved", "wont_fix", "all"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OpsApi.list_ops_items, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OpsApi.list_ops_items, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListOpsItemsResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.list_ops_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#list_ops_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Raise an attention notification
    # Raise a 'needs your attention' bell notification. Create-only and idempotent on `dedupeKey`.  **Use case:** Escalate something that needs a human, deduped so repeats don't spam the bell.
    # @param notify_ops_request [NotifyOpsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [NotifyOpsResponse]
    def notify_ops(notify_ops_request, opts = {})
      data, _status_code, _headers = notify_ops_with_http_info(notify_ops_request, opts)
      data
    end

    # Raise an attention notification
    # Raise a &#39;needs your attention&#39; bell notification. Create-only and idempotent on &#x60;dedupeKey&#x60;.  **Use case:** Escalate something that needs a human, deduped so repeats don&#39;t spam the bell.
    # @param notify_ops_request [NotifyOpsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(NotifyOpsResponse, Integer, Hash)>] NotifyOpsResponse data, response status code and response headers
    def notify_ops_with_http_info(notify_ops_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.notify_ops ...'
      end
      # verify the required parameter 'notify_ops_request' is set
      if @api_client.config.client_side_validation && notify_ops_request.nil?
        fail ArgumentError, "Missing the required parameter 'notify_ops_request' when calling OpsApi.notify_ops"
      end
      # resource path
      local_var_path = '/api/admin/notifications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notify_ops_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotifyOpsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.notify_ops",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#notify_ops\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a queue item
    # Update a queue item's `status` and/or `priority`. Other fields are immutable.  **Use case:** Move an item through its lifecycle (triage → in_progress → resolved) as you work it.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param update_ops_item_request [UpdateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateOpsItemResponse]
    def update_ops_item(handle, update_ops_item_request, opts = {})
      data, _status_code, _headers = update_ops_item_with_http_info(handle, update_ops_item_request, opts)
      data
    end

    # Update a queue item
    # Update a queue item&#39;s &#x60;status&#x60; and/or &#x60;priority&#x60;. Other fields are immutable.  **Use case:** Move an item through its lifecycle (triage → in_progress → resolved) as you work it.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param update_ops_item_request [UpdateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateOpsItemResponse, Integer, Hash)>] UpdateOpsItemResponse data, response status code and response headers
    def update_ops_item_with_http_info(handle, update_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.update_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.update_ops_item"
      end
      # verify the required parameter 'update_ops_item_request' is set
      if @api_client.config.client_side_validation && update_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ops_item_request' when calling OpsApi.update_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.update_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#update_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
