=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class OpsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ack an item (start a run)
    # Acknowledge a queue item — a person or an AI agent declaring \"I'm on this now\". Opens a run: stamps who picked the item up and when, assigns them as owner, and moves the item into the matching working status (`investigating_by_ai` for an AI ack, `in_progress` for a human one). The dashboard renders the open run as a live working indicator (which agent + time since the run started).  **AI ack.** Pass `agent` with your own agent type (`claude`, `cursor`, `copilot`, `jules`; `gemini` aliases `jules`) and, when you have one, the run's `sessionId` so the dashboard can deep-link to the session. If the project has no connected trigger connector of that type the call fails with `AGENT_NOT_CONNECTED` — list the available agents with `ops agents list` and use one of those (or connect the agent under Settings → Triggers).  **Completion.** The run closes automatically on the loop's final actions — linking the fixing PR (`link-pr`), an ops-notify escalation, or a completion status change (`ready_for_qa`/`resolved`) — and the dashboard then shows the run result (final action, PR, duration, session link). A repeat ack supersedes the previous open run.  **Use case:** Call this first when picking an item up, so the team sees who/what is working on it in real time.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [AckOpsItemRequest] :ack_ops_item_request 
    # @return [AckOpsItemResponse]
    def ack_ops_item(handle, opts = {})
      data, _status_code, _headers = ack_ops_item_with_http_info(handle, opts)
      data
    end

    # Ack an item (start a run)
    # Acknowledge a queue item — a person or an AI agent declaring \&quot;I&#39;m on this now\&quot;. Opens a run: stamps who picked the item up and when, assigns them as owner, and moves the item into the matching working status (&#x60;investigating_by_ai&#x60; for an AI ack, &#x60;in_progress&#x60; for a human one). The dashboard renders the open run as a live working indicator (which agent + time since the run started).  **AI ack.** Pass &#x60;agent&#x60; with your own agent type (&#x60;claude&#x60;, &#x60;cursor&#x60;, &#x60;copilot&#x60;, &#x60;jules&#x60;; &#x60;gemini&#x60; aliases &#x60;jules&#x60;) and, when you have one, the run&#39;s &#x60;sessionId&#x60; so the dashboard can deep-link to the session. If the project has no connected trigger connector of that type the call fails with &#x60;AGENT_NOT_CONNECTED&#x60; — list the available agents with &#x60;ops agents list&#x60; and use one of those (or connect the agent under Settings → Triggers).  **Completion.** The run closes automatically on the loop&#39;s final actions — linking the fixing PR (&#x60;link-pr&#x60;), an ops-notify escalation, or a completion status change (&#x60;ready_for_qa&#x60;/&#x60;resolved&#x60;) — and the dashboard then shows the run result (final action, PR, duration, session link). A repeat ack supersedes the previous open run.  **Use case:** Call this first when picking an item up, so the team sees who/what is working on it in real time.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [AckOpsItemRequest] :ack_ops_item_request 
    # @return [Array<(AckOpsItemResponse, Integer, Hash)>] AckOpsItemResponse data, response status code and response headers
    def ack_ops_item_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.ack_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.ack_ops_item"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.ack_ops_item, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.ack_ops_item, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops/{handle}/ack'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'ack_ops_item_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'AckOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.ack_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#ack_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # File a queue item
    # Files one queue item — a bug report or a feature request — and fires the project's connectors (GitHub issue / Slack). `type` selects which; only the two user-fileable types are accepted (`error`/`alert` tickets are auto-filed by the platform). Returns the new id and per-project number.  **Use cases**  - **File a bug** — `{ \"type\": \"bug\", \"title\": \"Checkout 500s on Safari\", \"stepsToReproduce\": \"…\" }`. - **File a feature request** — `{ \"type\": \"feature_request\", \"title\": \"Dark mode\", \"priority\": \"nice_to_have\" }`.
    # @param create_ops_item_request [CreateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateOpsItemResponse]
    def create_ops_item(create_ops_item_request, opts = {})
      data, _status_code, _headers = create_ops_item_with_http_info(create_ops_item_request, opts)
      data
    end

    # File a queue item
    # Files one queue item — a bug report or a feature request — and fires the project&#39;s connectors (GitHub issue / Slack). &#x60;type&#x60; selects which; only the two user-fileable types are accepted (&#x60;error&#x60;/&#x60;alert&#x60; tickets are auto-filed by the platform). Returns the new id and per-project number.  **Use cases**  - **File a bug** — &#x60;{ \&quot;type\&quot;: \&quot;bug\&quot;, \&quot;title\&quot;: \&quot;Checkout 500s on Safari\&quot;, \&quot;stepsToReproduce\&quot;: \&quot;…\&quot; }&#x60;. - **File a feature request** — &#x60;{ \&quot;type\&quot;: \&quot;feature_request\&quot;, \&quot;title\&quot;: \&quot;Dark mode\&quot;, \&quot;priority\&quot;: \&quot;nice_to_have\&quot; }&#x60;.
    # @param create_ops_item_request [CreateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateOpsItemResponse, Integer, Hash)>] CreateOpsItemResponse data, response status code and response headers
    def create_ops_item_with_http_info(create_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.create_ops_item ...'
      end
      # verify the required parameter 'create_ops_item_request' is set
      if @api_client.config.client_side_validation && create_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ops_item_request' when calling OpsApi.create_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.create_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#create_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # File a bug
    # Files one bug onto a project's queue, awaiting human approval. This is the **public** intake: it authenticates with a *client* SDK key rather than an admin key, so it can be called from a CLI, an installer script, a devtools overlay, or any shipped code — the same places a client key already lives.  Three gates decide whether a ticket is filed, and nothing else the caller sends can widen them:  1. the key is a `client` key carrying the `tickets:public_create` scope, 2. the key's project has public ticket creation enabled, and 3. the item is filed as `pending_approval` — parked out of the work queue until a human promotes it in the dashboard.  The project is the key's own project; there is no `X-Project-Id` to pass and no way to file into someone else's queue. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns `200` with `deduped: true` instead of filing again.  Send a `dedupKey` to own that grain yourself — the same key from a monitor, a job, or a retried install re-triggers its open ticket: the ticket's fields are refreshed from the new payload and a \"re-triggered\" comment is appended (`200` with `deduped: true, updated: true`), so one recurring failure stays one ticket with its history intact.  This endpoint is served by the Shipeasy **edge worker** (`api.shipeasy.ai`), not the admin API — see `servers` below.  **Use case:** `shipeasy setup` fails on a customer's machine and self-reports the failure with the user's consent — `{ \"title\": \"Setup failed at Feature installs\", \"stepsToReproduce\": \"…\", \"actualResult\": \"…\" }`.
    # @param create_public_bug_request [CreatePublicBugRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePublicTicketResponse]
    def create_public_bug(create_public_bug_request, opts = {})
      data, _status_code, _headers = create_public_bug_with_http_info(create_public_bug_request, opts)
      data
    end

    # File a bug
    # Files one bug onto a project&#39;s queue, awaiting human approval. This is the **public** intake: it authenticates with a *client* SDK key rather than an admin key, so it can be called from a CLI, an installer script, a devtools overlay, or any shipped code — the same places a client key already lives.  Three gates decide whether a ticket is filed, and nothing else the caller sends can widen them:  1. the key is a &#x60;client&#x60; key carrying the &#x60;tickets:public_create&#x60; scope, 2. the key&#39;s project has public ticket creation enabled, and 3. the item is filed as &#x60;pending_approval&#x60; — parked out of the work queue until a human promotes it in the dashboard.  The project is the key&#39;s own project; there is no &#x60;X-Project-Id&#x60; to pass and no way to file into someone else&#39;s queue. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns &#x60;200&#x60; with &#x60;deduped: true&#x60; instead of filing again.  Send a &#x60;dedupKey&#x60; to own that grain yourself — the same key from a monitor, a job, or a retried install re-triggers its open ticket: the ticket&#39;s fields are refreshed from the new payload and a \&quot;re-triggered\&quot; comment is appended (&#x60;200&#x60; with &#x60;deduped: true, updated: true&#x60;), so one recurring failure stays one ticket with its history intact.  This endpoint is served by the Shipeasy **edge worker** (&#x60;api.shipeasy.ai&#x60;), not the admin API — see &#x60;servers&#x60; below.  **Use case:** &#x60;shipeasy setup&#x60; fails on a customer&#39;s machine and self-reports the failure with the user&#39;s consent — &#x60;{ \&quot;title\&quot;: \&quot;Setup failed at Feature installs\&quot;, \&quot;stepsToReproduce\&quot;: \&quot;…\&quot;, \&quot;actualResult\&quot;: \&quot;…\&quot; }&#x60;.
    # @param create_public_bug_request [CreatePublicBugRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePublicTicketResponse, Integer, Hash)>] CreatePublicTicketResponse data, response status code and response headers
    def create_public_bug_with_http_info(create_public_bug_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.create_public_bug ...'
      end
      # verify the required parameter 'create_public_bug_request' is set
      if @api_client.config.client_side_validation && create_public_bug_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_public_bug_request' when calling OpsApi.create_public_bug"
      end
      # resource path
      local_var_path = '/ops/bug'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_public_bug_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePublicTicketResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.create_public_bug",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#create_public_bug\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # File a feature request
    # Files one feature request onto a project's queue, awaiting human approval. The feature-request counterpart to `POST /ops/bug`, with the same three gates: a `client` key carrying `tickets:public_create`, a project that has opted in, and a `pending_approval` state forced server-side.  The project is the key's own project; there is no `X-Project-Id` to pass. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns `200` with `deduped: true` instead of filing again. A `dedupKey` works exactly as on `POST /ops/bug`: a repeat carrying the same key refreshes the open ticket and comments that it was re-triggered.  This endpoint is served by the Shipeasy **edge worker** (`api.shipeasy.ai`), not the admin API — see `servers` below.  **Use case:** An in-product \"request a feature\" form posts what the user asked for — `{ \"title\": \"Dark mode\", \"useCase\": \"Reduce eye strain at night\" }`.
    # @param create_public_feature_request_request [CreatePublicFeatureRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePublicTicketResponse]
    def create_public_feature_request(create_public_feature_request_request, opts = {})
      data, _status_code, _headers = create_public_feature_request_with_http_info(create_public_feature_request_request, opts)
      data
    end

    # File a feature request
    # Files one feature request onto a project&#39;s queue, awaiting human approval. The feature-request counterpart to &#x60;POST /ops/bug&#x60;, with the same three gates: a &#x60;client&#x60; key carrying &#x60;tickets:public_create&#x60;, a project that has opted in, and a &#x60;pending_approval&#x60; state forced server-side.  The project is the key&#39;s own project; there is no &#x60;X-Project-Id&#x60; to pass. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns &#x60;200&#x60; with &#x60;deduped: true&#x60; instead of filing again. A &#x60;dedupKey&#x60; works exactly as on &#x60;POST /ops/bug&#x60;: a repeat carrying the same key refreshes the open ticket and comments that it was re-triggered.  This endpoint is served by the Shipeasy **edge worker** (&#x60;api.shipeasy.ai&#x60;), not the admin API — see &#x60;servers&#x60; below.  **Use case:** An in-product \&quot;request a feature\&quot; form posts what the user asked for — &#x60;{ \&quot;title\&quot;: \&quot;Dark mode\&quot;, \&quot;useCase\&quot;: \&quot;Reduce eye strain at night\&quot; }&#x60;.
    # @param create_public_feature_request_request [CreatePublicFeatureRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePublicTicketResponse, Integer, Hash)>] CreatePublicTicketResponse data, response status code and response headers
    def create_public_feature_request_with_http_info(create_public_feature_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.create_public_feature_request ...'
      end
      # verify the required parameter 'create_public_feature_request_request' is set
      if @api_client.config.client_side_validation && create_public_feature_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_public_feature_request_request' when calling OpsApi.create_public_feature_request"
      end
      # resource path
      local_var_path = '/ops/feature-request'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_public_feature_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePublicTicketResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.create_public_feature_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#create_public_feature_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a queue item
    # Permanently delete a queue item — any type — along with its comment thread, attachments, tags, and investigation records. A human (dashboard) action: the route is never allow-listed for restricted ops keys. Irreversible; to take an item out of the queue without destroying it, set its status (`wont_fix`/`resolved`) instead.  **Use case:** Remove a junk or duplicate report for good.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteOpsItemResponse]
    def delete_ops_item(handle, opts = {})
      data, _status_code, _headers = delete_ops_item_with_http_info(handle, opts)
      data
    end

    # Delete a queue item
    # Permanently delete a queue item — any type — along with its comment thread, attachments, tags, and investigation records. A human (dashboard) action: the route is never allow-listed for restricted ops keys. Irreversible; to take an item out of the queue without destroying it, set its status (&#x60;wont_fix&#x60;/&#x60;resolved&#x60;) instead.  **Use case:** Remove a junk or duplicate report for good.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteOpsItemResponse, Integer, Hash)>] DeleteOpsItemResponse data, response status code and response headers
    def delete_ops_item_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.delete_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.delete_ops_item"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.delete_ops_item, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.delete_ops_item, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops/{handle}'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.delete_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#delete_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one queue item
    # Fetch a single queue item by its per-project `number` or full id.  **Use case:** Inspect one item's full detail before updating its status or linking a PR.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetOpsItemResponse]
    def get_ops_item(handle, opts = {})
      data, _status_code, _headers = get_ops_item_with_http_info(handle, opts)
      data
    end

    # Get one queue item
    # Fetch a single queue item by its per-project &#x60;number&#x60; or full id.  **Use case:** Inspect one item&#39;s full detail before updating its status or linking a PR.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetOpsItemResponse, Integer, Hash)>] GetOpsItemResponse data, response status code and response headers
    def get_ops_item_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.get_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.get_ops_item"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.get_ops_item, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.get_ops_item, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops/{handle}'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.get_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#get_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Link a fixing PR
    # Record the pull request that fixes a queue item (and clears the link with `prNumber: null`).  **Use case:** Tie the fixing PR to the item so closing the PR can flip it to ready_for_qa.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param link_pr_to_ops_item_request [LinkPrToOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [LinkPrToOpsItemResponse]
    def link_pr_to_ops_item(handle, link_pr_to_ops_item_request, opts = {})
      data, _status_code, _headers = link_pr_to_ops_item_with_http_info(handle, link_pr_to_ops_item_request, opts)
      data
    end

    # Link a fixing PR
    # Record the pull request that fixes a queue item (and clears the link with &#x60;prNumber: null&#x60;).  **Use case:** Tie the fixing PR to the item so closing the PR can flip it to ready_for_qa.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param link_pr_to_ops_item_request [LinkPrToOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(LinkPrToOpsItemResponse, Integer, Hash)>] LinkPrToOpsItemResponse data, response status code and response headers
    def link_pr_to_ops_item_with_http_info(handle, link_pr_to_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.link_pr_to_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.link_pr_to_ops_item"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.link_pr_to_ops_item, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.link_pr_to_ops_item, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'link_pr_to_ops_item_request' is set
      if @api_client.config.client_side_validation && link_pr_to_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'link_pr_to_ops_item_request' when calling OpsApi.link_pr_to_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}/link-pr'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(link_pr_to_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LinkPrToOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.link_pr_to_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#link_pr_to_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the operational queue
    # Returns the unified ops queue (bugs, feature requests, errors, alerts, measurement plans) in work order — highest priority first, oldest first within a priority — so consumers work it top-down. Filter by `type` and/or `status`, and cap with `limit`. Human-gated holding states (items awaiting human sign-off in the dashboard) are never returned by `all`/default status.  **Use case:** Pull the open queue to triage — e.g. every `bug` still `open` — before working items down one by one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :type Filter by item type, or &#x60;all&#x60; (the default). Every type a returned item can carry is filterable, including the auto-filed ones. (default to 'all')
    # @option opts [String] :status Filter by lifecycle status, or &#x60;all&#x60; (the default). The human-gated holding state (&#x60;pending_approval&#x60;) is excluded from &#x60;all&#x60;/default and returned only when requested as the exact status. (default to 'all')
    # @option opts [Integer] :limit Max items to return (1–500). Defaults to 200. (default to 200)
    # @option opts [String] :owner Narrow to items owned by one person OR one agent. Matches a person by &#x60;users.id&#x60;, email, or display name, and an agent by connector id, display name, or kebab-case handle — e.g. &#x60;owner&#x3D;Claude&#x60; or &#x60;owner&#x3D;alice@acme.dev&#x60;. Case-insensitive exact match, applied over the returned page.
    # @return [Array<ListOpsItemsResponseInner>]
    def list_ops_items(opts = {})
      data, _status_code, _headers = list_ops_items_with_http_info(opts)
      data
    end

    # List the operational queue
    # Returns the unified ops queue (bugs, feature requests, errors, alerts, measurement plans) in work order — highest priority first, oldest first within a priority — so consumers work it top-down. Filter by &#x60;type&#x60; and/or &#x60;status&#x60;, and cap with &#x60;limit&#x60;. Human-gated holding states (items awaiting human sign-off in the dashboard) are never returned by &#x60;all&#x60;/default status.  **Use case:** Pull the open queue to triage — e.g. every &#x60;bug&#x60; still &#x60;open&#x60; — before working items down one by one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :type Filter by item type, or &#x60;all&#x60; (the default). Every type a returned item can carry is filterable, including the auto-filed ones. (default to 'all')
    # @option opts [String] :status Filter by lifecycle status, or &#x60;all&#x60; (the default). The human-gated holding state (&#x60;pending_approval&#x60;) is excluded from &#x60;all&#x60;/default and returned only when requested as the exact status. (default to 'all')
    # @option opts [Integer] :limit Max items to return (1–500). Defaults to 200. (default to 200)
    # @option opts [String] :owner Narrow to items owned by one person OR one agent. Matches a person by &#x60;users.id&#x60;, email, or display name, and an agent by connector id, display name, or kebab-case handle — e.g. &#x60;owner&#x3D;Claude&#x60; or &#x60;owner&#x3D;alice@acme.dev&#x60;. Case-insensitive exact match, applied over the returned page.
    # @return [Array<(Array<ListOpsItemsResponseInner>, Integer, Hash)>] Array<ListOpsItemsResponseInner> data, response status code and response headers
    def list_ops_items_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.list_ops_items ...'
      end
      allowable_values = ["bug", "feature_request", "error", "alert", "measure_plan", "all"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      allowable_values = ["open", "pending_approval", "investigating_by_ai", "in_progress", "blocked", "ready_for_qa", "resolved", "wont_fix", "all"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OpsApi.list_ops_items, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OpsApi.list_ops_items, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'owner'] = opts[:'owner'] if !opts[:'owner'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListOpsItemsResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.list_ops_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#list_ops_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Raise an attention notification
    # Raise a 'needs your attention' bell notification. Create-only and idempotent on `dedupeKey` — re-raising with the same key updates the one card instead of stacking duplicates. It never reads, marks read, or deletes the feed, so it is safe for restricted ops keys.  **Use case:** Escalate work that can't land in code (a product decision, a credential only a human has, a resource only a human may edit), deduped so repeats don't spam the bell.
    # @param notify_ops_request [NotifyOpsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [NotifyOpsResponse]
    def notify_ops(notify_ops_request, opts = {})
      data, _status_code, _headers = notify_ops_with_http_info(notify_ops_request, opts)
      data
    end

    # Raise an attention notification
    # Raise a &#39;needs your attention&#39; bell notification. Create-only and idempotent on &#x60;dedupeKey&#x60; — re-raising with the same key updates the one card instead of stacking duplicates. It never reads, marks read, or deletes the feed, so it is safe for restricted ops keys.  **Use case:** Escalate work that can&#39;t land in code (a product decision, a credential only a human has, a resource only a human may edit), deduped so repeats don&#39;t spam the bell.
    # @param notify_ops_request [NotifyOpsRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(NotifyOpsResponse, Integer, Hash)>] NotifyOpsResponse data, response status code and response headers
    def notify_ops_with_http_info(notify_ops_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.notify_ops ...'
      end
      # verify the required parameter 'notify_ops_request' is set
      if @api_client.config.client_side_validation && notify_ops_request.nil?
        fail ArgumentError, "Missing the required parameter 'notify_ops_request' when calling OpsApi.notify_ops"
      end
      # resource path
      local_var_path = '/api/admin/notifications'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(notify_ops_request)

      # return_type
      return_type = opts[:debug_return_type] || 'NotifyOpsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.notify_ops",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#notify_ops\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a queue item
    # Update a queue item. The body is validated against the item's stored type: a `bug` accepts its content fields (title, steps-to-reproduce, actual/expected result) plus `status`/`priority`/`notify` and a GitHub PR link; a `feature_request` its content (title, description, use-case) plus the same triage fields; `error`/`alert`/`measure_plan` accept `status`/`priority`/`notify` only (their content is platform-owned). Pass at least one field.  Completing an `error` ticket (status `resolved` or `ready_for_qa`) also resolves the tracked error it links to; the error reopens automatically if it recurs — so completing is safe pre-deploy.  **Use cases**  - **Start working an item** — `{ \"status\": \"in_progress\" }`. - **Hand off for review** — `{ \"status\": \"ready_for_qa\" }` once the fix landed (the mode PR-based loops use). - **Triage** — `{ \"priority\": \"high\" }`, content edits on bug/feature items.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param update_ops_item_request [UpdateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateOpsItemResponse]
    def update_ops_item(handle, update_ops_item_request, opts = {})
      data, _status_code, _headers = update_ops_item_with_http_info(handle, update_ops_item_request, opts)
      data
    end

    # Update a queue item
    # Update a queue item. The body is validated against the item&#39;s stored type: a &#x60;bug&#x60; accepts its content fields (title, steps-to-reproduce, actual/expected result) plus &#x60;status&#x60;/&#x60;priority&#x60;/&#x60;notify&#x60; and a GitHub PR link; a &#x60;feature_request&#x60; its content (title, description, use-case) plus the same triage fields; &#x60;error&#x60;/&#x60;alert&#x60;/&#x60;measure_plan&#x60; accept &#x60;status&#x60;/&#x60;priority&#x60;/&#x60;notify&#x60; only (their content is platform-owned). Pass at least one field.  Completing an &#x60;error&#x60; ticket (status &#x60;resolved&#x60; or &#x60;ready_for_qa&#x60;) also resolves the tracked error it links to; the error reopens automatically if it recurs — so completing is safe pre-deploy.  **Use cases**  - **Start working an item** — &#x60;{ \&quot;status\&quot;: \&quot;in_progress\&quot; }&#x60;. - **Hand off for review** — &#x60;{ \&quot;status\&quot;: \&quot;ready_for_qa\&quot; }&#x60; once the fix landed (the mode PR-based loops use). - **Triage** — &#x60;{ \&quot;priority\&quot;: \&quot;high\&quot; }&#x60;, content edits on bug/feature items.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param update_ops_item_request [UpdateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateOpsItemResponse, Integer, Hash)>] UpdateOpsItemResponse data, response status code and response headers
    def update_ops_item_with_http_info(handle, update_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.update_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.update_ops_item"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.update_ops_item, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.update_ops_item, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_ops_item_request' is set
      if @api_client.config.client_side_validation && update_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ops_item_request' when calling OpsApi.update_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.update_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#update_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
