=begin
#Shipeasy Admin API (SDK admin subset)

#Lean subset of the Shipeasy admin API vendored into the server SDKs to build the optional AdminClient. Generated by scripts/sdk-spec/prune.mjs from the canonical spec — do not hand-edit. Groups: ops-public-ticket, killswitch-switches, flag-whitelist.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class OpsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # File a queue item
    # Files one queue item — a bug report or a feature request — and fires the project's connectors (GitHub issue / Slack). `type` selects which; only the two user-fileable types are accepted (`error`/`alert` tickets are auto-filed by the platform). Returns the new id and per-project number.  **Use cases**  - **File a bug** — `{ \"type\": \"bug\", \"title\": \"Checkout 500s on Safari\", \"stepsToReproduce\": \"…\" }`. - **File a feature request** — `{ \"type\": \"feature_request\", \"title\": \"Dark mode\", \"priority\": \"nice_to_have\" }`.
    # @param create_ops_item_request [CreateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateOpsItemResponse]
    def create_ops_item(create_ops_item_request, opts = {})
      data, _status_code, _headers = create_ops_item_with_http_info(create_ops_item_request, opts)
      data
    end

    # File a queue item
    # Files one queue item — a bug report or a feature request — and fires the project&#39;s connectors (GitHub issue / Slack). &#x60;type&#x60; selects which; only the two user-fileable types are accepted (&#x60;error&#x60;/&#x60;alert&#x60; tickets are auto-filed by the platform). Returns the new id and per-project number.  **Use cases**  - **File a bug** — &#x60;{ \&quot;type\&quot;: \&quot;bug\&quot;, \&quot;title\&quot;: \&quot;Checkout 500s on Safari\&quot;, \&quot;stepsToReproduce\&quot;: \&quot;…\&quot; }&#x60;. - **File a feature request** — &#x60;{ \&quot;type\&quot;: \&quot;feature_request\&quot;, \&quot;title\&quot;: \&quot;Dark mode\&quot;, \&quot;priority\&quot;: \&quot;nice_to_have\&quot; }&#x60;.
    # @param create_ops_item_request [CreateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateOpsItemResponse, Integer, Hash)>] CreateOpsItemResponse data, response status code and response headers
    def create_ops_item_with_http_info(create_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.create_ops_item ...'
      end
      # verify the required parameter 'create_ops_item_request' is set
      if @api_client.config.client_side_validation && create_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_ops_item_request' when calling OpsApi.create_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.create_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#create_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one queue item
    # Fetch a single queue item by its per-project `number` or full id.  **Use case:** Inspect one item's full detail before updating its status or linking a PR.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GetOpsItemResponse]
    def get_ops_item(handle, opts = {})
      data, _status_code, _headers = get_ops_item_with_http_info(handle, opts)
      data
    end

    # Get one queue item
    # Fetch a single queue item by its per-project &#x60;number&#x60; or full id.  **Use case:** Inspect one item&#39;s full detail before updating its status or linking a PR.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GetOpsItemResponse, Integer, Hash)>] GetOpsItemResponse data, response status code and response headers
    def get_ops_item_with_http_info(handle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.get_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.get_ops_item"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.get_ops_item, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.get_ops_item, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops/{handle}'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.get_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#get_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List the operational queue
    # Returns the unified ops queue (bugs, feature requests, errors, alerts) in work order — highest priority first, oldest first within a priority — so consumers work it top-down. Filter by `type` and/or `status`, and cap with `limit`. Human-gated holding states (items awaiting human sign-off in the dashboard) are never returned by `all`/default status.  **Use case:** Pull the open queue to triage — e.g. every `bug` still `open` — before working items down one by one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :type Filter by item type (&#x60;bug&#x60;/&#x60;feature_request&#x60;/&#x60;error&#x60;/&#x60;alert&#x60;), or &#x60;all&#x60;.
    # @option opts [String] :status Filter by lifecycle status, or &#x60;all&#x60;. The human-gated holding state (&#x60;pending_approval&#x60;) is excluded from &#x60;all&#x60;/default and returned only when requested as the exact status.
    # @option opts [Integer] :limit Max items to return (1–500).
    # @option opts [String] :owner Narrow to items owned by one person OR one agent. Matches a person by &#x60;users.id&#x60;, email, or display name, and an agent by connector id, display name, or kebab-case handle — e.g. &#x60;owner&#x3D;Claude&#x60; or &#x60;owner&#x3D;alice@acme.dev&#x60;. Case-insensitive exact match, applied over the returned page.
    # @return [Array<ListOpsItemsResponseInner>]
    def list_ops_items(opts = {})
      data, _status_code, _headers = list_ops_items_with_http_info(opts)
      data
    end

    # List the operational queue
    # Returns the unified ops queue (bugs, feature requests, errors, alerts) in work order — highest priority first, oldest first within a priority — so consumers work it top-down. Filter by &#x60;type&#x60; and/or &#x60;status&#x60;, and cap with &#x60;limit&#x60;. Human-gated holding states (items awaiting human sign-off in the dashboard) are never returned by &#x60;all&#x60;/default status.  **Use case:** Pull the open queue to triage — e.g. every &#x60;bug&#x60; still &#x60;open&#x60; — before working items down one by one.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :type Filter by item type (&#x60;bug&#x60;/&#x60;feature_request&#x60;/&#x60;error&#x60;/&#x60;alert&#x60;), or &#x60;all&#x60;.
    # @option opts [String] :status Filter by lifecycle status, or &#x60;all&#x60;. The human-gated holding state (&#x60;pending_approval&#x60;) is excluded from &#x60;all&#x60;/default and returned only when requested as the exact status.
    # @option opts [Integer] :limit Max items to return (1–500).
    # @option opts [String] :owner Narrow to items owned by one person OR one agent. Matches a person by &#x60;users.id&#x60;, email, or display name, and an agent by connector id, display name, or kebab-case handle — e.g. &#x60;owner&#x3D;Claude&#x60; or &#x60;owner&#x3D;alice@acme.dev&#x60;. Case-insensitive exact match, applied over the returned page.
    # @return [Array<(Array<ListOpsItemsResponseInner>, Integer, Hash)>] Array<ListOpsItemsResponseInner> data, response status code and response headers
    def list_ops_items_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.list_ops_items ...'
      end
      allowable_values = ["bug", "feature_request", "error", "alert", "all"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      allowable_values = ["open", "pending_approval", "investigating_by_ai", "in_progress", "blocked", "ready_for_qa", "resolved", "wont_fix", "all"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OpsApi.list_ops_items, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling OpsApi.list_ops_items, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/ops'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'owner'] = opts[:'owner'] if !opts[:'owner'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListOpsItemsResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.list_ops_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#list_ops_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a queue item
    # Update a queue item. The body is validated against the item's stored type: a `bug` accepts its content fields (title, steps-to-reproduce, actual/expected result) plus `status`/`priority`/`notify` and a GitHub PR link; a `feature_request` its content (title, description, use-case) plus the same triage fields; `error`/`alert`/`measure_plan` accept `status`/`priority`/`notify` only (their content is platform-owned). Pass at least one field.  Completing an `error` ticket (status `resolved` or `ready_for_qa`) also resolves the tracked error it links to; the error reopens automatically if it recurs — so completing is safe pre-deploy.  **Use cases**  - **Start working an item** — `{ \"status\": \"in_progress\" }`. - **Hand off for review** — `{ \"status\": \"ready_for_qa\" }` once the fix landed (the mode PR-based loops use). - **Triage** — `{ \"priority\": \"high\" }`, content edits on bug/feature items.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param update_ops_item_request [UpdateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateOpsItemResponse]
    def update_ops_item(handle, update_ops_item_request, opts = {})
      data, _status_code, _headers = update_ops_item_with_http_info(handle, update_ops_item_request, opts)
      data
    end

    # Update a queue item
    # Update a queue item. The body is validated against the item&#39;s stored type: a &#x60;bug&#x60; accepts its content fields (title, steps-to-reproduce, actual/expected result) plus &#x60;status&#x60;/&#x60;priority&#x60;/&#x60;notify&#x60; and a GitHub PR link; a &#x60;feature_request&#x60; its content (title, description, use-case) plus the same triage fields; &#x60;error&#x60;/&#x60;alert&#x60;/&#x60;measure_plan&#x60; accept &#x60;status&#x60;/&#x60;priority&#x60;/&#x60;notify&#x60; only (their content is platform-owned). Pass at least one field.  Completing an &#x60;error&#x60; ticket (status &#x60;resolved&#x60; or &#x60;ready_for_qa&#x60;) also resolves the tracked error it links to; the error reopens automatically if it recurs — so completing is safe pre-deploy.  **Use cases**  - **Start working an item** — &#x60;{ \&quot;status\&quot;: \&quot;in_progress\&quot; }&#x60;. - **Hand off for review** — &#x60;{ \&quot;status\&quot;: \&quot;ready_for_qa\&quot; }&#x60; once the fix landed (the mode PR-based loops use). - **Triage** — &#x60;{ \&quot;priority\&quot;: \&quot;high\&quot; }&#x60;, content edits on bug/feature items.
    # @param handle [String] Per-project item number (e.g. &#x60;7&#x60;) or the full ops item id.
    # @param update_ops_item_request [UpdateOpsItemRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateOpsItemResponse, Integer, Hash)>] UpdateOpsItemResponse data, response status code and response headers
    def update_ops_item_with_http_info(handle, update_ops_item_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.update_ops_item ...'
      end
      # verify the required parameter 'handle' is set
      if @api_client.config.client_side_validation && handle.nil?
        fail ArgumentError, "Missing the required parameter 'handle' when calling OpsApi.update_ops_item"
      end
      if @api_client.config.client_side_validation && handle.to_s.length > 128
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.update_ops_item, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && handle.to_s.length < 1
        fail ArgumentError, 'invalid value for "handle" when calling OpsApi.update_ops_item, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_ops_item_request' is set
      if @api_client.config.client_side_validation && update_ops_item_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_ops_item_request' when calling OpsApi.update_ops_item"
      end
      # resource path
      local_var_path = '/api/admin/ops/{handle}'.sub('{handle}', CGI.escape(handle.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_ops_item_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateOpsItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.update_ops_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#update_ops_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
