=begin
#Shipeasy Admin API (server-SDK surface)

#The slice of the Shipeasy admin API that the published server SDKs expose as their optional `AdminClient`. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Three capabilities, nothing else:  - **File a public ticket** — a bug or a feature request onto the project's ops queue. - **Toggle a kill switch** — flip the switch itself, or one of its named sub-switches, on one environment. - **Manage a flag's whitelist** — read, replace, add to, or remove from the allowlist that admits specific identities ahead of every targeting rule.  Everything else in the admin API is reachable through the Shipeasy CLI and MCP server, which speak the complete contract (`openapi.yaml`).

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class OpsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # File a bug
    # Files one bug onto a project's queue, awaiting human approval. This is the **public** intake: it authenticates with a *client* SDK key rather than an admin key, so it can be called from a CLI, an installer script, a devtools overlay, or any shipped code — the same places a client key already lives.  Three gates decide whether a ticket is filed, and nothing else the caller sends can widen them:  1. the key is a `client` key carrying the `tickets:public_create` scope, 2. the key's project has public ticket creation enabled, and 3. the item is filed as `pending_approval` — parked out of the work queue until a human promotes it in the dashboard.  The project is the key's own project; there is no `X-Project-Id` to pass and no way to file into someone else's queue. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns `200` with `deduped: true` instead of filing again.  Send a `dedupKey` to own that grain yourself — the same key from a monitor, a job, or a retried install re-triggers its open ticket: the ticket's fields are refreshed from the new payload and a \"re-triggered\" comment is appended (`200` with `deduped: true, updated: true`), so one recurring failure stays one ticket with its history intact.  This endpoint is served by the Shipeasy **edge worker** (`api.shipeasy.ai`), not the admin API — see `servers` below.  **Use case:** `shipeasy setup` fails on a customer's machine and self-reports the failure with the user's consent — `{ \"title\": \"Setup failed at Feature installs\", \"stepsToReproduce\": \"…\", \"actualResult\": \"…\" }`.
    # @param create_public_bug_request [CreatePublicBugRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePublicTicketResponse]
    def create_public_bug(create_public_bug_request, opts = {})
      data, _status_code, _headers = create_public_bug_with_http_info(create_public_bug_request, opts)
      data
    end

    # File a bug
    # Files one bug onto a project&#39;s queue, awaiting human approval. This is the **public** intake: it authenticates with a *client* SDK key rather than an admin key, so it can be called from a CLI, an installer script, a devtools overlay, or any shipped code — the same places a client key already lives.  Three gates decide whether a ticket is filed, and nothing else the caller sends can widen them:  1. the key is a &#x60;client&#x60; key carrying the &#x60;tickets:public_create&#x60; scope, 2. the key&#39;s project has public ticket creation enabled, and 3. the item is filed as &#x60;pending_approval&#x60; — parked out of the work queue until a human promotes it in the dashboard.  The project is the key&#39;s own project; there is no &#x60;X-Project-Id&#x60; to pass and no way to file into someone else&#39;s queue. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns &#x60;200&#x60; with &#x60;deduped: true&#x60; instead of filing again.  Send a &#x60;dedupKey&#x60; to own that grain yourself — the same key from a monitor, a job, or a retried install re-triggers its open ticket: the ticket&#39;s fields are refreshed from the new payload and a \&quot;re-triggered\&quot; comment is appended (&#x60;200&#x60; with &#x60;deduped: true, updated: true&#x60;), so one recurring failure stays one ticket with its history intact.  This endpoint is served by the Shipeasy **edge worker** (&#x60;api.shipeasy.ai&#x60;), not the admin API — see &#x60;servers&#x60; below.  **Use case:** &#x60;shipeasy setup&#x60; fails on a customer&#39;s machine and self-reports the failure with the user&#39;s consent — &#x60;{ \&quot;title\&quot;: \&quot;Setup failed at Feature installs\&quot;, \&quot;stepsToReproduce\&quot;: \&quot;…\&quot;, \&quot;actualResult\&quot;: \&quot;…\&quot; }&#x60;.
    # @param create_public_bug_request [CreatePublicBugRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePublicTicketResponse, Integer, Hash)>] CreatePublicTicketResponse data, response status code and response headers
    def create_public_bug_with_http_info(create_public_bug_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.create_public_bug ...'
      end
      # verify the required parameter 'create_public_bug_request' is set
      if @api_client.config.client_side_validation && create_public_bug_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_public_bug_request' when calling OpsApi.create_public_bug"
      end
      # resource path
      local_var_path = '/ops/bug'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_public_bug_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePublicTicketResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.create_public_bug",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#create_public_bug\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # File a feature request
    # Files one feature request onto a project's queue, awaiting human approval. The feature-request counterpart to `POST /ops/bug`, with the same three gates: a `client` key carrying `tickets:public_create`, a project that has opted in, and a `pending_approval` state forced server-side.  The project is the key's own project; there is no `X-Project-Id` to pass. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns `200` with `deduped: true` instead of filing again. A `dedupKey` works exactly as on `POST /ops/bug`: a repeat carrying the same key refreshes the open ticket and comments that it was re-triggered.  This endpoint is served by the Shipeasy **edge worker** (`api.shipeasy.ai`), not the admin API — see `servers` below.  **Use case:** An in-product \"request a feature\" form posts what the user asked for — `{ \"title\": \"Dark mode\", \"useCase\": \"Reduce eye strain at night\" }`.
    # @param create_public_feature_request_request [CreatePublicFeatureRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePublicTicketResponse]
    def create_public_feature_request(create_public_feature_request_request, opts = {})
      data, _status_code, _headers = create_public_feature_request_with_http_info(create_public_feature_request_request, opts)
      data
    end

    # File a feature request
    # Files one feature request onto a project&#39;s queue, awaiting human approval. The feature-request counterpart to &#x60;POST /ops/bug&#x60;, with the same three gates: a &#x60;client&#x60; key carrying &#x60;tickets:public_create&#x60;, a project that has opted in, and a &#x60;pending_approval&#x60; state forced server-side.  The project is the key&#39;s own project; there is no &#x60;X-Project-Id&#x60; to pass. Repeat submissions of the same title dedupe against the open ticket already tracking it, which returns &#x60;200&#x60; with &#x60;deduped: true&#x60; instead of filing again. A &#x60;dedupKey&#x60; works exactly as on &#x60;POST /ops/bug&#x60;: a repeat carrying the same key refreshes the open ticket and comments that it was re-triggered.  This endpoint is served by the Shipeasy **edge worker** (&#x60;api.shipeasy.ai&#x60;), not the admin API — see &#x60;servers&#x60; below.  **Use case:** An in-product \&quot;request a feature\&quot; form posts what the user asked for — &#x60;{ \&quot;title\&quot;: \&quot;Dark mode\&quot;, \&quot;useCase\&quot;: \&quot;Reduce eye strain at night\&quot; }&#x60;.
    # @param create_public_feature_request_request [CreatePublicFeatureRequestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePublicTicketResponse, Integer, Hash)>] CreatePublicTicketResponse data, response status code and response headers
    def create_public_feature_request_with_http_info(create_public_feature_request_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpsApi.create_public_feature_request ...'
      end
      # verify the required parameter 'create_public_feature_request_request' is set
      if @api_client.config.client_side_validation && create_public_feature_request_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_public_feature_request_request' when calling OpsApi.create_public_feature_request"
      end
      # resource path
      local_var_path = '/ops/feature-request'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_public_feature_request_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePublicTicketResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['clientSdkKey']

      new_options = opts.merge(
        :operation => :"OpsApi.create_public_feature_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpsApi#create_public_feature_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
