=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class TemplatesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a gate template
    # Creates a per-project (customer) targeting-rule template. Built-ins are read-only and cannot be created here. Returns `409` if a template with this `name` already exists in the project.
    # @param create_gate_template_request [CreateGateTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateGateTemplateResponse]
    def create_gate_template(create_gate_template_request, opts = {})
      data, _status_code, _headers = create_gate_template_with_http_info(create_gate_template_request, opts)
      data
    end

    # Create a gate template
    # Creates a per-project (customer) targeting-rule template. Built-ins are read-only and cannot be created here. Returns &#x60;409&#x60; if a template with this &#x60;name&#x60; already exists in the project.
    # @param create_gate_template_request [CreateGateTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateGateTemplateResponse, Integer, Hash)>] CreateGateTemplateResponse data, response status code and response headers
    def create_gate_template_with_http_info(create_gate_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.create_gate_template ...'
      end
      # verify the required parameter 'create_gate_template_request' is set
      if @api_client.config.client_side_validation && create_gate_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_gate_template_request' when calling TemplatesApi.create_gate_template"
      end
      # resource path
      local_var_path = '/api/admin/gates/templates'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_gate_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateGateTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"TemplatesApi.create_gate_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#create_gate_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a gate template
    # Soft-deletes (archives) a **customer** template. Returns `409` if `id` names a read-only built-in template.
    # @param id [String] Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteGateTemplateResponse]
    def delete_gate_template(id, opts = {})
      data, _status_code, _headers = delete_gate_template_with_http_info(id, opts)
      data
    end

    # Delete a gate template
    # Soft-deletes (archives) a **customer** template. Returns &#x60;409&#x60; if &#x60;id&#x60; names a read-only built-in template.
    # @param id [String] Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteGateTemplateResponse, Integer, Hash)>] DeleteGateTemplateResponse data, response status code and response headers
    def delete_gate_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.delete_gate_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TemplatesApi.delete_gate_template"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling TemplatesApi.delete_gate_template, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TemplatesApi.delete_gate_template, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/gates/templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteGateTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"TemplatesApi.delete_gate_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#delete_gate_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one gate template
    # Returns a single template by its `id` — a built-in slug (`country`) or a customer `gtpl_…` id.
    # @param id [String] Built-in slug (&#x60;country&#x60;) or customer template id (&#x60;gtpl_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [GateTemplate]
    def get_gate_template(id, opts = {})
      data, _status_code, _headers = get_gate_template_with_http_info(id, opts)
      data
    end

    # Get one gate template
    # Returns a single template by its &#x60;id&#x60; — a built-in slug (&#x60;country&#x60;) or a customer &#x60;gtpl_…&#x60; id.
    # @param id [String] Built-in slug (&#x60;country&#x60;) or customer template id (&#x60;gtpl_…&#x60;).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(GateTemplate, Integer, Hash)>] GateTemplate data, response status code and response headers
    def get_gate_template_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.get_gate_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TemplatesApi.get_gate_template"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling TemplatesApi.get_gate_template, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TemplatesApi.get_gate_template, the character length must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/gates/templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GateTemplate'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"TemplatesApi.get_gate_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#get_gate_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List gate templates
    # Returns the merged targeting-rule template catalog — read-only **built-ins first** (the `@team`/`@owner` audience aliases, country, email-domain, region presets, …), then this project's **customer** templates. Each item carries a `rules: [{ attr, op, value }]` definition; the alias templates carry a symbol value (`email in [\"@team\"]`) that the SDK expands to the resolved email list at rebuild.  **Turn \"launch X in country Y\" into a gated flag:** list templates (optionally with `q`), take the matching template's `rules`, substitute the concrete value(s), and pass them as the `rules` arg of `release_flags_create`.  The catalog is small and bounded, so the full merged set is returned in one page — this endpoint is **not** paginated (`next_cursor` is always `null`; there are no `limit`/`cursor` params).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @option opts [String] :query Deprecated alias for &#x60;q&#x60;, kept working for one release. Prefer &#x60;q&#x60;.
    # @return [ListGateTemplatesResponse]
    def list_gate_templates(opts = {})
      data, _status_code, _headers = list_gate_templates_with_http_info(opts)
      data
    end

    # List gate templates
    # Returns the merged targeting-rule template catalog — read-only **built-ins first** (the &#x60;@team&#x60;/&#x60;@owner&#x60; audience aliases, country, email-domain, region presets, …), then this project&#39;s **customer** templates. Each item carries a &#x60;rules: [{ attr, op, value }]&#x60; definition; the alias templates carry a symbol value (&#x60;email in [\&quot;@team\&quot;]&#x60;) that the SDK expands to the resolved email list at rebuild.  **Turn \&quot;launch X in country Y\&quot; into a gated flag:** list templates (optionally with &#x60;q&#x60;), take the matching template&#39;s &#x60;rules&#x60;, substitute the concrete value(s), and pass them as the &#x60;rules&#x60; arg of &#x60;release_flags_create&#x60;.  The catalog is small and bounded, so the full merged set is returned in one page — this endpoint is **not** paginated (&#x60;next_cursor&#x60; is always &#x60;null&#x60;; there are no &#x60;limit&#x60;/&#x60;cursor&#x60; params).
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [String] :q Case-insensitive substring filter across the resource&#39;s human-readable text columns (e.g. &#x60;name&#x60;, &#x60;title&#x60;, &#x60;description&#x60;). OR-matched across those columns; omit to return everything.
    # @option opts [String] :query Deprecated alias for &#x60;q&#x60;, kept working for one release. Prefer &#x60;q&#x60;.
    # @return [Array<(ListGateTemplatesResponse, Integer, Hash)>] ListGateTemplatesResponse data, response status code and response headers
    def list_gate_templates_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.list_gate_templates ...'
      end
      if @api_client.config.client_side_validation && !opts[:'q'].nil? && opts[:'q'].to_s.length > 100
        fail ArgumentError, 'invalid value for "opts[:"q"]" when calling TemplatesApi.list_gate_templates, the character length must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/api/admin/gates/templates'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListGateTemplatesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"TemplatesApi.list_gate_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#list_gate_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a gate template
    # Partial update of a **customer** template. `rules` replaces the list wholesale. Returns `409` if `id` names a read-only built-in template.
    # @param id [String] Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
    # @param update_gate_template_request [UpdateGateTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateGateTemplateResponse]
    def update_gate_template(id, update_gate_template_request, opts = {})
      data, _status_code, _headers = update_gate_template_with_http_info(id, update_gate_template_request, opts)
      data
    end

    # Update a gate template
    # Partial update of a **customer** template. &#x60;rules&#x60; replaces the list wholesale. Returns &#x60;409&#x60; if &#x60;id&#x60; names a read-only built-in template.
    # @param id [String] Customer template id (&#x60;gtpl_…&#x60;) or its &#x60;name&#x60;.
    # @param update_gate_template_request [UpdateGateTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateGateTemplateResponse, Integer, Hash)>] UpdateGateTemplateResponse data, response status code and response headers
    def update_gate_template_with_http_info(id, update_gate_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TemplatesApi.update_gate_template ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TemplatesApi.update_gate_template"
      end
      if @api_client.config.client_side_validation && id.to_s.length > 128
        fail ArgumentError, 'invalid value for "id" when calling TemplatesApi.update_gate_template, the character length must be smaller than or equal to 128.'
      end

      if @api_client.config.client_side_validation && id.to_s.length < 1
        fail ArgumentError, 'invalid value for "id" when calling TemplatesApi.update_gate_template, the character length must be greater than or equal to 1.'
      end

      # verify the required parameter 'update_gate_template_request' is set
      if @api_client.config.client_side_validation && update_gate_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_gate_template_request' when calling TemplatesApi.update_gate_template"
      end
      # resource path
      local_var_path = '/api/admin/gates/templates/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_gate_template_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateGateTemplateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"TemplatesApi.update_gate_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TemplatesApi#update_gate_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
