=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class TriggerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a recurring coding-agent trigger
    # Creates (or idempotently updates) a coding-agent **trigger** connector — the recurring, unattended run that burns down the ops queue in `--pr` mode. Discriminated on `provider`; only the four Shipeasy-fireable providers are accepted (`claude_trigger`, `cursor_trigger`, `copilot_trigger`, `jules_trigger`). Config + credential(s) arrive together; creates are idempotent by the provider's natural key, so re-creating updates the existing row.  Platforms without a fire endpoint (Codex, Windsurf, Cline, OpenClaw, OpenCode, Continue) cannot be created here — they are scheduled on their own platform (typically a GitHub Actions `schedule:` cron running the platform's headless CLI with the trigger prompt).  **Use cases**  - **Register a Claude routine** — after `RemoteTrigger {action:\"create\"}` returns `trig_…`, `{ \"provider\": \"claude_trigger\", \"config\": { \"routineId\": \"trig_…\" } }` (tokenless is fine; add the fire token later). - **Cold Cursor/Jules run** — repo coordinates + both keys; Shipeasy launches the run and the PR opens via the provider's GitHub App. - **Copilot cloud agent** — repo + a Copilot-licensed user PAT with the \"Agent tasks\" permission.
    # @param create_trigger_connector_request [CreateTriggerConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateConnectorResponse]
    def create_trigger_connector(create_trigger_connector_request, opts = {})
      data, _status_code, _headers = create_trigger_connector_with_http_info(create_trigger_connector_request, opts)
      data
    end

    # Create a recurring coding-agent trigger
    # Creates (or idempotently updates) a coding-agent **trigger** connector — the recurring, unattended run that burns down the ops queue in &#x60;--pr&#x60; mode. Discriminated on &#x60;provider&#x60;; only the four Shipeasy-fireable providers are accepted (&#x60;claude_trigger&#x60;, &#x60;cursor_trigger&#x60;, &#x60;copilot_trigger&#x60;, &#x60;jules_trigger&#x60;). Config + credential(s) arrive together; creates are idempotent by the provider&#39;s natural key, so re-creating updates the existing row.  Platforms without a fire endpoint (Codex, Windsurf, Cline, OpenClaw, OpenCode, Continue) cannot be created here — they are scheduled on their own platform (typically a GitHub Actions &#x60;schedule:&#x60; cron running the platform&#39;s headless CLI with the trigger prompt).  **Use cases**  - **Register a Claude routine** — after &#x60;RemoteTrigger {action:\&quot;create\&quot;}&#x60; returns &#x60;trig_…&#x60;, &#x60;{ \&quot;provider\&quot;: \&quot;claude_trigger\&quot;, \&quot;config\&quot;: { \&quot;routineId\&quot;: \&quot;trig_…\&quot; } }&#x60; (tokenless is fine; add the fire token later). - **Cold Cursor/Jules run** — repo coordinates + both keys; Shipeasy launches the run and the PR opens via the provider&#39;s GitHub App. - **Copilot cloud agent** — repo + a Copilot-licensed user PAT with the \&quot;Agent tasks\&quot; permission.
    # @param create_trigger_connector_request [CreateTriggerConnectorRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateConnectorResponse, Integer, Hash)>] CreateConnectorResponse data, response status code and response headers
    def create_trigger_connector_with_http_info(create_trigger_connector_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TriggerApi.create_trigger_connector ...'
      end
      # verify the required parameter 'create_trigger_connector_request' is set
      if @api_client.config.client_side_validation && create_trigger_connector_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_trigger_connector_request' when calling TriggerApi.create_trigger_connector"
      end
      # resource path
      local_var_path = '/api/admin/connectors/trigger'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_trigger_connector_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateConnectorResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"TriggerApi.create_trigger_connector",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TriggerApi#create_trigger_connector\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
