=begin
#Shipeasy Admin API

#REST API for managing feature gates, experiments, configs, universes, and killswitches in a Shipeasy project. Authenticate with an admin SDK key (`Authorization: Bearer sdk_admin_…`) and scope every request to a project via the `X-Project-Id` header.  Mint admin keys via `POST /api/admin/keys` with `type: \"admin\"`. Keys expire after 90 days; rotate with the `revoke` action.

The version of the OpenAPI document: 2.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Shipeasy::Admin::Generated
  class UniversesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a universe
    # Creates a new universe. Only `name` is required — `unit_type` defaults to `user_id` and `holdout_range` defaults to `null` (no holdout).  Returns `409` if `name` already exists in the project. Returns `403` if you supply `holdout_range` on a plan below Pro.  **Use cases**  - **Default universe** — `{ \"name\": \"primary_users\" }`. Per-user randomisation, no holdout. - **Reserved holdout** — supply `holdout_range` to carve out a measurement slice excluded from all experiments. - **Account-level** — `unit_type: 'account_id'` so multi-seat accounts see one consistent variant.
    # @param create_universe_request [CreateUniverseRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [CreateUniverseResponse]
    def create_universe(create_universe_request, opts = {})
      data, _status_code, _headers = create_universe_with_http_info(create_universe_request, opts)
      data
    end

    # Create a universe
    # Creates a new universe. Only &#x60;name&#x60; is required — &#x60;unit_type&#x60; defaults to &#x60;user_id&#x60; and &#x60;holdout_range&#x60; defaults to &#x60;null&#x60; (no holdout).  Returns &#x60;409&#x60; if &#x60;name&#x60; already exists in the project. Returns &#x60;403&#x60; if you supply &#x60;holdout_range&#x60; on a plan below Pro.  **Use cases**  - **Default universe** — &#x60;{ \&quot;name\&quot;: \&quot;primary_users\&quot; }&#x60;. Per-user randomisation, no holdout. - **Reserved holdout** — supply &#x60;holdout_range&#x60; to carve out a measurement slice excluded from all experiments. - **Account-level** — &#x60;unit_type: &#39;account_id&#39;&#x60; so multi-seat accounts see one consistent variant.
    # @param create_universe_request [CreateUniverseRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(CreateUniverseResponse, Integer, Hash)>] CreateUniverseResponse data, response status code and response headers
    def create_universe_with_http_info(create_universe_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UniversesApi.create_universe ...'
      end
      # verify the required parameter 'create_universe_request' is set
      if @api_client.config.client_side_validation && create_universe_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_universe_request' when calling UniversesApi.create_universe"
      end
      # resource path
      local_var_path = '/api/admin/universes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_universe_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateUniverseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"UniversesApi.create_universe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UniversesApi#create_universe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a universe
    # Soft-deletes the universe. Returns `409` if any non-archived experiment still references it — archive those experiments first.  **Use case:** Tear down a universe after every experiment that used it has been archived.
    # @param id [String] Stable opaque universe id (&#x60;uni_…&#x60;) or the universe&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [DeleteUniverseResponse]
    def delete_universe(id, opts = {})
      data, _status_code, _headers = delete_universe_with_http_info(id, opts)
      data
    end

    # Delete a universe
    # Soft-deletes the universe. Returns &#x60;409&#x60; if any non-archived experiment still references it — archive those experiments first.  **Use case:** Tear down a universe after every experiment that used it has been archived.
    # @param id [String] Stable opaque universe id (&#x60;uni_…&#x60;) or the universe&#39;s &#x60;name&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(DeleteUniverseResponse, Integer, Hash)>] DeleteUniverseResponse data, response status code and response headers
    def delete_universe_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UniversesApi.delete_universe ...'
      end
      # resource path
      local_var_path = '/api/admin/universes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteUniverseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"UniversesApi.delete_universe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UniversesApi#delete_universe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List universes
    # Returns a single page of universes ordered by `created_at desc, id desc`. The universes table has no `updated_at`, so this list is keyed on creation time.  **Use case:** Snapshot every universe in the project — for example to audit which `unit_type` and `holdout_range` are in use before launching a new experiment.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [ListUniversesResponse]
    def list_universes(opts = {})
      data, _status_code, _headers = list_universes_with_http_info(opts)
      data
    end

    # List universes
    # Returns a single page of universes ordered by &#x60;created_at desc, id desc&#x60;. The universes table has no &#x60;updated_at&#x60;, so this list is keyed on creation time.  **Use case:** Snapshot every universe in the project — for example to audit which &#x60;unit_type&#x60; and &#x60;holdout_range&#x60; are in use before launching a new experiment.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @option opts [Integer] :limit Page size (1–500). Defaults to 100. (default to 100)
    # @option opts [String] :cursor Opaque cursor returned in the previous page&#39;s &#x60;next_cursor&#x60;. Omit for the first page.
    # @return [Array<(ListUniversesResponse, Integer, Hash)>] ListUniversesResponse data, response status code and response headers
    def list_universes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UniversesApi.list_universes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UniversesApi.list_universes, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling UniversesApi.list_universes, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/admin/universes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListUniversesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"UniversesApi.list_universes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UniversesApi#list_universes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a universe
    # Partial update. Only `holdout_range` is mutable — `name` and `unit_type` are immutable after create.  Pass `\"holdout_range\": null` to remove an existing holdout.  **Use cases**  - **Adjust holdout** — change the reserved measurement slice without recreating experiments. - **Remove holdout** — `{ \"holdout_range\": null }`.
    # @param id [String] Stable opaque universe id (&#x60;uni_…&#x60;) or the universe&#39;s &#x60;name&#x60;.
    # @param update_universe_request [UpdateUniverseRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [UpdateUniverseResponse]
    def update_universe(id, update_universe_request, opts = {})
      data, _status_code, _headers = update_universe_with_http_info(id, update_universe_request, opts)
      data
    end

    # Update a universe
    # Partial update. Only &#x60;holdout_range&#x60; is mutable — &#x60;name&#x60; and &#x60;unit_type&#x60; are immutable after create.  Pass &#x60;\&quot;holdout_range\&quot;: null&#x60; to remove an existing holdout.  **Use cases**  - **Adjust holdout** — change the reserved measurement slice without recreating experiments. - **Remove holdout** — &#x60;{ \&quot;holdout_range\&quot;: null }&#x60;.
    # @param id [String] Stable opaque universe id (&#x60;uni_…&#x60;) or the universe&#39;s &#x60;name&#x60;.
    # @param update_universe_request [UpdateUniverseRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_project_id Project the request operates on. Optional — defaults to the project the SDK key belongs to; pass it only to scope a multi-project key (the generated client sets it once from its configuration, so per-call callers never thread it).
    # @return [Array<(UpdateUniverseResponse, Integer, Hash)>] UpdateUniverseResponse data, response status code and response headers
    def update_universe_with_http_info(id, update_universe_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UniversesApi.update_universe ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UniversesApi.update_universe"
      end
      # verify the required parameter 'update_universe_request' is set
      if @api_client.config.client_side_validation && update_universe_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_universe_request' when calling UniversesApi.update_universe"
      end
      # resource path
      local_var_path = '/api/admin/universes/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Project-Id'] = opts[:'x_project_id'] if !opts[:'x_project_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_universe_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateUniverseResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerSdkKey']

      new_options = opts.merge(
        :operation => :"UniversesApi.update_universe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UniversesApi#update_universe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
